<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣🚶🚶￣￣👬￣

-->
<html lang="en">
    {{> head }}
	<body>
        {{> nav}}
        <div class="still">
            <div class="everything-events">
                <div class="events-pc">Upcoming Events</div>
                {{# upcomingEvents}} 
                <div class="event-card">
                    <a href="{{fields.Link}}" target="_blank"><img class="event-image shadow" src="{{fields.CoverPhoto.0.url}}"></a>
                    <div class="event-card-info">
                        <div class="event-card-title">
                            {{fields.Name}}
                        </div>
                        <div class="event-card-description">
                            {{fields.Description}}
                        </div>
                        <a href="{{fields.Link}}" target="_blank" class="event-view">{{fields.Name}}</a>
                    </div>
                </div>
                {{/ upcomingEvents}}
                <div class="events-pc">Past Events</div>
                {{# pastEvents}}
                <div class="event-card">
                    <a href="{{fields.Link}}" target="_blank"><img class="event-image shadow" src="{{fields.CoverPhoto.0.url}}"></a>
                    <div class="event-card-info">
                        <div class="event-card-title">
                            {{fields.Name}}
                        </div>
                        <div class="event-card-description">
                            {{{fields.Description}}}
							<br/>
							<br/>
							Total Amount Raised: ${{fields.TotalAmountRaised}}
                        </div>
                        <a href="{{fields.Link}}" target="_blank" class="event-view">View on Facebook</a>
                    </div>
                </div>
                {{/ pastEvents}}
				<div class="events-pc">Parties</div>
                {{# parties}}
                <div class="event-card">
                    <a href="{{fields.Link}}" target="_blank"><img class="event-image shadow" src="{{fields.CoverPhoto.0.url}}"></a>
                    <div class="event-card-info">
                        <div class="event-card-title">
                            {{fields.Name}}
                        </div>
                        <div class="event-card-description">
                            {{fields.Description}}
                        </div>
                        <a href="{{fields.Link}}" target="_blank" class="event-view">View on Facebook</a>
                    </div>
                </div>
                {{/ parties}}
            </div>
        </div>

		<script src="../js/cheet.min.js"></script>
		<script>
            cheet('4 0', function () {
              $('.everything').css("background-color", "blue");
              $('.still').css("background-color", "blue");
            });

            cheet('d r o', function () {
              $('.everything').css("background-image", "url('http://i.imgur.com/BjimMRe.png')");
              $('.still').css("background-image", "url('http://i.imgur.com/BjimMRe.png')");
            });

			cheet('u s', function () {
              $('.still').css("background-image", "url('http://i.imgur.com/GSP2p6c.png')");
			  $('.still').css("background-position", "center");
			  $('.still').css("background-size", "contain");
			  $('.everything').css("background-color", "transparent");
            });
        </script>
        <script>
            $('#threed').click(function() {
                $('.still').fadeOut(500);
            });
            $(document).keyup(function(e) {
                if (e.which == 27) {
                    $('.still').fadeIn(500);
                }
            });
        </script>
        <script>
            $('#threed').click(function() {
                $('.nav').fadeOut(500);
            });
            $(document).keyup(function(e) {
                if (e.which == 27) {
                    $('.nav').fadeIn(500);
                }
            });
        </script>
        <script>
            $("#art1").hover(function(){
                $('#card1').fadeIn();
            },function(){
                $('#card1').fadeOut();
            });
            $("#art2").hover(function(){
                $('#card2').fadeIn();
            },function(){
                $('#card2').fadeOut();
            });
            $("#art3").hover(function(){
                $('#card3').fadeIn();
            },function(){
                $('#card3').fadeOut();
            });
            $("#art4").hover(function(){
                $('#card4').fadeIn();
            },function(){
                $('#card4').fadeOut();
            });
            $("#art5").hover(function(){
                $('#card5').fadeIn();
            },function(){
                $('#card5').fadeOut();
            });
            $("#art6").hover(function(){
                $('#card6').fadeIn();
            },function(){
                $('#card6').fadeOut();
            });
            $("#art7").hover(function(){
                $('#card7').fadeIn();
            },function(){
                $('#card7').fadeOut();
            });
            $("#art72").hover(function(){
                $('#card72').fadeIn();
            },function(){
                $('#card72').fadeOut();
            });
            $("#art73").hover(function(){
                $('#card73').fadeIn();
            },function(){
                $('#card73').fadeOut();
            });
            $("#art8").hover(function(){
                $('#card8').fadeIn();
            },function(){
                $('#card8').fadeOut();
            });
            $("#art82").hover(function(){
                $('#card82').fadeIn();
            },function(){
                $('#card82').fadeOut();
            });
            $("#art83").hover(function(){
                $('#card83').fadeIn();
            },function(){
                $('#card83').fadeOut();
            });
            $("#art9").hover(function(){
                $('#card9').fadeIn();
            },function(){
                $('#card9').fadeOut();
            });
            $("#art10").hover(function(){
                $('#card10').fadeIn();
            },function(){
                $('#card10').fadeOut();
            });
            $("#art102").hover(function(){
                $('#card102').fadeIn();
            },function(){
                $('#card102').fadeOut();
            });
            $("#art103").hover(function(){
                $('#card103').fadeIn();
            },function(){
                $('#card103').fadeOut();
            });

            $(document).ready(
            function(){
                $("#art1").click(function () {
                    $("#buy1").fadeIn(500);
                });

            });
            $(document).ready(
            function(){
                $("#art2").click(function () {
                    $("#buy2").fadeIn(500);
                });

            });
            $(document).ready(
            function(){
                $("#art3").click(function () {
                    $("#buy3").fadeIn(500);
                });

            });
            $(document).ready(
            function(){
                $("#art4").click(function () {
                    $("#buy4").fadeIn(500);
                });

            });
            $(document).ready(
            function(){
                $("#art5").click(function () {
                    $("#buy5").fadeIn(500);
                });

            });
            $(document).ready(
            function(){
                $("#art6").click(function () {
                    $("#buy6").fadeIn(500);
                });

            });
            $(document).ready(
            function(){
                $("#art7").click(function () {
                    $("#buy7").fadeIn(500);
                });

            });
            $(document).ready(
            function(){
                $("#art72").click(function () {
                    $("#buy72").fadeIn(500);
                });

            });
            $(document).ready(
            function(){
                $("#art73").click(function () {
                    $("#buy73").fadeIn(500);
                });

            });
            $(document).ready(
            function(){
                $("#art8").click(function () {
                    $("#buy8").fadeIn(500);
                });

            });
            $(document).ready(
            function(){
                $("#art82").click(function () {
                    $("#buy82").fadeIn(500);
                });

            });
            $(document).ready(
            function(){
                $("#art83").click(function () {
                    $("#buy83").fadeIn(500);
                });

            });
            $(document).ready(
            function(){
                $("#art9").click(function () {
                    $("#buy9").fadeIn(500);
                });

            });
            $(document).ready(
            function(){
                $("#art10").click(function () {
                    $("#buy10").fadeIn(500);
                });

            });
            $(document).ready(
            function(){
                $("#art102").click(function () {
                    $("#buy102").fadeIn(500);
                });

            });
            $(document).ready(
            function(){
                $("#art103").click(function () {
                    $("#buy103").fadeIn(500);
                });

            });

            $(document).ready(
            function(){
                $(".close").click(function () {
                    $(".buy").fadeOut(500);
                });

            });

            $(document).ready(
            function(){
                $(".close-full").click(function () {
                    $(".buy").fadeOut(500);
                });

            });
        </script>
        <script src="js/zoom-vanilla/zoom-vanilla.min.js"></script>
	</body>
</html>
