<!DOCTYPE html>
{{> ascii }}
<html lang="en">
	<head>
        {{> head-dinner}}
    </head>
	<body>
        {{> nav}}
        <div class="still">
            <div class="everything">
                <div class="dinner-event-title">
					Arrival Measures
					<br/><span class="super-low dinner-press-super-low">PRESS INFO</span>
				</div>
				<div class="dinner-event-floating">
					<img class="shadow" src="{{static_url}}arrival-measures/bringing-the-light-in.jpg">
				</div>
				<div class="dinner-event-description">
					You are invited to a special press engagement and private viewing for <span class="accent-container">Zoe<span class="accent"></span><span class="accent"></span></span> Pawlak's new exhibition at Centerfold Gallery.
				</div>
				<div class="dinner-event-description">
					<span class="super-low">PRESS ENGAGEMENT</span><br/>
					6<span class="super">PM</span> &mdash; 8<span class="super">PM</span><span class="hard-comma-container"> <span class="wow-i-am-good-at-typography">,</span></span> 09 February, 2018.<br/>
					Complimentary Dinner &amp; Drinks <a target="_blank" href="https://www.eventbrite.ca/e/arrival-measures-press-engagement-tickets-42450293972?utm-medium=discovery&utm-campaign=social&utm-content=attendeeshare&aff=escb&utm-source=cp&utm-term=listing" class="dinner-link">RSVP</a><br/>
					<br/>
					<a href="https://www.google.ca/maps/place/Centerfold+Gallery/@45.4784473,-73.6049808,17z/data=!3m1!4b1!4m5!3m4!1s0x4cc910a6f30a582f:0x676d2e500a6fc4a3!8m2!3d45.4784436!4d-73.602792" target="_blank">376 Ave. Victoria #110,<br/>
					Westmount, QC.</a><br/>
				</div>
				<div class="dinner-event-description">
					<br/>
					<br/>
					<br/>
					<a target="_blank" href="mailto:press@centerfold.gallery?subject=Press Inquiry about Arrival Measures" class="dinner-link">Email</a><br/>
					<br/>
					<span class="super-low">RESOURCES</span> &mdash; <a target="_blank" href="{{static_url}}arrival-measures/Arrival%20Measures%20Press%20Package.zip" class="dinner-link" download="Arrival Measures Press Package">Press Pack</a>
				</div>
				<div class="footer-space"></div>
				{{> footer}}
            </div>
        </div>
		<footer>
			{{> body-end}}
			<script>
			if (window.screen.width > 780) {
			  document.write(
			  '<script src="{{static_url}}js/three/laurent-3D.js"><\/script>'
			  )
			}
			</script>
			<script>
			$('.menu-collapse').click(function(){
				$('.menu').slideToggle('slow');
			});
			$('.menu').click(function(){
				$('.menu').slideToggle('slow');
			});
			</script>
	    </footer>
    </body>
</html>
