<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣🚶🚶￣￣👬￣

-->
<html lang="en">
	<head>
        {{> head}}
    </head>
	<body>
        {{> nav}}
        <div class="still">
            <div class="everything">
                <div class="dinner-event-title">
					this is not an apology
				</div>
				<!-- <img class="about-img shadow" id="about-img-1" src="{{static_url}}assets/pages/gallery/gallery-1.png" data-action="zoom"> -->
				<div class="footer-space"></div>
				{{> footer}}
            </div>
        </div>
		<footer>
			{{> body-end}}
			<script>
			if (window.screen.width > 780) {
			  document.write(
			  '<script src="{{static_url}}js/three/laurent-3D.js"><\/script>'
			  )
			}
			</script>
			<script src="{{static_url}}js/skrollr.min.js"></script>
	    </footer>
    </body>
</html>
