<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣🚶🚶￣￣👬￣

-->
<html lang="en">
	<head>
        {{> head}}
    </head>
	<body>
        {{> nav}}
        <div class="still" style="background-image: url('https://format-com-cld-res.cloudinary.com/image/private/s--K1XuC5fB--/c_limit,g_center,h_65535,w_1600/a_auto,fl_keep_iptc.progressive,q_95/v1/343d00b423e4455bbc387fc6fc740284/This_is_not_an_Apology_-_16x20.jpg'); background-size: cover; background-position: center;">
            <div class="everything">
                <div class="t4" style="margin-top: 0.8em; font-size: 10em; line-height: 1em; letter-spacing: 0.04em; width: 90%; padding-left: 5%; color: white;">
					this is not an apology
				</div>
				<!-- <img class="about-img shadow" id="about-img-1" src="{{static_url}}assets/pages/gallery/gallery-1.png" data-action="zoom"> -->
				<div class="footer-space"></div>
				{{> footer}}
            </div>
        </div>
		<footer>
			{{> body-end}}
			<script>
if (window.screen.width > 780) {
  document.write(
  '<script src="{{static_url}}js/three/laurent-3D.js"><\/script>'
  )
}
</script>
	    </footer>
    </body>
</html>
