<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣🚶🚶￣￣👬￣

-->
<html lang="en">
	<head>
        {{> head }}
    </head>
	<body>
		<div id="cert" class="cert-full">
			<div class="cert-box">
				<div class="cert-title">
					CERTIFICATE
				</div>
				<div class="cert-auth">
					This is to certify that the artwork evidenced by this certificate is authentic.
				</div>
				<div class="cert-description">
					Name of Artist: <textarea class="cert-description-input" rows="1">✎ Lorem ipsum </textarea><br/><br/>
					Title of Artwork: <textarea class="cert-description-input" rows="1">✎ Lorem ipsum </textarea><br/><br/>
					Artwork Description: <textarea class="cert-description-input cert-description-input-3" rows="5">✎ Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit maiores rem necessitatibus saepe quos facere minima laboriosam repudiandae, maxime, hic porro eum doloremque sit ullam ducimus dicta aspernatur exercitationem earum.</textarea><br/><br/>
					Medium &amp; Materials: <textarea class="cert-description-input" rows="1">✎ Lorem ipsum dolor sit amet, consectetur adipisicing elit.</textarea><br/><br/>
					Dimensions: <textarea class="cert-description-input" rows="1">✎ YYaa x ZZaa </textarea><br/><br/>
					Edition: <textarea class="cert-description-input" rows="1">✎ # of # (or "Original")</textarea><br/><br/>
					Year Created: <textarea class="cert-description-input" rows="1">✎ 20XX </textarea><br/><br/>
				</div>
				<div class="cert-auth-2">
					This certificate is the signature for the artwork and must accompany the artwork if sold or other transferred.
				</div>
				<div class="cert-signature">
					<div class="cert-signature-line-1"><center>Certified by <span class="cert-signature-line">_______________________</span><center></div>
					<div class="cert-signature-line-2"><span class="cert-signature-date">(Date)</span></div>
				</div>
			</div>
			<div class="cert-cf-logo"><img src="{{static_url}}assets/centerfold.png"</div>
			<div class="cert-pop-up shadow">
				Hi! You look like you are about to certify the authenticity of your artwork before you send it to us at Centerfold.
				<br/></br>
				Here's what to do:
				<br/><br/>
				0. Please do this in Chrome!<br/>
				1. Fill out all of the fields in the form denoted with "✎".<br/>
				2. Print this form out (Please print in portrait! Also, please deselect "Headers and footers" under "+ More Settings").<br/>
				3. Sign and date your signature on the line in the last box.<br/>
				4. Attach the form to the back of your artwork before you send it to us.<br/>
				5. Repeat steps 1-4 for any other artworks you may have for us.<br/>
				<br/><br/>
				Thanks!


			</div>
			<div class="cert-pop-up-info">?</div>
		</div>
		<input class="cert-print" type="button" onclick="printDiv('cert')" value="" />
		<script>
		function printDiv(cert) {
			 var originalContents = document.body.innerHTML;


			 window.print();

			 document.body.innerHTML = originalContents;
		}
		</script>
		<script>
			$(".cert-pop-up").click(function(){
				$(".cert-pop-up").fadeOut(500);
			})
			$(".cert-pop-up-info").click(function(){
				$(".cert-pop-up").fadeToggle(500);
			})
		</script>
	</body>
</html>
