<!DOCTYPE html>
{{> ascii }}
<html lang="en">
	<head>
        {{> head}}
    </head>
	<body>
        {{> nav}}
		{{> 3d-overlay}}
        <div class="still">
            <div class="everything">
				<div class="gs-container">
					<div class="gs-parallax-header">
						<img src="{{static_url}}general-store/general-store-logo.png"><img src="{{static_url}}general-store/general-store-logo-white.png" style="display:none;">
					</div>
					<div class="gs-parallax" id="gs-parallax">
						<div class="gs-para-layer" data-depth="0.4">
							<div class="gs-para-layer-container" id="gs-para-layer-1">
								<img class="shadow floating" id="gs-float-delay-1" src="{{static_url}}general-store/assets/bowls.svg">
							</div>
						</div>
						<div class="gs-para-layer" data-depth="0.2">
							<div class="gs-para-layer-container" id="gs-para-layer-2">
								<img class="shadow floating" id="gs-float-delay-2" src="{{static_url}}general-store/assets/chair.svg">
							</div>
						</div>
						<div class="gs-para-layer" data-depth="0.3">
							<div class="gs-para-layer-container" id="gs-para-layer-3">
								<img class="shadow floating" id="gs-float-delay-3" src="{{static_url}}general-store/assets/jewellery.svg">
							</div>
						</div>
						<div class="gs-para-layer" data-depth="0.3">
							<div class="gs-para-layer-container" id="gs-para-layer-4">
								<img class="shadow floating" id="gs-float-delay-4" src="{{static_url}}general-store/assets/plant.svg">
							</div>
						</div>
						<div class="gs-para-layer" data-depth="0.4">
							<div class="gs-para-layer-container" id="gs-para-layer-5">
								<img class="shadow floating" id="gs-float-delay-5" src="{{static_url}}general-store/assets/tag.svg">
							</div>
						</div>
						<div class="gs-para-layer" data-depth="0.4">
							<div class="gs-para-layer-container" id="gs-para-layer-6">
								<img class="shadow floating" id="gs-float-delay-6" src="{{static_url}}general-store/assets/tee.svg">
							</div>
						</div>
						<div class="gs-para-layer" data-depth="0.5">
							<div class="gs-para-layer-container" id="gs-para-layer-7">
								<img class="shadow floating" id="gs-float-delay-7" src="{{static_url}}general-store/assets/wine.svg">
							</div>
						</div>
						<div class="gs-para-layer" data-depth="0.3">
							<div class="gs-para-layer-container" id="gs-para-layer-8">
								<img class="shadow floating" id="gs-float-delay-8" src="{{static_url}}general-store/assets/zine.svg">
							</div>
						</div>
					</div>
				</div>
				<div class="dinner-event-title">
					GRAND OPENING
				</div>
				<div class="dinner-event-description">
					Centerfold is hosting an artists' market at Oatbox!<br/>
				</div>
				<div class="dinner-event-description">
					<span class="super-low">GENERAL STORE 001</span><br/>
					04 May, 2018 &mdash; 06 May, 2018.<br/>
					<a target="_blank" href="https://www.facebook.com/events/185519715414172/" class="dinner-link">RSVP</a><br/>
					<br/>
					<br/>
					<span class="super-low">Friday, May 4</span><br/>
					5<span class="super">PM</span> &mdash; 9<span class="super">PM</span><span class="hard-comma-container"> <span class="wow-i-am-good-at-typography">,</span></span><br/>
					<span class="super"><i class="em em-innocent"></i></span> <span class="dinner-link menu-collapse" id="menu-collapse-1">Vendors <span class="super-low">&#x25BC;</span></span><br/>
					<div class="menu" id="menu-1">
						<br/>
						Woolfell<br/>
						<span class="super"><a target="_blank" href="https://www.woolfell.net/"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://instagram.com/woolfellmtl"><i class="fa fa-instagram"></i></a></span><br/>
						Catrie<br/>
						<span class="super"><a target="_blank" href="http://www.catrie.com/"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://instagram.com/catrieartistejoailliere"><i class="fa fa-instagram"></i></a></span><br/>
						La Pimbêche<br/>
						<span class="super"><a target="_blank" href="https://www.etsy.com/shop/lapimbeche"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://instagram.com/la_pimbeche"><i class="fa fa-instagram"></i></a></span><br/>
						Collage Craft<br/>
						<span class="super"><a target="_blank" href="http://www.collagecrafting.etsy.com"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://instagram.com/collagecrafting"><i class="fa fa-instagram"></i></a></span><br/>
						Sauvage Tricot<br/>
						<span class="super"><a target="_blank" href="https://www.sauvagetricots.etsy.com"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://instagram.com/sauvagetricots"><i class="fa fa-instagram"></i></a></span><br/>
						Asset Designs<br/>
						<span class="super"><a target="_blank" href="http://assetdesignsapparel.com"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://instagram.com/asset_designs"><i class="fa fa-instagram"></i></a></span><br/>
						La Lichee<br/>
						<span class="super"><a target="_blank" href="https://lalichee.co/"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://www.instagram.com/lalichee.co/"><i class="fa fa-instagram"></i></a></span><br/>
					</div><br/>
					<br/>
					<span class="super-low">Saturday, May 5</span><br/>
					10<span class="super">AM</span> &mdash; 6<span class="super">PM</span><span class="hard-comma-container"> <span class="wow-i-am-good-at-typography">,</span></span><br/>
					<span class="super"><i class="em em-blossom"></i></span> <span class="dinner-link menu-collapse" id="menu-collapse-2">Vendors <span class="super-low">&#x25BC;</span></span><br/>
					<div class="menu" id="menu-2">
						<br/>
						Woolfell<br/>
						<span class="super"><a target="_blank" href="https://www.woolfell.net/"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://instagram.com/woolfellmtl"><i class="fa fa-instagram"></i></a></span><br/>
						Catrie<br/>
						<span class="super"><a target="_blank" href="https://www.woolfell.net/"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://instagram.com/woolfellmtl"><i class="fa fa-instagram"></i></a></span><br/>
						Bijoutify<br/>
						<span class="super"><a target="_blank" href="http://www.etsy.com/shop/Bijoutify"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://instagram.com/bijoutify"><i class="fa fa-instagram"></i></a></span><br/>
						La Pincée<br/>
						<span class="super"><a target="_blank" href="http://www.lapincee.ca/"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://instagram.com/lapincee"><i class="fa fa-instagram"></i></a></span><br/>
						Gabrielle Novellini<br/>
						<div class="menu-empty-space"></div>
						La Pimbêche<br/>
						<span class="super"><a target="_blank" href="https://www.etsy.com/shop/lapimbeche"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://instagram.com/la_pimbeche"><i class="fa fa-instagram"></i></a></span><br/>
						HydroFlora<br/>
						<span class="super"><a target="_blank" href="https://www.facebook.com/HydroFloraConcordia/"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://instagram.com/hydrofloramtl"><i class="fa fa-instagram"></i></a></span><br/>
						Asset Designs<br/>
						<span class="super"><a target="_blank" href="http://assetdesignsapparel.com"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://instagram.com/asset_designs"><i class="fa fa-instagram"></i></a></span><br/>
					</div><br/>
					<br/>
					<span class="super-low">Sunday, May 6</span><br/>
					10<span class="super">AM</span> &mdash; 6<span class="super">PM</span><span class="hard-comma-container"> <span class="wow-i-am-good-at-typography">,</span></span><br/>
					<span class="super"><i class="em em-crystal_ball"></i></span> <span class="dinner-link menu-collapse" id="menu-collapse-3">Vendors <span class="super-low">&#x25BC;</span></span><br/>
					<div class="menu" id="menu-3">
						<br/>
						Les Objets Perdu<br/>
						<span class="super"><a target="_blank" href="https://www.lesobjetsperdus.com/"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://instagram.com/lesobjetsperdus"><i class="fa fa-instagram"></i></a></span><br/>
						La Pimbêche<br/>
						<span class="super"><a target="_blank" href="https://www.etsy.com/shop/lapimbeche"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://instagram.com/la_pimbeche"><i class="fa fa-instagram"></i></a></span><br/>
						HydroFlora<br/>
						<span class="super"><a target="_blank" href="https://www.facebook.com/HydroFloraConcordia/"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://instagram.com/hydrofloramtl"><i class="fa fa-instagram"></i></a></span><br/>
						Asset Designs<br/>
						<span class="super"><a target="_blank" href="http://assetdesignsapparel.com"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://instagram.com/asset_designs"><i class="fa fa-instagram"></i></a></span><br/>
						La Lichee<br/>
						<span class="super"><a target="_blank" href="https://lalichee.co/"><i class="fa fa-globe"></i></a> &mdash; <a target="_blank" href="https://www.instagram.com/lalichee.co/"><i class="fa fa-instagram"></i></a></span><br/>
					</div><br/>
					<br/>
					<br/>
					<span class="super-low"><i class="em em-round_pushpin"></i></span><br/>
					<a href="https://goo.gl/maps/BPomFykcKhB2" target="_blank">3455 Boul. Saint-Laurent,<br/>
					Montréal, QC.</a><br/>
				</div>
				<!-- <div class="dinner-event-description">
					<br/>
					<br/>
					<br/>
					<br/>
					<span class="super-low">PRESS</span> &mdash; <a target="_blank" href="/gallery/arrival-measures/press" class="dinner-link">Info &amp; Resources</a>
				</div> -->
				<div class="footer-space"></div>
				{{> footer}}
            </div>
			<div class="dinner-event-floating">
				<img class="shadow dinner-event-floating-image" src="{{static_url}}general-store/assets/plant.svg">
			</div>
        </div>
		<footer>
			{{> body-end}}
			<script>
				$(".still").scroll(function () {
					var y = $(this).scrollTop();
					if (y > 690) {
						$('.dinner-event-floating-image').fadeIn(0);
					} else {
						$('.dinner-event-floating-image').fadeOut(0);
					}
				});
			</script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
			<script>
				var scene = document.getElementById('gs-parallax');
				var parallaxInstance = new Parallax(scene, {
				  relativeInput: true
				});
			</script>
			<script>
				$('#menu-collapse-1').click(function(){
					$('#menu-1').slideToggle('slow');
				});
				$('#menu-collapse-2').click(function(){
					$('#menu-2').slideToggle('slow');
				});
				$('#menu-collapse-3').click(function(){
					$('#menu-3').slideToggle('slow');
				});
			</script>
	    </footer>
    </body>
</html>
