<!DOCTYPE html>
{{> ascii }}
<html lang="en">
	<head>
        {{> head}}
    </head>
	<body>
        {{> nav}}
		{{> 3d-overlay}}
        <div class="still">
            <div class="everything">
				<div class="gs-container">
					<div class="gs-parallax-header">
						<img src="{{static_url}}general-store/general-store-logo.png"><img src="{{static_url}}general-store/general-store-logo-white.png" style="display:none;">
					</div>
					<div class="gs-parallax" id="gs-parallax">
						<div class="gs-para-layer" data-depth="0.4">
							<div class="gs-para-layer-container" id="gs-para-layer-1">
								<img class="shadow floating" id="gs-float-delay-1" src="{{static_url}}general-store/assets/bowls.svg">
							</div>
						</div>
						<div class="gs-para-layer" data-depth="0.2">
							<div class="gs-para-layer-container" id="gs-para-layer-2">
								<img class="shadow floating" id="gs-float-delay-2" src="{{static_url}}general-store/assets/chair.svg">
							</div>
						</div>
						<div class="gs-para-layer" data-depth="0.3">
							<div class="gs-para-layer-container" id="gs-para-layer-3">
								<img class="shadow floating" id="gs-float-delay-3" src="{{static_url}}general-store/assets/jewellery.svg">
							</div>
						</div>
						<div class="gs-para-layer" data-depth="0.3">
							<div class="gs-para-layer-container" id="gs-para-layer-4">
								<img class="shadow floating" id="gs-float-delay-4" src="{{static_url}}general-store/assets/plant.svg">
							</div>
						</div>
						<div class="gs-para-layer" data-depth="0.4">
							<div class="gs-para-layer-container" id="gs-para-layer-5">
								<img class="shadow floating" id="gs-float-delay-5" src="{{static_url}}general-store/assets/tag.svg">
							</div>
						</div>
						<div class="gs-para-layer" data-depth="0.4">
							<div class="gs-para-layer-container" id="gs-para-layer-6">
								<img class="shadow floating" id="gs-float-delay-6" src="{{static_url}}general-store/assets/tee.svg">
							</div>
						</div>
						<div class="gs-para-layer" data-depth="0.5">
							<div class="gs-para-layer-container" id="gs-para-layer-7">
								<img class="shadow floating" id="gs-float-delay-7" src="{{static_url}}general-store/assets/wine.svg">
							</div>
						</div>
						<div class="gs-para-layer" data-depth="0.3">
							<div class="gs-para-layer-container" id="gs-para-layer-8">
								<img class="shadow floating" id="gs-float-delay-8" src="{{static_url}}general-store/assets/zine.svg">
							</div>
						</div>
					</div>
				</div>
				<div class="centerfold-14">Coming Soon!</div>
				<div class="footer-space"></div>
				{{> footer}}
            </div>
        </div>
		<footer>
			{{> body-end}}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
			<script>
				var scene = document.getElementById('gs-parallax');
				var parallaxInstance = new Parallax(scene, {
				  relativeInput: true
				});
			</script>
	    </footer>
    </body>
</html>
