        <div id="overlay">

            <div id="instructions">
                <div class="instructions">
                    <div class="controls-description">
                        By replicating aspects of a physical space within the digital world, we’ve brought the gallery experience just a little bit closer to you. Please explore, and have fun!
                    </div>
                    <div class="controls-title">
                        Controls
                    </div>
                    <div class="controls-view">
                        <img src="{{static_url}}assets/controls.png">
                    </div>
                    <div class="controls-start"><span class="controls-start-button">Start</span></div>
                </div>
            </div>
        </div>
