
        <script src="{{static_url}}js/blazy.min.js"></script>
        <script>
            $(function() {
               var bLazy = new Blazy({
                   container: ".buy-art",
                   loadInvisible: true
               });
            });
        </script>
        <script>
         $(function() {
            var bLazy = new Blazy({
                container: ".everything",
                loadInvisible: true
            });
        });
        </script>
        <script src="{{static_url}}js/zoom-vanilla/zoom-vanilla.min.js"></script>
        <script>
            $('.threed').click(function() {
                $('.nav').fadeOut(500);
                $('.still').fadeOut(500);
            });
            $(document).keyup(function(e) {
                if (e.which == 27) {
                    $('.nav').fadeIn(500);
                    $('.still').fadeIn(500);
                }
            });
        </script>
        <script>
        $('a[href*="#"]')
            .not('[href="#"]')
            .not('[href="#0"]')
            .click(function(event) {
            if (
              location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
              &&
              location.hostname == this.hostname
            ) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              if (target.length) {
                event.preventDefault();
                $('html, body').animate({
                  scrollTop: target.offset().top
              }, 0, function() {
                  var $target = $(target);
                  $target.focus();
                  if ($target.is(":focus")) {
                    return false;
                  } else {
                    $target.attr('tabindex','-1');
                    $target.focus();
                  };
                });
              }
            }
        });
        </script>
        <script>
            jQuery(function ($) {
                $('button').click(function () {
                    $('button').removeClass('highlight')
                })
                $('button').click(function () {
                    $(this).toggleClass('highlight')
                })
            });
        </script>
        <script>
            $(function() {
                $(window).unload(function() {
                  var scrollPosition = $("div#still").scrollTop();
                  localStorage.setItem("scrollPosition", scrollPosition);
                });
                if(localStorage.scrollPosition) {
                  $("div#still").scrollTop(localStorage.getItem("scrollPosition"));
                }
            });
        </script>
        {{> night-mode }}
        <script src="{{static_url}}js/three.js"></script>
        <script src="{{static_url}}js/PointerLockControls.js"></script>
