<form action="https://centerfold-gallery.herokuapp.com/" method="POST">
    <script
        defer
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="pk_live_XepHFzcvrSK1Qf1TpJubSGlp"
        data-name="Centerfold Gallery"
        data-description="{{fields.Title}} - {{fields.Artist No Artist}}"
        data-amount="{{fields.Estimated Value (CAD)}}00"
    ></script>
    <input name="amount" value="{{fields.Estimated Value (CAD)}}00" type="hidden">
    <input name="description" value="{{fields.Title}} - {{fields.Artist No Artist}} ({{fields.Record-ID}})" type="hidden">
</form>
