<div class="art-filter-toggle">
    Filter
</div>
<div class="art-filter-box">
    Filter by Type:
    <br/><br/>
    <button type="button" data-filter="all">All</button>
    <br/>
    <button type="button" data-filter=".tag-arttype-Painting">Painting</button>
    <button type="button" data-filter=".tag-arttype-Photography">Photography</button>
    <button type="button" data-filter=".tag-arttype-Collage">Collage</button>
    <!-- <button type="button" data-filter=".tag-arttype-Sculpture">Sculpture</button> -->
    <!-- <button type="button" data-filter=".tag-arttype-Digital">Digital Works</button> -->
    <!-- <button type="button" data-filter=".tag-arttype-Installation">Installation</button> -->
    <button type="button" data-filter=".tag-arttype-Drawing">Drawing &amp; Illustration</button>
    <!-- <button type="button" data-filter=".tag-arttype-Printmaking">Printmaking</button> -->
    <!-- <button type="button" data-filter=".tag-arttype-Textiles">Textiles</button> -->
    <br/><br/>
    <br/><br/>
    Filter by Medium:
    <br/><br/>
    <button type="button" data-filter="all">All</button>
    <br/>
    <button type="button" data-filter=".tag-medium-Acrylic">Acrylic</button>
    <!-- <button type="button" data-filter=".tag-medium-Airbrush">Airbrush</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Bronze">Bronze</button> -->
    <button type="button" data-filter=".tag-medium-Canvas">Canvas</button>
    <!-- <button type="button" data-filter=".tag-medium-Card">Card Stock</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Cement">Cement</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Ceramic">Ceramic</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Chalk">Chalk</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Charcoal">Charcoal</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Clay">Clay</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Cloth">Cloth</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Colored">Colored Pencil</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Crayon">Crayon</button> -->
    <button type="button" data-filter=".tag-medium-Digital">Digital Print</button>
    <!-- <button type="button" data-filter=".tag-medium-Embossing">Embossing</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Engraving">Engraving</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Etching">Etching</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Fabric">Fabric</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Felt">Felt</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Film">Film Print</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Found">Found Objects</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Gesso">Gesso</button> -->
    <button type="button" data-filter=".tag-medium-Glass">Glass</button>
    <!-- <button type="button" data-filter=".tag-medium-Gouache">Gouache</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Granite">Granite</button> -->
    <button type="button" data-filter=".tag-medium-Graphite">Graphite</button>
    <button type="button" data-filter=".tag-medium-Ink">Ink</button>
    <!-- <button type="button" data-filter=".tag-medium-Intaglio">Intaglio</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Latex">Latex Paint</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Linen">Linen</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Linocut">Linocut</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Lithography">Lithography</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Marble">Marble</button> -->
    <button type="button" data-filter=".tag-medium-Marker">Marker</button>
    <!-- <button type="button" data-filter=".tag-medium-Metal">Metal</button> -->
    <button type="button" data-filter=".tag-medium-Mixed">Mixed Media</button>
    <!-- <button type="button" data-filter=".tag-medium-Monoprint">Monoprint</button> -->
    <button type="button" data-filter=".tag-medium-Oil">Oil</button>
    <button type="button" data-filter=".tag-medium-Paper">Paper</button>
    <!-- <button type="button" data-filter=".tag-medium-Paper-Mache">Paper-Mache</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Plaster">Plaster</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Plastic">Plastic</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Pencil">Pencil</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Plaster">Plaster</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Porcelain">Porcelain</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Scratchboard">Scratchboard</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Screenprint">Screenprint</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Spray">Spray Paint</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Stencil">Stencil</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Stone">Stone</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Tempera">Tempera</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Textile">Textile</button> -->
    <button type="button" data-filter=".tag-medium-Watercolor">Watercolor</button>
    <!-- <button type="button" data-filter=".tag-medium-Wax">Wax</button> -->
    <!-- <button type="button" data-filter=".tag-medium-Wire">Wire</button> -->
    <button type="button" data-filter=".tag-medium-Wood">Wood</button>
    <!-- <button type="button" data-filter=".tag-medium-Woodcut">Woodcut</button> -->
</div>
