    <div class="footer-border"></div>
    <div class="footer">
        <div class="footer-column">
            <a class="footer-logo" href="./"><img src="{{static_url}}assets/centerfold.svg"><img src="{{static_url}}assets/centerfold-white.svg" style="display:none"><!--<span class="beta-fix">BETA</span>--></a><br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
        <div class="footer-column">
            <a class="footer-link" href="/series">Series</a><br/>
            <a class="footer-link" href="/art">Art</a><br/>
            <a class="footer-link" href="/artists">Artists</a><br/>
            <br/>
            <a class="footer-link" href="/gallery">Gallery</a><br/>
            <a class="footer-link" href="/art">Featured Collections</a><br/>
            <a class="footer-link" href="/events">Events</a><br/>
            <br/>
            <br/>
            <br/>
        </div>
        <div class="footer-column">
            <a class="footer-link" href="/about">About</a><br/>
            <a class="footer-link" href="/about#contact">Contact</a><br/>
            <a class="footer-link" href="/faqs">FAQs</a><br/>
            <a class="footer-link" href="/privacy">Privacy Policy</a><br/>
            <br/>
            <a class="footer-link footer-link-away" href="https://airtable.com/shr6Ae2PpCMMDm4Yc" target="_blank">Submit Work</a><br/>
            <a class="footer-link" href="/tools/cert">Certificate of Authenticity</a><br/>
            <br/>
            <br/>
            <br/>
        </div>
        <div class="footer-column">
            <a class="footer-link" href="https://instagram.com/centerfold.gallery" target="_blank">Instagram</a><br/>
            <a class="footer-link" href="https://twitter.com/Centerfold_Art" target="_blank">Twitter</a><br/>
            <a class="footer-link" href="https://facebook.com/centerfoldgallery" target="_blank">Facebook</a><br/>
            <br/>
            <a class="footer-link footer-link-away" href="https://medium.com/centerfold" target="_blank">Blog</a><br/>
            <div id="mc_embed_signup">
            <form action="https://gallery.us16.list-manage.com/subscribe/post?u=1fa1a60cfe1e19c819a6c5660&amp;id=354e1f3a32" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">

                <div class="mc-field-group">
                	<label for="mce-EMAIL">Mailing List </label>
                	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
                    <div class="clear"><input type="submit" value="+" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            	<div id="mce-responses" class="clear">
            		<div class="response" id="mce-error-response" style="display:none"></div>
            		<div class="response" id="mce-success-response" style="display:none"></div>
            	</div> <!-- bot protection club-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1fa1a60cfe1e19c819a6c5660_354e1f3a32" tabindex="-1" value=""></div>
                </div>
            </form>
            </div><br/>
            <br/>
            <br/>
        </div>
    </div>
