<!DOCTYPE html>
{{> ascii }}
<html lang="en">
	<head>
        {{> head }}
    </head>
	<body>
        {{> nav-series-home }}
		{{> 3d-overlay }}
        <div class="still" id="still">
            <div class="everything" id="everything">
				<div class="home">
					<div class="home-container-logo">
						<img src="{{static_url}}assets/centerfold.svg"><img src="{{static_url}}assets/centerfold-white.svg" style="display:none">
					</div>
					<div class="home-container">
						<div class="home-container-images">
                            {{# homepageArtworks}}
                                <a href="art/{{fields.Unique-Artwork-ID}}"><img class="shadow" src="{{static_url}}art/{{fields.Image Type}}/{{fields.Unique-Artwork-ID}}-large.{{fields.Image Type}}"></a>
                            {{/ homepageArtworks}}
						</div>
					</div>
				</div>
				<div class="series-explainer-header">
                    Centerfold Series 000001
                </div>
				<div class="series-explainer">
					Built with love and gratitude for both the artists that make our world more beautiful, and those that enable artists to create. Our goal is to promote art and creativity by funding those who create. Our approach &mdash; a little different than what you might find elsewhere.<br/>
					<br/>
					How it works&mdash;<br/>
					<br/>
					<div class="series-explainer-list">
						&#8226; We’ve curated an exhibition by a number of artists around the world.
					</div>
					<div class="series-explainer-list">
						&#8226; To view the exhibit, you must pay an admission fee below.
					</div>
					<div class="series-explainer-list">
						&#8226; Once you’ve paid, you can view the exhibition and vote for your three favourite artworks
					</div>
					<div class="series-explainer-list">
						&#8226; The admission fees are pooled and then distributed amongst the participating artists based on the percentage of votes each artist receives:
					</div>
					<br/>
					Artist winnings = (100% of admission fees + 5% of sales) * (artist votes/total votes)<br/>
					<br/>
					<br/>
					This series is a direct rebuttal to the art gallery model &mdash; we believe artists should be compensated for the work they do, regardless of whether it sells or not.<br/>
					<br/>
					There’s a reason why working artists only make 57% of the median household income and only 10% of art grads actually work as artists, the system just doesn’t work. This, is our response.
					<br/>
					<br/>
					<div class="series-explainer-header">
	                    Donate to Enter
	                </div>
					<div class="series-donate-box">
						<div class="series-donate-object shadow">
							<div class="series-donate-header">
								$5 &mdash;
							</div>
							<div class="series-donate-button">
								<form action="https://centerfold-checkout.herokuapp.com/" method="POST">
								    <script
								        defer
								        src="https://checkout.stripe.com/checkout.js"
								        class="stripe-button"
								        data-key="{{stripeAPIKey}}"
								        data-name="Centerfold Gallery"
								        data-description="test donate"
								        data-amount="500"
								    ></script>
								    <input name="amount" value="500" type="hidden">
								    <input name="description" value="test donate" type="hidden">
								</form>
							</div>
						</div>
						<div class="series-donate-object shadow">
							<div class="series-donate-header">
								$10 &mdash;
							</div>
							<div class="series-donate-button">
								<form action="https://centerfold-checkout.herokuapp.com/" method="POST">
								    <script
								        defer
								        src="https://checkout.stripe.com/checkout.js"
								        class="stripe-button"
								        data-key="{{stripeAPIKey}}"
								        data-name="Centerfold Gallery"
								        data-description="test donate"
								        data-amount="1000"
								    ></script>
								    <input name="amount" value="1000" type="hidden">
								    <input name="description" value="test donate" type="hidden">
								</form>
							</div>
						</div>
						<div class="series-donate-object shadow">
							<div class="series-donate-header">
								$20 &mdash;
							</div>
							<div class="series-donate-button">
								<form action="https://centerfold-checkout.herokuapp.com/" method="POST">
								    <script
								        defer
								        src="https://checkout.stripe.com/checkout.js"
								        class="stripe-button"
								        data-key="{{stripeAPIKey}}"
								        data-name="Centerfold Gallery"
								        data-description="test donate"
								        data-amount="2000"
								    ></script>
								    <input name="amount" value="2000" type="hidden">
								    <input name="description" value="test donate" type="hidden">
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-space"></div>
				{{> footer}}
            </div>
        </div>
    </body>
    <footer>
		{{> body-end}}
    </footer>
</html>
