<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣ 🚶￣￣👭￣

-->
<html lang="en">
	<head>
        {{> head }}
    </head>
	<body>
        {{> nav-home }}
        <div class="still">
            <div class="everything">
				<div class="home">
					<div class="home-container-logo">
						<img src="{{static_url}}assets/centerfold.svg">
					</div>
					<div class="home-container">
						<div class="home-container-images">
                            {{# homepageArtworks}}
                                <a href="art/#art{{fields.Unique-Artwork-ID}}"><img class="shadow" src="{{static_url}}{{fields.Unique-Artwork-ID}}-large.jpg"></a>
                            {{/ homepageArtworks}}
						</div>
					</div>
				</div>
                <div class="centerfold-14">
                    Centerfold Gallery <img id="threed" class="threed-mobile animated infinite pulse" src="{{static_url}}assets/3d.png">
                </div>
                <div class="event-description">
                    <br/>
					Built with love and gratitude for both the artists that make our world more beautiful, and those that enable artists to create.
  					<br/>
					<br/>
					Be sure to check out our 3D functionality, which can be accessed through clicking on the “3D” icon above.
                </div>
				<div class="art mix" id="AF000001">
					<a href="/artist-focus" class="art-art">
						<video class="shadow" loop autoplay>
							<source src="{{static_url}}laurent-3D/lp.mp4" type="video/mp4">
							<source src="{{static_url}}laurent-3D/lp.ogg" type="video/ogg">
							<img src="image.gif">
							Your browser does not support videos :(
						</video>
					</a>
					<div class="artist-card-wrap">
						<div class="artist-card" id="cardAF000001">
							<span class="art-title">Andrew Nowacki</span><br/>
							Artist Feature &mdash; <span class="buy-2d">View</span><br/>
						</div>
					</div>
				</div>

				<div class="art" id="artFC000001">
					<a href="featured-collections/FC000001-moments-distorted" class="art-art">
						<video class="shadow" loop autoplay>
						<source src="{{static_url}}featured-collections/FC000001.mp4" type="video/mp4">
						<source src="{{static_url}}featured-collections/FC000001.ogg" type="video/ogg">
					</a>
					<div class="artist-card-wrap">
						<div class="artist-card" id="cardFC000001">
							<span class="art-title">Moments,, Distorted</span><br/>
							Featured Collection &mdash; <span class="buy-2d">View</span><br/>
						</div>
					</div>
				</div>

			<div class="footer"></div>
        </div>
	</body>
	<script>
		$(".still").scroll(function () {
			var y = $(this).scrollTop();
			if (y > 700) {
				$('.logo-home').fadeIn(500);
			} else {
				$('.logo-home').fadeOut(500);
			}
		});
	</script>
    <footer>
        {{> footer}}
		<script src="{{static_url}}js/three/three-main.js"></script>
    </footer>
</html>
