    <div class="nav">
        <div class="nav-left">
            <a href="/art" class="nav-link nav-art">Explore</a>
        </div>
        <div class="nav-right">
            <div id="night-mode"><i class="fa fa-moon-o" aria-hidden="true"></i></div> <a href="#threed" class="nav-link nav-3d threed">3D</a>
        </div>
        <div class="nav-social-links nav-social-links-about">
            <a class="nav-link nav-social" href="https://twitter.com/Centerfold_Art" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a class="nav-link nav-social" href="https://facebook.com/centerfoldgallery" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a class="nav-link nav-social" href="https://instagram.com/centerfold.gallery" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <a target="_blank" href="https://airtable.com/shrYREuYyVQkEd0gm" class="nav-submit">Submit</a>
    </div>
    <div class="logo"><a href="/#"><img src="{{static_url}}assets/centerfold.svg"><img src="{{static_url}}assets/centerfold-white.svg" style="display:none"><!--<span class="beta-fix">BETA</span>--></a></div>

    <script>
    var path = window.location.pathname;
    path = path.replace("/", "");
    $(".nav a").each(function(){
        var href = $(this).attr('href');
        if(path.substring(0, href.length) === href || href == "#"){
            $(this).addClass('nav-active');
        }
    });
    </script>
