    <div class="nav">
        <a href="../art" class="nav-link nav-art nav-active">ART</a>
        <a target="_blank" href="https://airtable.com/shr6Ae2PpCMMDm4Yc" class="nav-link nav-submit">Submit</a>
        <a href="../events" class="nav-link nav-events">EVENTS</a>
        <a href="../services" class="nav-link nav-services">SERVICES</a>
        <a href="../about" class="nav-link nav-about">ABOUT</a>
        <div class="nav-social-links nav-social-links-about">
            <a class="nav-link nav-social" href="https://twitter.com/Centerfold_Art" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a class="nav-link nav-social" href="https://facebook.com/centerfoldgallery" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a class="nav-link nav-social" href="https://instagram.com/centerfold.gallery" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="logo"><a href="../#"><img src="https://s3.amazonaws.com/centerfold-website/assets/centerfold.svg"></a></div>
    <script>
    var path = window.location.pathname;
    path = path.replace("/", "");
    $(".nav a").each(function(){
        var href = $(this).attr('href');
        if(path.substring(0, href.length) === href || href == "#"){
            $(this).addClass('nav-active');
        }
    });
    </script>
