    <div class="nav">
        <a href="#" class="nav-link nav-art">ART</a>
        <a href="events" class="nav-link nav-events">EVENTS</a>
        <a href="services" class="nav-link nav-services">SERVICES</a>
        <a href="about" class="nav-link nav-about">ABOUT</a>
        <div class="nav-social-links nav-social-links-about">
            <a class="nav-link nav-social" href="https://twitter.com/Centerfold_Art" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a class="nav-link nav-social" href="https://facebook.com/centerfoldgallery" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a class="nav-link nav-social" href="https://instagram.com/centerfold.gallery" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="logo"><a href="/#"><img src="{{static_url}}assets/centerfold.svg"></a></div>
    <div class="hello">
        This experience was designed to be viewed on a computer. You can <a href="mailto:?subject=Centerfold 3D Gallery&body=Experience the Centerfold 14 interactive gallery here: https://centerfold.gallery">click here</a> to send yourself an email to look at it later.
        <br/>
        <br/>
        <center>: ~ )</center>
    </div>
    <div id="overlay">

        <div id="instructions">
            <div class="instructions">
                <div class="controls-description">
                    By replicating aspects of a physical space within the digital world, we’ve brought the gallery experience just a little bit closer to you. Please explore, and have fun!
                </div>
                <div class="controls-title">
                    Controls
                </div>
                <div class="controls-view">
                    <img src="{{static_url}}assets/controls.png">
                </div>
                <div class="controls-start"><span class="controls-start-button">Start</span></div>
            </div>
        </div>
    </div>
    <script>
    var path = window.location.pathname;
    path = path.replace("/", "");
    $(".nav a").each(function(){
        var href = $(this).attr('href');
        if(path.substring(0, href.length) === href || href == "#"){
            $(this).addClass('nav-active');
        }
    });
    </script>