<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣ 🚶￣￣👭￣

-->
<html lang="en">
	<head>
        {{> head }}
    </head>
	<body>
        {{> nav }}
        <div class="still">
            <div class="everything">
                <div class="centerfold-14 featured-collection-header">
                    <img src="{{static_url}}featured-collections/FC000001-header.png"> <img id="threed" class="threed-mobile animated infinite pulse" src="{{static_url}}assets/3d.png">
                </div>
                <div class="event-description">
                    <br/>
					It’s always interesting to dwell on other people’s subjective experience of the world, for we can never know for certain how subjects are being interpreted by those around us. The crude philosophical chestnut comes to mind: “What if the blue I see is different from the one YOU see?” Fortunately, visual artists create windows through which we are able to see moments either encountered or envisioned outside of our own point of view.<br/>
					<br/>
					Our first featured collection works off of this idea. "Moments,, Distorted" puts together expressionistic artwork of ordinary moments in life, with portraiture and genre work comprising the main subject matter. Each of the works presents said moments in a distorted way: colours are improper, lines are loose or even non-existent, textures occur where they should not. To us, this distortion overlays the basic image with distinct moods and emotions, characterizing the artist’s expression, and ultimately offering a rich, layered snapshot of life through the mind of an other.
  					<br/>
					<br/>
                </div>
                {{# artPageArtworks}}
                    <div class="art tag-arttype-{{fields.Art Type}} tag-year-{{field.Year Created}} tag-framed-{{field.Framed}} tag-stretched-{{Streched}}" id="art{{fields.Unique-Artwork-ID}}">
                        <div class="art-art">
                            <img class="b-lazy shadow" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{static_url}}{{fields.Unique-Artwork-ID}}-large.jpg">
                        </div>
                        <div class="artist-card-wrap">
                            <div class="artist-card" id="card{{fields.Unique-Artwork-ID}}">
                                <span class="art-title">{{fields.Title}}</span><br/>
                                {{fields.Artist}}<br/>
                                <span class="art-medium">{{#fields.Medium}}<span>{{.}}</span>{{/fields.Medium}}</span><br/>
                                {{fields.Width (in)}}" x {{fields.Height (in)}}"<br/>
                                ${{fields.Estimated Value (CAD)}} &mdash; <span class="buy-2d">Buy</span>
                            </div>
                        </div>
                    </div>

                    <div class="buy buy{{fields.Unique-Artwork-ID}}" id="buy{{fields.Unique-Artwork-ID}}">
                        <div class="close">Back</div>
                        <div class="close-full"></div>
                        <div class="buy-flex">
                            <div class="buy-wrap">
                                <div class="buy-art shadow">
									<img src="{{static_url}}{{fields.Unique-Artwork-ID}}-large.jpg" data-action="zoom">
                                </div>
                                <div class="buy-artist-card-wrap">
                                    <div class="buy-artist-card">
                                        <span class="buy-art-title">{{fields.Title}}</span><br/>
                                        <span class="buy-art-artist">{{fields.Artist}}</span><br>
                                        <!-- <span class="buy-art-description">
                                            <br/>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, laboriosam, quia! Numquam ad, incidunt nisi temporibus quas animi delectus tenetur possimus aspernatur ut maxime consectetur repellat eveniet obcaecati repudiandae dolor.
                                        </span><br/> -->
										<br/>
                                        <span class="buy-art-medium">{{#fields.Medium}}<span>{{.}}</span>{{/fields.Medium}}</span><br/>
                                        {{fields.Width (in)}}" x {{fields.Height (in)}}"<br/>
                                        ${{fields.Estimated Value (CAD)}}.00<br/>
                                        <br/>
                                        {{> buy-button }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/ artPageArtworks}}
            </div>
			<div class="footer"></div>
        </div>
	</body>
	<script>
		$(".still").scroll(function () {
			var y = $(this).scrollTop();
			if (y > 700) {
				$('.logo-home').fadeIn(500);
			} else {
				$('.logo-home').fadeOut(500);
			}
		});
	</script>
    <footer>
        {{> footer}}
    </footer>
</html>
