<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣ 🚶￣￣👭￣

-->
<html lang="en">
	<head>
        {{> head-buy }}
    </head>
	<body>
        {{> nav-buy }}
        <div class="still">
            <div class="everything">

                    <div class="buy-buy-page buy{{fields.Unique-Artwork-ID}}" id="buy{{fields.Unique-Artwork-ID}}">
                        <div class="buy-flex">
                            <div class="buy-wrap">
                                <div class="buy-art">
									<img class="b-lazy shadow" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://s3.amazonaws.com/centerfold-website/art/{{fields.Unique-Artwork-ID}}-large.png" data-action="zoom">
                                </div>
                                <div class="buy-artist-card-wrap">
                                    <div class="buy-artist-card">
                                        <span class="buy-art-title">{{fields.Title}}</span><br/>
                                        <a href="/artists/{{fields.Artist ID String}}" class="buy-art-artist">{{fields.Artist No Artist}}</a><br>
                                        <!-- <span class="buy-art-description">
                                            <br/>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, laboriosam, quia! Numquam ad, incidunt nisi temporibus quas animi delectus tenetur possimus aspernatur ut maxime consectetur repellat eveniet obcaecati repudiandae dolor.
                                        </span><br/> -->
										<br/>
                                        <span class="buy-art-medium">{{#fields.Medium}}<span>{{.}}</span>{{/fields.Medium}}</span><br/>
                                        {{fields.Width (in)}}" x {{fields.Height (in)}}"<br/>
										<div class="sold-or-not">
											<span class="sold-a{{fields.Sold}} buy-2d"><br/><br/><div class="sold-circle"></div> SOLD</span>
											<span class="inquire-a{{fields.Inquire}} buy-2d"><a href="mailto:support@centerfold.gallery?subject=Inquiry about the price of {{fields.Title}} by {{fields.Artist No Artist}}">Inquire for Price</a></span>
					                        <span class="price">${{fields.Estimated Value (CAD)}}.00</span> <span class="shipping-container"><span class="shipping t1">+ ${{fields.Shipping Cost}}.00 Shipping</span><span class="shipping-hover t1">Learn more about shipping</span></span>
											<span class="shipping-info"><br/><br/>Shipping costs vary between $15 and $150 CAD depending on the value and dimensions of the artwork. This ensures we can deliver your artwork to you safely, wherever you are in the world. <br/><br/>If you have any questions about shipping please don't hesitate to get in contact with us at <a target="_blank" href="mailto:support@centerfold.gallery?subject=Question about shipping {{fields.Title}} by {{fields.Artist No Artist}}">support@centerfold.gallery</a>.<br/></span>
	                                        <br/>
											<br/>
	                                        {{> buy-button-buy }}
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
						<div class="footer-space-buy"></div>
						{{> footer-buy}}
                    </div>
            </div>
        </div>
	</body>
    <footer>
        {{> body-end-buy}}
    </footer>
</html>
