<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣ 🚶￣￣👭￣

-->
<html lang="en">
	<head>
        {{> head-buy }}
    </head>
	<body>
        {{> nav-buy }}
        <div class="still">
            <div class="everything">

                    <div class="buy-buy-page buy{{fields.Unique-Artwork-ID}}" id="buy{{fields.Unique-Artwork-ID}}">
                        <div class="buy-flex">
                            <div class="buy-wrap">
                                <div class="buy-art shadow">
									<img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://s3.amazonaws.com/centerfold-website/{{fields.Unique-Artwork-ID}}-large.jpg" data-action="zoom">
                                </div>
                                <div class="buy-artist-card-wrap">
                                    <div class="buy-artist-card">
                                        <span class="buy-art-title">{{fields.Title}}</span><br/>
                                        <a href="/artists/{{fields.Artist ID}}" class="buy-art-artist">{{fields.Artist No Artist}}</a><br>
                                        <!-- <span class="buy-art-description">
                                            <br/>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, laboriosam, quia! Numquam ad, incidunt nisi temporibus quas animi delectus tenetur possimus aspernatur ut maxime consectetur repellat eveniet obcaecati repudiandae dolor.
                                        </span><br/> -->
										<br/>
                                        <span class="buy-art-medium">{{#fields.Medium}}<span>{{.}}</span>{{/fields.Medium}}</span><br/>
                                        {{fields.Width (in)}}" x {{fields.Height (in)}}"<br/>
										<div class="sold-or-not">
											<span class="sold-a{{fields.Sold}} buy-2d"><br/><br/><div class="sold-circle"></div> SOLD</span>
					                        <span class="price">${{fields.Estimated Value (CAD)}}.00</span>
	                                        <br/>
											<br/>
	                                        {{> buy-button-buy }}
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
			<div class="footer-space"></div>
        </div>
	</body>
    <footer>
        {{> body-end-buy}}
    </footer>
</html>
