<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣🚶🚶￣￣👬￣

-->
<html lang="en">
	<head>
        {{> head}}
    </head>
	<body>
        {{> nav}}
        <div class="still">
            <div class="everything">
				<div class="boxflex" style="width:100%;height:100%;position:fixed;top:0;left:0;">
					<div class="about-description">
	                    Hi Susan &mdash; Thank you for purchasing "Anxious" by Cairo Justice. Below is a button we've made for you to complete the payment for shipping.<br/><br/>
						If you're interested in buying anything else please <a class="thank-you-link" href="mailto:info@centerfold.gallery">send us an email</a> and we will give you a 15% discount on your next purchase for you or a friend.
						<br/>
						<br/>
						If you would like to be notified of new art please <a class="thank-you-link" href="http://eepurl.com/c7kSq5">join our mailing list</a>.
						<br/><br/>
						We appreciate your business! <i class="em em-blush"></i>
	                </div><br/><br/>
					<form action="https://centerfold-gallery.herokuapp.com/" method="POST">
					    <script
					        defer
					        src="https://checkout.stripe.com/checkout.js"
					        class="stripe-button"
					        data-key="{{stripeAPIKey}}"
					        data-name="Centerfold Gallery"
					        data-description="Anxious by Cairo Justice - Shipping"
					        data-amount="2527"
					    ></script>
					    <input name="amount" value="2527" type="hidden">
					    <input name="description" value="Anxious by Cairo Justice - Shipping" type="hidden">
					</form>
				</div>

            </div>
        </div>
    </body>
    <footer>
        {{> footer}}
    </footer>
</html>
