<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣🚶🚶￣￣👬￣

-->
<html lang="en">
	<head>
        {{> head}}
    </head>
	<body>
        {{> nav}}
        <div class="still">
            <div class="everything">
                <div class="fourohno">
                    <img id="threed" class="fouromg animated infinite pulse" src="{{static_url}}assets/404.png">
					<img style="width:300px;height:auto;" src="https://camo.githubusercontent.com/a5180347854c8cbf6af3a1571e362dcc3e1d228c/68747470733a2f2f63656e746572666f6c642d67616c6c6572792e6769746875622e696f2f67616c6c6572792f6173736574732f6c6967687465727061796c6f61642e706e67"><br/>
					<div class="four-text">
						"Hi! This is my studio so you must be lost. I'm EZ. You can get back home by clicking "Centerfold" at the top of the page, or you can take a look at some art I'm curating by clicking on the 404 button above me.<br/><br/>
						Nice to meet you!"
					</div>
                </div>
            </div>
        </div>
	</body>
    <footer>
        {{> footer}}
		{{> body-end}}
    </footer>
</html>
