<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣🚶🚶￣￣👬￣

-->
<html lang="en">
	<head>
        {{> header}}
    </head>
	<body>
        {{> nav}}
        <div class="still">
            <div class="everything">
                <div class="fourohno">
                    <img id="threed" class="fouromg animated infinite pulse" src="404.png">
                </div>
            </div>
        </div>
	</body>
    <footer>
        {{> footer}}
    </footer>
</html>
