/* line 1, ../sass/56.scss */
* { margin: 0; padding: 0; }

/* line 6, ../sass/56.scss */
html, body { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* line 14, ../sass/56.scss */
::-moz-selection { color: #0000ff; }

/* line 15, ../sass/56.scss */
::selection { color: #0000ff; }

/* ::-webkit-scrollbar { display: none; } */
@font-face { font-family: caslon; src: url(../../assets/type/ACaslonPro-Italic.otf); }
@font-face { font-family: pressura-mono; src: url(../../assets/type/GT-Pressura-Mono-Regular.woff) format("woff"), url(../../assets/type/GT-Pressura-Mono-Regular.otf) format("opentype"), url(../../assets/type/GT-Pressura-Mono-Regular.ttf) format("truetype"); }
/* line 81, ../sass/56.scss */
a { text-decoration: none; color: inherit; -webkit-transition: .3s; -moz-transition: .3s; transition: .3s; cursor: pointer; }

/* line 90, ../sass/56.scss */
.inline-link { border-bottom: #000 5px solid; }

/* line 94, ../sass/56.scss */
body { background-color: #fffbfb; margin: 0; overflow: hidden; }

/* line 100, ../sass/56.scss */
canvas { position: fixed; width: 100%; height: 100%; }

/* line 106, ../sass/56.scss */
.logo { position: fixed; top: 30px; left: 50%; width: auto; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); z-index: 300; }

/* line 119, ../sass/56.scss */
.logo-home { display: none; }

/* line 123, ../sass/56.scss */
.logo a img { width: 120px; height: auto; }

/* line 1, ../sass/_nav.scss */
.nav { font-family: "Work Sans", sans-serif; font-weight: 500; font-size: 0.8em; }

/* line 7, ../sass/_nav.scss */
.nav-link { z-index: 560; padding-bottom: 3px; padding-top: 3px; padding-left: 3px; padding-right: 3px; }

/* line 15, ../sass/_nav.scss */
.nav-active { border-bottom: 0.6em solid #000; }

/* line 19, ../sass/_nav.scss */
.nav-art { position: fixed; top: 30px; left: 30px; }

/* line 25, ../sass/_nav.scss */
.nav-submit { position: fixed; top: 30px; left: 60px; }

/* line 31, ../sass/_nav.scss */
.nav-events { position: fixed; top: 30px; right: 30px; }

/* line 37, ../sass/_nav.scss */
.nav-services { position: fixed; bottom: 30px; left: 30px; }

/* line 43, ../sass/_nav.scss */
.nav-about { position: fixed; bottom: 30px; right: 30px; }

/* line 49, ../sass/_nav.scss */
.nav-social-links { position: fixed; bottom: 30px; right: 100px; z-index: 560; padding-top: 3px; padding-left: 3px; padding-right: 3px; }

/* line 59, ../sass/_nav.scss */
.nav-social { display: inline-block; opacity: 0.2; }

/* line 64, ../sass/_nav.scss */
.nav-social:hover { opacity: 1; }

/* line 130, ../sass/56.scss */
#overlay { position: absolute; width: 100%; height: 100%; background-color: transparent; z-index: 5; }

/* line 138, ../sass/56.scss */
#instructions { width: 100%; height: 100%; display: -webkit-box; display: -moz-box; display: box; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; box-orient: horizontal; -webkit-box-pack: center; -moz-box-pack: center; box-pack: center; -webkit-box-align: center; -moz-box-align: center; box-align: center; z-index: 6; }

/* line 156, ../sass/56.scss */
.instructions { width: 600px; background-color: #fffbfb; font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; font-size: 1em; line-height: 1.4em; -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.56); -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.56); box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.56); }

/* line 167, ../sass/56.scss */
.controls-description { padding: 1em; }

/* line 171, ../sass/56.scss */
.controls-title { width: 100%; text-align: center; margin-top: 1em; }

/* line 177, ../sass/56.scss */
.instructions img { margin-top: 1em; }

/* line 181, ../sass/56.scss */
.controls-view { width: 100%; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: column; margin-top: 1em; margin-bottom: 1em; }

/* line 188, ../sass/56.scss */
.controls-start { width: 100%; text-align: center; margin-top: 2em; margin-bottom: 2em; }

/* line 195, ../sass/56.scss */
.controls-start-button { border: 1px solid #000; padding: 1px 6px 2px 6px; cursor: pointer; -webkit-transition: .3s; -moz-transition: .3s; transition: .3s; }

/* line 204, ../sass/56.scss */
.controls-start-button:hover { border: 1px solid #000; background-color: #000; color: #fffbfb; cursor: pointer; }

/* line 211, ../sass/56.scss */
.still { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #fffbfb; /* background-color: rgba(240, 248, 255, 0.36); */ z-index: 100; overflow-y: scroll; overflow-x: hidden; -webkit-overflow-scrolling: touch; }

/* line 225, ../sass/56.scss */
.everything { width: 100%; background-size: cover; }

/* line 230, ../sass/56.scss */
.home { position: relative; width: 100%; height: 100vh; top: 0; left: 0; }

/* line 238, ../sass/56.scss */
.home-container-logo { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: column; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 210; pointer-events: none; }

/* line 249, ../sass/56.scss */
.home-container-logo img { width: 120px; height: auto; }

/* line 254, ../sass/56.scss */
.home-container { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: column; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 200; }

/* line 264, ../sass/56.scss */
.home-container-images { position: relative; width: 100%; height: 100%; }

/* line 270, ../sass/56.scss */
.home-container-images img { width: 250px; height: auto; }

/* line 275, ../sass/56.scss */
.home-container-images a:nth-of-type(1) { position: absolute; top: 100px; left: 250px; }

/* line 281, ../sass/56.scss */
.home-container-images a:nth-of-type(2) { position: absolute; bottom: 200px; right: 200px; }

/* line 287, ../sass/56.scss */
.home-container-images a:nth-of-type(3) { position: absolute; bottom: 100px; left: 400px; }

/* line 293, ../sass/56.scss */
.home-container-images a:nth-of-type(4) { position: absolute; top: 150px; right: 400px; }

/* line 299, ../sass/56.scss */
.centerfold-14 { font-family: "caslon", caslon, serif; font-size: 2em; color: #000; width: 100%; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: row; margin-top: 4em; padding-left: 1.2em; }

/* line 309, ../sass/56.scss */
.centerfold-14 img { display: inline-block; height: 1em; width: auto; margin-left: 1em; }

/* line 316, ../sass/56.scss */
.centerfold-14 img:hover { cursor: pointer; }

/* line 320, ../sass/56.scss */
.animated { animation-duration: 3s; animation-fill-mode: both; }

/* line 325, ../sass/56.scss */
.animated.infinite { animation-iteration-count: infinite; }

@keyframes pulse { from { transform: scale3d(1, 1, 1); }
  50% { transform: scale3d(0.9, 0.9, 0.9); }
  to { transform: scale3d(1, 1, 1); } }
/* line 343, ../sass/56.scss */
.pulse { animation-name: pulse; }

/* line 347, ../sass/56.scss */
.event-description { font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; font-size: 0.8em; line-height: 1.2em; color: #000; width: 30%; margin-top: 1em; margin-left: 50%; }

/* line 357, ../sass/56.scss */
.results-emp { font-family: "caslon", caslon, serif; font-size: 1.2em; }

/* line 362, ../sass/56.scss */
.results-link:hover { cursor: s-resize; }

/* line 366, ../sass/56.scss */
.submit { border-bottom: 4px solid #000; }

/* line 370, ../sass/56.scss */
.submit:hover { border-bottom: 6px solid #000; cursor: ne-resize; }

/* line 375, ../sass/56.scss */
.art { position: relative; margin-top: 16em; }

/* line 380, ../sass/56.scss */
.art:last-child { margin-bottom: 16em; }

/* line 384, ../sass/56.scss */
.art-art, .art-art img { width: 350px; height: auto; display: inline-block; }

/* line 391, ../sass/56.scss */
.artist-card-wrap { display: inline-block; font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; font-size: 0.8em; line-height: 1.2em; color: #000; position: absolute; top: 0; margin-left: 1em; }

/* line 402, ../sass/56.scss */
.art-art:hover, .artist-card-wrap:hover { cursor: pointer; }

/* line 407, ../sass/56.scss */
.artist-card { display: none; }

/* line 411, ../sass/56.scss */
.art-title { display: inline-block; font-family: "caslon", caslon, serif; line-height: 1.2em; color: #000; font-size: 1em; }

/* line 419, ../sass/56.scss */
.buy-2d { font-family: "caslon", caslon, serif; }

/* line 423, ../sass/56.scss */
.shadow { background-color: rgba(0, 0, 0, 0.56); -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.56); -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.56); box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.56); }

/* line 430, ../sass/56.scss */
.art:nth-child(16n+1) { margin-left: 30%; }

/* line 434, ../sass/56.scss */
.art:nth-child(16n+2) { margin-left: 60%; }

/* line 438, ../sass/56.scss */
.art:nth-child(16n+3) { margin-left: 45%; }

/* line 442, ../sass/56.scss */
.art:nth-child(16n+4) { margin-left: 55%; }

/* line 446, ../sass/56.scss */
.art:nth-child(16n+5) { margin-left: 15%; }

/* line 450, ../sass/56.scss */
.art:nth-child(16n+6) { margin-left: 35%; }

/* line 454, ../sass/56.scss */
.art:nth-child(16n+7) { margin-left: 25%; }

/* line 458, ../sass/56.scss */
.art:nth-child(16n+8) { margin-left: 50%; }

/* line 462, ../sass/56.scss */
.art:nth-child(16n+9) { margin-left: 35%; }

/* line 466, ../sass/56.scss */
.art:nth-child(16n+10) { margin-left: 50%; }

/* line 470, ../sass/56.scss */
.art:nth-child(16n+11) { margin-left: 10%; }

/* line 474, ../sass/56.scss */
.art:nth-child(16n+12) { margin-left: 45%; }

/* line 478, ../sass/56.scss */
.art:nth-child(16n+13) { margin-left: 30%; }

/* line 482, ../sass/56.scss */
.art:nth-child(16n+14) { margin-left: 20%; }

/* line 486, ../sass/56.scss */
.art:nth-child(16n+15) { margin-left: 40%; }

/* line 490, ../sass/56.scss */
.art:nth-child(16n+16) { margin-left: 50%; }

/* line 495, ../sass/56.scss */
.buy { position: fixed; top: 0; left: 0; background-color: #fffbfb; width: 100%; height: 100%; z-index: 200; display: none; }

/* line 506, ../sass/56.scss */
.buy-flex { width: 100%; height: 100%; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: row; position: relative; z-index: 601; pointer-events: none; }

/* line 515, ../sass/56.scss */
.close { position: fixed; top: 75px; left: 31px; cursor: w-resize; z-index: 602; font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; font-size: 0.8em; pointer-events: all; }

/* line 526, ../sass/56.scss */
.close-full { position: fixed; top: 0; left: 0; z-index: 599; width: 100%; height: 100%; background-color: transparent; pointer-events: all; }

/* line 537, ../sass/56.scss */
.buy-art, .buy-art img { width: 400px; height: auto; float: left; pointer-events: all; }

/* line 545, ../sass/56.scss */
.buy-artist-card-wrap { font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; font-size: 0.8em; color: #000; margin-left: 2em; float: right; pointer-events: all; }

/* line 554, ../sass/56.scss */
.buy-art-title { display: inline-block; font-family: "caslon", caslon, serif; color: #000; font-size: 2em; pointer-events: all; }

/* line 562, ../sass/56.scss */
.buy-art-artist { display: inline-block; font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; color: #000; font-size: 2em; pointer-events: all; }

/* line 570, ../sass/56.scss */
.buy-art-description { width: 400px; display: inline-block; font-family: "caslon", caslon, serif; color: #000; font-size: 1.2em; pointer-events: all; }

/* line 579, ../sass/56.scss */
body.zoom-overlay-open { cursor: -webkit-zoom-out; pointer-events: all; }

/* line 584, ../sass/56.scss */
.success { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #fffbfb; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: column; }

/* line 594, ../sass/56.scss */
.thank-you { width: 35%; font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; font-size: 0.8em; line-height: 1.2em; color: #000; }

/* line 602, ../sass/56.scss */
.thank-you-title { display: inline-block; font-family: "caslon", caslon, serif; color: #000; font-size: 2em; }

/* line 609, ../sass/56.scss */
.thank-you-link { border-bottom: #000 5px solid; }

/* line 613, ../sass/56.scss */
.hello { display: none; position: fixed; top: 0; left: 0; width: 80%; height: 80%; background-color: #fffbfb; color: #000; font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; background-image: url(../../assets/mobile-bg.png); background-position: bottom; background-size: 100%; background-repeat: no-repeat; font-size: 1em; line-height: 1.4em; z-index: 299; padding: 10%; padding-top: 30%; }

/* line 634, ../sass/56.scss */
.hello a { border-bottom: #000 5px solid; }

/* line 638, ../sass/56.scss */
#image-1 { display: none; }

/* ABOUT PAGE */
/* line 644, ../sass/56.scss */
.about-description { font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; font-size: 0.8em; line-height: 1.4em; color: #000; width: 30%; margin-top: 1em; }

/* line 653, ../sass/56.scss */
.about-description img { height: 2.4em; width: auto; display: inline-block; transform: translateY(9px); margin-right: 4px; }

/* line 661, ../sass/56.scss */
.about-description:nth-of-type(n+2) { margin-top: 8em; }

/* line 665, ../sass/56.scss */
#about-0 { font-family: "caslon", caslon, serif; font-size: 2em; color: #000; margin-top: 4em; padding-left: 1.2em; margin-left: 70%; transform: translateY(2em); }

/* line 675, ../sass/56.scss */
#about-0 img { display: inline-block; height: 1em; width: auto; margin-left: 1em; }

/* line 682, ../sass/56.scss */
#about-0 img:hover { cursor: pointer; }

/* line 686, ../sass/56.scss */
#about-1 { margin-left: 20%; margin-top: 0; }

/* line 691, ../sass/56.scss */
#about-2 { margin-left: 40%; }

/* line 695, ../sass/56.scss */
#about-3 { margin-left: 30%; }

/* line 699, ../sass/56.scss */
#about-4 { margin-left: 50%; }

/* line 703, ../sass/56.scss */
#about-5 { margin-left: 35%; }

/* line 707, ../sass/56.scss */
.about-img { width: 400px; height: auto; margin-top: 6em; }

/* line 713, ../sass/56.scss */
#about-img-1 { margin-left: 30%; }

/* line 717, ../sass/56.scss */
#about-img-2 { margin-left: 50%; }

/* line 721, ../sass/56.scss */
#about-img-3 { margin-left: 20%; }

/* line 725, ../sass/56.scss */
.centerfold-header { font-family: "caslon", caslon, serif; font-size: 2em; color: #000; width: 100%; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: row; margin-top: 4em; }

/* line 752, ../sass/56.scss */
.contact-card:last-of-type { margin-top: 2em; width: 100%; }

/* line 758, ../sass/56.scss */
.contact-name { font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; font-size: 1.2em; color: #000; }

/* line 764, ../sass/56.scss */
.contact-title { font-family: "caslon", caslon, serif; font-size: 0.8em; color: #000; }

/* line 770, ../sass/56.scss */
.contact-email { font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; font-size: 0.8em; color: #000; }

/* line 776, ../sass/56.scss */
.about-press-logo-container { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: row; width: 100%; height: 100px; margin-top: 3em; margin-bottom: 8em; }

/* line 784, ../sass/56.scss */
.about-press-logo { display: inline-block; margin-left: 25px; margin-right: 25px; opacity: 0.9; }

/* line 791, ../sass/56.scss */
.about-press-logo:hover { opacity: 1; }

/* line 795, ../sass/56.scss */
.about-press-logo img { max-height: 100px; max-width: 200px; }

/* line 800, ../sass/56.scss */
.service-space { height: 8em; }

/* line 804, ../sass/56.scss */
.everything-events { width: 60%; margin-left: 20%; }

/* line 809, ../sass/56.scss */
.everything-events:first-child { margin-top: 8em; }

/* line 813, ../sass/56.scss */
.everything-events:last-child { margin-bottom: 8em; }

/* line 817, ../sass/56.scss */
.events-pc { margin-top: 4em; font-family: "caslon", caslon, serif; font-size: 2em; }

/* line 823, ../sass/56.scss */
.event-card { margin-top: 4em; position: relative; }

/* line 828, ../sass/56.scss */
.event-image { max-width: 60%; height: auto; display: inline-block; }

/* line 834, ../sass/56.scss */
.event-card-info { width: 38%; margin-left: 0.4em; display: inline-block; position: absolute; top: 0; }

/* line 842, ../sass/56.scss */
.event-card-title { font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; font-size: 2em; }

/* line 847, ../sass/56.scss */
.event-card-description { font-family: "caslon", caslon, serif; font-size: 1em; line-height: 1.2em; margin-top: 16px; margin-bottom: 16px; }

/* line 855, ../sass/56.scss */
.event-view { font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; font-size: 0.8em; border-bottom: 0.6em solid #000; padding-left: 3px; padding-right: 3px; }

/* line 863, ../sass/56.scss */
.fourohno { width: 100%; height: 100%; position: fixed; top: 0; left: 0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: column; }

/* line 872, ../sass/56.scss */
.fouromg { cursor: pointer; }

/* line 878, ../sass/56.scss */
.cert-full { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: column; width: 100%; height: 100%; position: fixed; top: 0; left: 0; }

/* line 887, ../sass/56.scss */
.cert-box { width: 80%; height: 80%; border: 1pt solid black; }

/* line 893, ../sass/56.scss */
.cert-title { font-family: "Work Sans", sans-serif; font-weight: 800; font-size: 24px; height: 15%; width: 100%; border-bottom: 1px solid black; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: column; letter-spacing: 10px; }

/* line 904, ../sass/56.scss */
.cert-auth { font-family: "caslon", caslon, serif; height: 7%; width: 60%; border-bottom: 1px solid black; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: column; font-size: 12px; line-height: 26px; padding-left: 20%; padding-right: 20%; }

/* line 916, ../sass/56.scss */
.cert-description { font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; height: 50%; width: 90%; border-bottom: 1px solid black; font-size: 12px; line-height: 16px; padding-left: 5%; padding-right: 5%; padding-top: 3%; overflow-y: scroll; }

/* line 929, ../sass/56.scss */
textarea.cert-description-input::-webkit-scrollbar { display: none; }

/* line 933, ../sass/56.scss */
.cert-description-input::-moz-selection { color: #fff; background-color: #000; }

/* line 934, ../sass/56.scss */
.cert-description-input::selection { color: #fff; background-color: #000; }

/* line 936, ../sass/56.scss */
textarea.cert-description-input { width: 100%; background-color: transparent; font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; border: 0px solid; color: #333; display: inline-block; resize: none; }

/* line 946, ../sass/56.scss */
textarea:focus, input:focus { outline: none; }

/* line 950, ../sass/56.scss */
*:focus { outline: none; }

/* line 954, ../sass/56.scss */
.cert-auth-2 { font-family: "caslon", caslon, serif; height: 8%; width: 60%; border-bottom: 1px solid black; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: column; font-size: 12px; line-height: 26px; padding-left: 20%; padding-right: 20%; }

/* line 966, ../sass/56.scss */
.cert-signature { font-family: "caslon", caslon, serif; width: 60%; height: 20%; font-size: 16px; padding-left: 20%; padding-right: 20%; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: column; }

/* line 976, ../sass/56.scss */
.cert-signature-line-1, .cert-signature-line-2 { width: 100%; }

/* line 981, ../sass/56.scss */
.cert-signature-line { display: inline-block; color: #e3e3e3; margin-left: 14px; }

/* line 987, ../sass/56.scss */
.cert-signature-date { font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; font-size: 8px; float: right; }

/* line 993, ../sass/56.scss */
.cert-cf-logo { margin-top: 20px; }

/* line 997, ../sass/56.scss */
.cert-pop-up { position: fixed; z-index: 56; top: 100px; right: 100px; font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; font-size: 12px; width: 300px; height: 362px; background-color: #fffbfb; padding: 25px; cursor: ne-resize; }

/* line 1011, ../sass/56.scss */
.cert-pop-up-info { position: fixed; top: 10px; right: 10px; font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; cursor: help; }

/* line 1021, ../sass/56.scss */
[role="button"], input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }

/* Reset `button` and button-style `input` default styles */
/* line 1032, ../sass/56.scss */
input[type="submit"], input[type="reset"], input[type="button"], button { border: 0; color: inherit; /* cursor: default; */ font: inherit; line-height: normal; overflow: visible; padding: 0; -webkit-appearance: button; /* for input */ -webkit-user-select: none; /* for button */ -moz-user-select: none; -ms-user-select: none; }

/* line 1048, ../sass/56.scss */
input::-moz-focus-inner, button::-moz-focus-inner { padding: 0; }

/* Make `a` like a button */
/* line 1054, ../sass/56.scss */
[role="button"] { color: inherit; cursor: default; display: inline-block; text-align: center; text-decoration: none; white-space: pre; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }

/* line 1066, ../sass/56.scss */
.cert-print { position: fixed; bottom: 50px; right: 100px; width: 50px; height: 25px; background-color: #000; background-image: url("../../assets/elements/print-button.png"); background-position: center; background-size: contain; font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; font-size: 12px; padding: 25px; cursor: ne-resize; -webkit-transition: .3s; -moz-transition: .3s; transition: .3s; color: #fffbfb; background-repeat: no-repeat; margin: 1px; }

/* line 1088, ../sass/56.scss */
.cert-print:hover { cursor: pointer; }

@media print { /* line 1093, ../sass/56.scss */
  body { background-color: none; margin: 0; overflow: hidden; }
  /* line 1099, ../sass/56.scss */
  .cert-title { font-family: "Work Sans", sans-serif; font-weight: 800; font-size: 24px; height: 10%; width: 100%; border-bottom: 1px solid black; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: column; letter-spacing: 10px; }
  /* line 1110, ../sass/56.scss */
  .cert-auth { font-family: "caslon", caslon, serif; height: 7%; width: 60%; border-bottom: 1px solid black; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: column; font-size: 12px; line-height: 20px; padding-left: 20%; padding-right: 20%; }
  /* line 1122, ../sass/56.scss */
  .cert-description { font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; height: 60%; width: 90%; border-bottom: 1px solid black; font-size: 12px; line-height: 16px; padding-left: 5%; padding-right: 5%; padding-top: 5%; overflow-y: hidden; }
  /* line 1136, ../sass/56.scss */
  .cert-auth-2 { font-family: "caslon", caslon, serif; height: 8%; width: 60%; border-bottom: 1px solid black; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: column; font-size: 12px; line-height: 20px; padding-left: 20%; padding-right: 20%; }
  /* line 1148, ../sass/56.scss */
  .cert-signature { font-family: "caslon", caslon, serif; width: 60%; height: 10%; font-size: 16px; padding-left: 20%; padding-right: 20%; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: column; }
  /* line 1158, ../sass/56.scss */
  .cert-pop-up, .cert-pop-up-info { display: none; }
  /* line 1163, ../sass/56.scss */
  .cert-print { display: none; } }
/* line 1168, ../sass/56.scss */
.heartbeat { background-image: url("http://i.imgur.com/3hZNcw5.png"); background-position: bottom right; background-repeat: no-repeat; background-size: 50%; z-index: 1000; pointer-events: none; display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; }

/* line 1183, ../sass/56.scss */
.pop-up-circle-container { width: 100%; height: 100%; position: fixed; top: 0; left: 0; overflow: visible; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; flex-direction: column; z-index: 1000; }

/* line 1194, ../sass/56.scss */
.pop-up-circle { font-family: "pressura-mono", pressura-mono, Andale-Mono, AndaleMono, monospace; font-size: 1em; overflow: visible; }

/* line 1200, ../sass/56.scss */
.spin { -webkit-animation-name: spin; -webkit-animation-duration: 20000ms; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-name: spin; -moz-animation-duration: 20000ms; -moz-animation-iteration-count: infinite; -moz-animation-timing-function: linear; -ms-animation-name: spin; -ms-animation-duration: 20000ms; -ms-animation-iteration-count: infinite; -ms-animation-timing-function: linear; animation-name: spin; animation-duration: 20000ms; animation-iteration-count: infinite; animation-timing-function: linear; }

@-ms-keyframes spin { from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); } }
@-moz-keyframes spin { from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); } }
@keyframes spin { from { transform: rotate(0deg); }
  to { transform: rotate(360deg); } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) { /* line 2, ../sass/_mobile.scss */
  body { overflow: scroll; }
  /* line 6, ../sass/_mobile.scss */
  .hello { display: none; }
  /* line 10, ../sass/_mobile.scss */
  canvas { display: none; }
  /* line 14, ../sass/_mobile.scss */
  #overlay { display: none; }
  /* line 21, ../sass/_mobile.scss */
  .home { display: none; }
  /* line 25, ../sass/_mobile.scss */
  .threed-mobile { display: none; }
  /* line 29, ../sass/_mobile.scss */
  .centerfold-14 { padding-left: 0em; margin-top: 3em; }
  /* line 34, ../sass/_mobile.scss */
  img#threed.threed-mobile { display: none; }
  /* line 38, ../sass/_mobile.scss */
  .event-description { width: 80%; margin-left: 10%; }
  /* line 43, ../sass/_mobile.scss */
  .art { width: 100%; }
  /* line 47, ../sass/_mobile.scss */
  .art-art { width: 100%; }
  /* line 51, ../sass/_mobile.scss */
  .art-art img { width: 80%; margin-left: 10%; }
  /* line 56, ../sass/_mobile.scss */
  .artist-card { display: block; }
  /* line 60, ../sass/_mobile.scss */
  .artist-card-wrap { display: block; position: relative; margin-left: 10%; }
  /* line 66, ../sass/_mobile.scss */
  .buy { overflow-y: scroll; width: 100vw; height: 100vh; display: none; }
  /* line 73, ../sass/_mobile.scss */
  .buy-art img { width: 80%; margin-left: 10%; }
  /* line 78, ../sass/_mobile.scss */
  .art:nth-child(16n+1) { margin-left: 0%; }
  /* line 82, ../sass/_mobile.scss */
  .art:nth-child(16n+2) { margin-left: 0%; }
  /* line 86, ../sass/_mobile.scss */
  .art:nth-child(16n+3) { margin-left: 0%; }
  /* line 90, ../sass/_mobile.scss */
  .art:nth-child(16n+4) { margin-left: 0%; }
  /* line 94, ../sass/_mobile.scss */
  .art:nth-child(16n+5) { margin-left: 0%; }
  /* line 98, ../sass/_mobile.scss */
  .art:nth-child(16n+6) { margin-left: 0%; }
  /* line 102, ../sass/_mobile.scss */
  .art:nth-child(16n+7) { margin-left: 0%; }
  /* line 106, ../sass/_mobile.scss */
  .art:nth-child(16n+8) { margin-left: 0%; }
  /* line 110, ../sass/_mobile.scss */
  .art:nth-child(16n+9) { margin-left: 0%; }
  /* line 114, ../sass/_mobile.scss */
  .art:nth-child(16n+10) { margin-left: 0%; }
  /* line 118, ../sass/_mobile.scss */
  .art:nth-child(16n+11) { margin-left: 0%; }
  /* line 122, ../sass/_mobile.scss */
  .art:nth-child(16n+12) { margin-left: 0%; }
  /* line 126, ../sass/_mobile.scss */
  .art:nth-child(16n+13) { margin-left: 0%; }
  /* line 130, ../sass/_mobile.scss */
  .art:nth-child(16n+14) { margin-left: 0%; }
  /* line 134, ../sass/_mobile.scss */
  .art:nth-child(16n+15) { margin-left: 0%; }
  /* line 138, ../sass/_mobile.scss */
  .art:nth-child(16n+16) { margin-left: 0%; } }
