* {
    margin: 0;
    padding: 0;
}

html,
body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection { color: #0000ff; }
::selection { color: #0000ff; }
/* ::-webkit-scrollbar { display: none; } */

@font-face {
    font-family: caslon;
    src: url(../../assets/type/ACaslonPro-Italic.otf);
}

@font-face {
    font-family: pressura-mono;
    src: url(../../assets/type/GT-Pressura-Mono-Trial-Regular.otf);
}

@mixin boxflex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}

@mixin boxflexh {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: row;
}

$background-color: #fffbfb;

$color-1: #000;

$type-1: 'caslon', caslon;
$type-2: 'pressura-mono', pressura-mono, Andale-Mono, AndaleMono, monospace;

$type-size-1: 0.8em;
$line-height-1: 1.2em;

a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../../assets/waiting.gif) center repeat #ffffff;
}

body {
    background-color: #0000ff;
    margin: 0;
    overflow: hidden;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
}

.logo {
    width: 100%;
    height: 60px;
    @include boxflex;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 300;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 5;
}

#instructions {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    color: #000000;
    text-align: center;
    cursor: pointer;
    z-index: 6;
}

.still {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    /* background-color: rgba(240, 248, 255, 0.36); */
    z-index: 100;
    overflow-y: scroll;
    overflow-x: hidden;
}

.everything {
    width: 100%;
}

.centerfold-14 {
    font-family: $type-1;
    font-size: 2em;
    color: $color-1;
    width: 100%;
    @include boxflexh;
    margin-top: 4em;
    padding-left: 1.2em;
}

.centerfold-14 img {
    display: inline-block;
    height: 1em;
    width: auto;
    margin-left: 1em;
}

.centerfold-14 img:hover {
    cursor: pointer;
}

.event-description {
    font-family: $type-2;
    font-size: $type-size-1;
    line-height: $line-height-1;
    color: $color-1;
    width: 30%;
    margin-top: 1em;
    margin-left: 50%;
}

.art {
    position: relative;
    margin-top: 16em;
}

.art:last-child {
    margin-bottom: 16em;
}

.art-art,
.art-art img {
    width: 350px;
    height: 350px;
    display: inline-block;
}

.artist-card-wrap {
    display: inline-block;
    font-family: $type-2;
    font-size: $type-size-1;
    line-height: $line-height-1;
    color: $color-1;
    position: absolute;
    top: 0;
    margin-left: 1em;
}

.art-art:hover,
.artist-card-wrap:hover {
    cursor: pointer;
}

.artist-card {
    display: none;
}

.art-title {
    display: inline-block;
    font-family: $type-1;
    line-height: $line-height-1;
    color: $color-1;
    font-size: 1em;
}

.shadow {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.56);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.56);
}

#art1 {
    margin-left: 30%;
}

#art2 {
    margin-left: 60%;
}


.buy {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $background-color;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: none;
}

.buy-flex {
    width: 100%;
    height: 100%;
    @include boxflexh;
    position: relative;
}

.buy-art,
.buy-art img {
    width: 400px;
    height: 400px;
    float: left;
}

.buy-artist-card-wrap {
    font-family: $type-2;
    font-size: $type-size-1;
    color: $color-1;
    margin-left: 2em;
    float: right;
}

.buy-art-title {
    display: inline-block;
    font-family: $type-1;
    color: $color-1;
    font-size: 2em;
}

.buy-art-artist {
    display: inline-block;
    font-family: $type-2;
    color: $color-1;
    font-size: 2em;
}

.buy-art-description {
    width: 400px;
    display: inline-block;
    font-family: $type-1;
    color: $color-1;
    font-size: 1.2em;
}

.success {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    @include boxflex;
}

.thank-you {
    width: 35%;
    font-family: $type-2;
    font-size: $type-size-1;
    line-height: $line-height-1;
    color: $color-1;
}

.thank-you-title {
    display: inline-block;
    font-family: $type-1;
    color: $color-1;
    font-size: 2em;
}

.thank-you-link {
    border-bottom: $color-1 5px solid;
}

#image-1 {
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .iphone5 {}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .iphone6 {}
}