* {
    margin: 0;
    padding: 0;
}

html,
body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection { color: #0000ff; }
::selection { color: #0000ff; }
/* ::-webkit-scrollbar { display: none; } */

@font-face {
    font-family: caslon;
    src: url(../../fonts/ACaslonPro-Italic.otf);
}

@font-face {
    font-family: pressura-mono;
    src: url(../../fonts/GT-Pressura-Mono-Regular.woff) format('woff'),
        url(../../fonts/GT-Pressura-Mono-Regular.otf)  format('opentype'),
        url(../../fonts/GT-Pressura-Mono-Regular.ttf)  format('truetype');
}

@font-face {
    font-family: authentic;
    src: url(../../fonts/AUTHENTIC-Sans.woff) format('woff');
}

@mixin boxflex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}

@mixin boxflexh {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: row;
}

@mixin boxflex-null {
    display: -webkit-block;
    display: -moz-block;
    display: -ms-block;
    display: -webkit-block;
    display: block;
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.boxflex { @include boxflex }
.boxflex100 {
    @include boxflex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

$background-color: #fffbfb;
$night-color: #1f1a28;

$color-1: #000;
$color-2: #fffbfb;

$type-1: 'caslon', caslon, serif;
$type-2: 'pressura-mono', pressura-mono, Andale-Mono, AndaleMono, monospace;
$type-3: 'Work Sans', sans-serif;
$type-4: 'authentic', sans-serif;

$type-size-1: 0.8em;
$line-height-1: 1.2em;

@mixin kern {
    -moz-font-feature-settings:"kern" 1;
    -ms-font-feature-settings:"kern" 1;
    -o-font-feature-settings:"kern" 1;
    -webkit-font-feature-settings:"kern" 1;
    font-feature-settings:"kern" 1;
    font-kerning: normal;
}

.t1 {
    font-family: $type-1;
}

.t1-link {
    font-family: $type-1;
    border-bottom: 1px solid $color-1;
}

.t2 {
    font-family: $type-2;
}

.t3 {
    font-family: $type-3;
}

.t4 {
    font-family: $type-4;
}

.super {
    vertical-align: text-top;
    font-size: 0.6em;
}

.super-low {
    vertical-align: baseline;
    font-size: 0.6em;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.inline-link {
    border-bottom: $color-1 5px solid;
}

body {
    background-color: $background-color;
    margin: 0;
    overflow: hidden;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
}

@import "nav";

@import "footer";

#threed {
    opacity: 1;
}

#threed:hover {
    cursor: pointer;
}

.threed-button {
    color: $color-2;
    font-family: $type-4;
    font-size: 0.4em;
    padding: 0.3em 0.8em 0.2em 0.8em;
    margin-left: 1em;
    background-color: rgba(0,0,0,100);
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,100);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,100);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,100);
    @include boxflex;
    width: 6em;
    height: 1em;
}

.threed-feat {
    display: inline-block;
}

.threed-feat img {
    height: 3em;
    width: auto;
}

.threed-feat > .threed-button {
    font-size: 1em;
    margin-left: 0em;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 5;
}

#instructions {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    z-index: 6;
}

.instructions {
    width: 600px;
    background-color: $background-color;
    font-family: $type-2;
    font-size: 1em;
    line-height: 1.4em;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.56);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.56);
}

.controls-description {
    padding: 1em;
}

.controls-title {
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

.instructions img {
    margin-top: 1em;
}

.controls-view {
    width: 100%;
    @include boxflex;
    margin-top: 1em;
    margin-bottom: 1em;
}

.controls-start {
    width: 100%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.controls-start-button {
    border: 1px solid $color-1;
    padding: 1px 6px 2px 6px;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.controls-start-button:hover {
    border: 1px solid $color-1;
    background-color: $color-1;
    color: $background-color;
    cursor: pointer;
}

.still {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    /* background-color: rgba(240, 248, 255, 0.36); */
    z-index: 100;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.everything {
    width: 100%;
    background-size: cover;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.home-container-logo {
    @include boxflex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 210;
    pointer-events: none;
}

.home-container-logo img {
    width: 120px;
    height: auto;
}

.home-container {
    @include boxflex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}

.home-container-images {
    position: relative;
    width: 100%;
    height: 100%;
}

.home-container-images img {
    width: 250px;
    height: auto;
}

.home-container-images a:nth-of-type(1) {
    position: absolute;
    top: 100px;
    left: 250px;
}

.home-container-images a:nth-of-type(2) {
    position: absolute;
    bottom: 200px;
    right: 200px;
}

.home-container-images a:nth-of-type(3) {
    position: absolute;
    bottom: 100px;
    left: 400px;
}

.home-container-images a:nth-of-type(4) {
    position: absolute;
    top: 150px;
    right: 400px;
}

.home-container-images a:hover {
    cursor: s-resize;
}

.centerfold-14 {
    font-family: $type-1;
    font-size: 2em;
    color: $color-1;
    width: 100%;
    @include boxflexh;
    margin-top: 4em;
    padding-left: 2em;
}

.centerfold-14 img {
    display: inline-block;
    height: 1em;
    width: auto;
    margin-left: 1em;
}

.centerfold-14 img:hover {
    cursor: pointer;
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    animation-name: pulse;
}

.event-description {
    font-family: $type-2;
    font-size: $type-size-1;
    line-height: $line-height-1;
    color: $color-1;
    width: 30%;
    margin-top: 1em;
    margin-left: 50%;
}

.results-emp {
    font-family: $type-1;
    font-size: 1.2em;
}

.results-link:hover {
    cursor: s-resize;
}

.submit {
    border-bottom: 4px solid $color-1;
}

.submit:hover {
    border-bottom: 6px solid $color-1;
    cursor: ne-resize;
}

.art {
    position: relative;
    margin-top: 16em;
}

.art-filter-toggle {
    z-index: 150;
    position: fixed;
    top: 120px;
    left: 31px;
    font-family: $type-2;
    font-weight: 500;
    font-size: 0.6em;
    cursor: pointer;
}

.art-filter-box {
    z-index: 150;
    position: fixed;
    top: 120px;
    left: 31px;
    font-family: $type-2;
    font-weight: 500;
    font-size: 0.6em;
    max-width: 20%;
    display: none;
}

.art-filter-box button {
    padding: 4px;
    margin-right: 1.2em;
    margin-bottom: 0.8em;
    border: 1px solid $color-1;
    background: transparent;
    border-radius: 0px;
    cursor: pointer;
}

.art-filter-close {
    cursor: pointer;
}

button.highlight {
    background-color: $color-1;
    color: $color-2;
}

.art-art,
.art-art img,
.art-art video {
    width: 350px;
    height: auto;
    display: inline-block;
}

.artist-card-wrap {
    display: inline-block;
    font-family: $type-2;
    font-size: $type-size-1;
    line-height: $line-height-1;
    color: $color-1;
    position: absolute;
    top: 0;
    margin-left: 1em;
}

.art-art:hover,
.artist-card-wrap:hover {
    cursor: pointer;
}

.artist-card {
    display: none;
}

.collection-card {
    display: block;
}

.art-title {
    display: inline-block;
    font-family: $type-1;
    line-height: $line-height-1;
    color: $color-1;
    font-size: 1em;
}

.art-medium span:not(:last-of-type)::after {
  content: ", "
}

.infinite-scroll-request {
    width: 100%;
    height: 10%;
    margin-top: 10%;
    @include boxflex;
}

.buy-2d {
    font-family: $type-1;
}

.price {

}

.shipping {
    cursor: pointer;
}

.shipping-hover {
    display: none;
    cursor: pointer;
}

.shipping-container {
    position: relative;
}

.shipping-container:hover .shipping {
    display: none;
}

.shipping-container:hover .shipping-hover {
    display: inline-block;
}

.shipping-info {
    display: none;
    font-size: 0.8em;
    line-height: 0em;
    cursor: n-resize;
}

.sold-a { display: none }

.sold-atrue { display: block }

.sold-circle {
	border-radius: 50%;
	width: 10px;
	height: 10px;
    background-color: #ff0000;
    display: inline-block;
}

.sold-atrue ~ .price,
.sold-atrue ~ .shipping-container,
.sold-atrue ~ form {
    display: none;
}

.shadow {
    background-color: $background-color;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.56);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.56);
}

.art:nth-child(16n+1) {
    margin-left: 30%;
}

.art:nth-child(16n+2) {
    margin-left: 60%;
}

.art:nth-child(16n+3) {
    margin-left: 45%;
}

.art:nth-child(16n+4) {
    margin-left: 55%;
}

.art:nth-child(16n+5) {
    margin-left: 15%;
}

.art:nth-child(16n+6) {
    margin-left: 35%;
}

.art:nth-child(16n+7) {
    margin-left: 25%;
}

.art:nth-child(16n+8) {
    margin-left: 50%;
}

.art:nth-child(16n+9) {
    margin-left: 35%;
}

.art:nth-child(16n+10) {
    margin-left: 50%;
}

.art:nth-child(16n+11) {
    margin-left: 10%;
}

.art:nth-child(16n+12) {
    margin-left: 45%;
}

.art:nth-child(16n+13) {
    margin-left: 30%;
}

.art:nth-child(16n+14) {
    margin-left: 20%;
}

.art:nth-child(16n+15) {
    margin-left: 40%;
}

.art:nth-child(16n+16) {
    margin-left: 50%;
}

.artists-page-list {
    width: 80%;
    padding-left: 10%;
}

.artists-page-list-item {
    font-family: $type-4;
    font-size: 1em;
    line-height: 1.2em;
    color: $color-1;
    border-bottom: 1px solid $color-1;
}

.artists-list {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: $type-2;
    font-size: 0.8em;
}

.artists-list-columns {
    padding-left: 15%;
    column-count: 3;
    column-width: 30%;
}

.artist-page-artist,
.artist-page-bio {
    display: none;
}

.artist-page-artist:last-of-type,
.artist-page-bio:last-of-type {
    display: block;
}

.buy {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $background-color;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: none;
}

.buy-buy-page {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $background-color;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: block;
}

.buy-flex {
    width: 100%;
    height: 100%;
    @include boxflexh;
    position: relative;
    //z-index:  601;
    //pointer-events: none;
}

// .close {
//     position: fixed;
//     top: 75px;
//     left: 31px;
//     cursor: w-resize;
//     z-index: 602;
//     font-family: $type-2;
//     font-size: $type-size-1;
//     pointer-events: all;
// }
//
// .close-full {
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 599;
//     width: 100%;
//     height: 100%;
//     background-color: transparent;
//     pointer-events: all;
// }

.buy-art,
.buy-art img {
    width: auto;
    height: auto;
    max-height: 500px;
    max-width: 500px;
    float: left;
    pointer-events: all;
}

.buy-art img {
    cursor: zoom-in !important;
    cursor: -webkit-zoom-in !important;
}

.buy-artist-card-wrap {
    font-family: $type-2;
    font-size: $type-size-1;
    color: $color-1;
    margin-left: 2em;
    float: right;
    pointer-events: all;
}

.buy-art-title {
    display: inline-block;
    font-family: $type-1;
    color: $color-1;
    font-size: 2em;
    pointer-events: all;
}

.buy-art-artist {
    display: inline-block;
    font-family: $type-2;
    color: $color-1;
    font-size: 2em;
    line-height: 0.8em;
    pointer-events: all;
}

.buy-art-description {
    width: 400px;
    display: inline-block;
    font-family: $type-1;
    color: $color-1;
    font-size: 1.2em;
    pointer-events: all;
}

.buy-art-medium span:not(:last-of-type)::after {
  content: ", "
}

.sold-or-not {
    width: 200px;
    overflow-x: visible;
}

body.zoom-overlay-open {
    pointer-events: all;
    cursor: -webkit-zoom-out;
    cursor: zoom-out ;
}

.zoom-overlay {
    z-index: 561 !important;
    cursor: -webkit-zoom-out !important;
    cursor: zoom-out !important;
}

.success {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    @include boxflex;
}

.thank-you {
    width: 35%;
    font-family: $type-2;
    font-size: $type-size-1;
    line-height: $line-height-1;
    color: $color-1;
}

.thank-you-title {
    display: inline-block;
    font-family: $type-1;
    color: $color-1;
    font-size: 2em;
}

.thank-you-link {
    border-bottom: $color-1 5px solid;
}

.hello {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    background-color: $background-color;
    color: $color-1;
    font-family: $type-2;
    background-image: url(../../assets/mobile-bg.png);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 1em;
    line-height: 1.4em;
    z-index: 299;
    padding: 10%;
    padding-top: 30%;
}

.hello a {
    border-bottom: $color-1 5px solid;
}

#image-1 {
    display: none;
}

/* ABOUT PAGE */

.about-description {
    font-family: $type-2;
    font-size: $type-size-1;
    line-height: 1.4em;
    color: $color-1;
    width: 30%;
    margin-top: 1em;
}

.about-description img {
    height: 2.4em;
    width: auto;
    display: inline-block;
    transform: translateY(10px);
    margin-right: 4px;
}

.about-description:nth-of-type(n+2) {
    margin-top: 8em;
}

#about-0 {
    font-family: $type-1;
    font-size: 2em;
    color: $color-1;
    margin-top: 4em;
    padding-left: 1.2em;
    margin-left: 70%;
    transform: translateY(2em);
}

#about-0 img {
    display: inline-block;
    height: 1em;
    width: auto;
    margin-left: 1em;
}

#about-0 img:hover {
    cursor: pointer;
}

#about-1 {
    margin-left: 20%;
    margin-top: 0;
}

#about-2 {
    margin-left: 40%;
}

#about-3 {
    margin-left: 30%;
}

#about-4 {
    margin-left: 50%;
}

#about-5 {
    margin-left: 35%;
}

.about-img {
    width: 400px;
    height: auto;
    margin-top: 6em;
}

#about-img-1 {
    margin-left: 30%;
}

#about-img-2 {
    margin-left: 50%;
}

#about-img-3 {
    margin-left: 20%;
}

.gallery-hours-column {
    display: inline-block;
}

.gallery-hours-column:last-of-type {
    margin-left: 4em;
}

.centerfold-header {
    font-family: $type-1;
    font-size: 2em;
    color: $color-1;
    width: 100%;
    @include boxflexh;
    margin-top: 4em;
}

.contact {

}

// .contact-card:nth-of-type(odd) {
//     width: 15%;
//     display: inline-block;
//     margin-left: 30%;
//     margin-top: 2em;
// }
//
// .contact-card:nth-of-type(even) {
//     width: 15%;
//     display: inline-block;
//     margin-left: 10%;
//     margin-top: 2em;
// }

.contact-card:last-of-type {
    // margin-bottom: 6em;
    margin-top: 2em;
    width: 100%;
}

.contact-name {
    font-family: $type-2;
    font-size: 1.2em;
    color: $color-1;
}

.contact-title {
    font-family: $type-1;
    font-size: 0.8em;
    color: $color-1;
}

.contact-email {
    font-family: $type-2;
    font-size: 0.8em;
    color: $color-1;
}

.about-press-logo-container {
    @include boxflexh;
    width: 100%;
    height: 100px;
    margin-top: 3em;
    margin-bottom: 8em;
}

.about-press-logo {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    opacity: 1;
}

.about-press-logo img {
    max-height: 100px;
    max-width: 200px;
}

.service-space {
    height: 8em;
}

.everything-events {
    width: 60%;
    margin-left: 20%;
}

.everything-events:first-child {
    margin-top: 8em;
}

.everything-events:last-child {
    margin-bottom: 8em;
}

.events-pc {
    margin-top: 4em;
    font-family: $type-1;
    font-size: 2em;
}

.event-card {
    margin-top: 4em;
    position: relative;
}

.event-image {
    max-width: 60%;
    height: auto;
    display: inline-block;
}

.event-card-info {
    width: 38%;
    margin-left: 0.4em;
    display: inline-block;
    position: absolute;
    top: 0;
}

.event-card-title {
    font-family: $type-2;
    font-size: 2em;
}

.event-card-description {
    font-family: $type-1;
    font-size: 1em;
    line-height: $line-height-1;
    margin-top: 16px;
    margin-bottom: 16px;
}

.event-view {
    font-family: $type-2;
    font-size: $type-size-1;
    border-bottom: 0.6em solid $color-1;
    padding-left: 3px;
    padding-right: 3px;
}

.dinner-event-floating {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    @include boxflex;
    pointer-events: none;
    z-index: 1;
}

.dinner-event-floating img {
    height: 80%;
    width: auto;
    z-index: 1;
}

.dinner-event-title {
    font-family: $type-4;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0.8em;
    font-size: 8em;
    line-height: 0.9em;
    letter-spacing: 0.04em;
}

.dinner-event-description {
    font-family: $type-4;
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2em;
    font-size: 2em;
}

.dinner-link {
    border-bottom: 0.1em solid black;
    margin-bottom: 0.2em;
}

.dinner-art {
    margin-left: 20% !important;
}

.hard-comma-container {
    position: relative;
}

.wow-i-am-good-at-typography {
    position: absolute;
    left: -0.95em;
}

.menu-collapse {
    cursor: s-resize;
}

.menu {
    cursor: n-resize;
    display: none;
}

.dinner-press-super-low {
    font-size: 0.2em;
    letter-spacing: 0em;
}

.accent-container {
    position: relative;
}

.accent {
    border-radius: 50%;
	width: 0.12em;
	height: 0.12em;
    background-color: black;
    position: absolute;
}

.accent:first-child {
    top: 0.08em;
    right: 0.30em;
}

.accent:last-child {
    top: 0.08em;
    right: 0.1em;
}

.fourohno {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    @include boxflex;
}

.fouromg {
    cursor: pointer;
    margin-right: 400px;
}

.four-text {
    width: 40%;
    font-family: $type-2;
    font-size: $type-size-1;
    padding-left: 3px;
    padding-right: 3px;
}

.night-mode {
    background-color: $night-color !important;
    background: $night-color !important;
    color: #fff !important;
}

.night-mode-elements {
    background-color: $background-color !important;
    background: $background-color !important;
}

.night-shadow {
    background-color: $background-color;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(255, 249, 249, 0.56);
    -moz-box-shadow: 0px 0px 25px 0px rgba(255, 249, 249, 0.56);
    box-shadow: 0px 0px 25px 0px rgba(255, 249, 249, 0.56);
}

.night-threed-button {
    color: $night-color;
    font-family: $type-4;
    font-size: 0.4em;
    padding: 0.3em 0.8em 0.2em 0.8em;
    margin-left: 1em;
    background-color: rgba(255, 249, 249, 100);
    -webkit-box-shadow: 0px 0px 25px 0px rgba(255, 249, 249, 100);
    -moz-box-shadow: 0px 0px 25px 0px rgba(255, 249, 249, 100);
    box-shadow: 0px 0px 25px 0px rgba(255, 249, 249, 100);
    @include boxflex;
    width: 6em;
    height: 1em;
}

.night-image {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.night-underline {
    border-bottom: 0.1em solid $background-color;
}

.night-mode-input {
    border-bottom: 1px solid $background-color !important;
    color: $background-color;
}

.night-footer-border {
    background-color: $background-color;
}

// CERTIFICATE OF AUTHENTICATION

.cert-full {
    @include boxflex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.cert-box {
    width: 80%;
    height: 80%;
    border: 1pt solid black;
}

.cert-title {
    font-family: $type-3;
    font-weight: 800;
    font-size: 24px;
    height: 15%;
    width: 100%;
    border-bottom: 1px solid black;
    @include boxflex;
    letter-spacing: 10px;
}

.cert-auth {
    font-family: $type-1;
    height: 7%;
    width: 60%;
    border-bottom: 1px solid black;
    @include boxflex;
    font-size: 12px;
    line-height: 26px;
    padding-left: 20%;
    padding-right: 20%;
}

.cert-description {
    font-family: $type-2;
    height: 50%;
    width: 90%;
    border-bottom: 1px solid black;
    font-size: 12px;
    line-height: 16px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    overflow-y: scroll;
}

textarea.cert-description-input::-webkit-scrollbar {
    display: none;
}

.cert-description-input::-moz-selection { color: #fff; background-color: #000;}
.cert-description-input::selection { color: #fff; background-color: #000;}

textarea.cert-description-input {
    width: 100%;
    background-color: transparent;
    font-family: $type-2;
    border: 0px solid;
    color: #333;
    display: inline-block;
    resize: none;
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

.cert-auth-2 {
    font-family: $type-1;
    height: 8%;
    width: 60%;
    border-bottom: 1px solid black;
    @include boxflex;
    font-size: 12px;
    line-height: 26px;
    padding-left: 20%;
    padding-right: 20%;
}

.cert-signature {
    font-family: $type-1;
    width: 60%;
    height: 20%;
    font-size: 16px;
    padding-left: 20%;
    padding-right: 20%;
    @include boxflex;
}

.cert-signature-line-1,
.cert-signature-line-2 {
    width: 100%;
}

.cert-signature-line {
    display: inline-block;
    color: #e3e3e3;
    margin-left: 14px;
}

.cert-signature-date {
    font-family: $type-2;
    font-size: 8px;
    float: right;
}

.cert-cf-logo {
    margin-top: 20px;
}

.cert-pop-up {
    position: fixed;
    z-index: 56;
    top: 100px;
    right: 100px;
    font-family: $type-2;
    font-size: 12px;
    width: 300px;
    height: 362px;
    background-color: $background-color;
    padding: 25px;
    cursor: ne-resize;
}

.cert-pop-up-info {
    position: fixed;
    top: 10px;
    right: 10px;
    font-family: $type-2;
    cursor: help;
}



[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
}

/* Make `a` like a button */
[role="button"] {
    color: inherit;
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

.cert-print {
    position: fixed;
    bottom: 50px;
    right: 100px;
    width: 50px;
    height: 25px;
    background-color: $background-color;
    background-image: url("../../print-button-hover.png");
    background-position: center;
    background-size: contain;
    font-family: $type-2;
    font-size: 12px;
    padding: 25px;
    cursor: ne-resize;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    color: #000;
    background-repeat: no-repeat;
    margin: 1px;
}

.cert-print:hover {
    cursor: pointer;
}

@media print {
    body {
        background-color: none;
        margin: 0;
        overflow: hidden;
    }

    .cert-title {
        font-family: $type-3;
        font-weight: 800;
        font-size: 24px;
        height: 10%;
        width: 100%;
        border-bottom: 1px solid black;
        @include boxflex;
        letter-spacing: 10px;
    }

    .cert-auth {
        font-family: $type-1;
        height: 7%;
        width: 60%;
        border-bottom: 1px solid black;
        @include boxflex;
        font-size: 12px;
        line-height: 20px;
        padding-left: 20%;
        padding-right: 20%;
    }

    .cert-description {
        font-family: $type-2;
        height: 60%;
        width: 90%;
        border-bottom: 1px solid black;
        font-size: 12px;
        line-height: 16px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        overflow-y: hidden;
    }

    .cert-description-input-3 {
    }


    .cert-auth-2 {
        font-family: $type-1;
        height: 8%;
        width: 60%;
        border-bottom: 1px solid black;
        @include boxflex;
        font-size: 12px;
        line-height: 20px;
        padding-left: 20%;
        padding-right: 20%;
    }

    .cert-signature {
        font-family: $type-1;
        width: 60%;
        height: 10%;
        font-size: 16px;
        padding-left: 20%;
        padding-right: 20%;
        @include boxflex;
    }

    .cert-pop-up,
    .cert-pop-up-info {
        display: none;
    }

    .cert-print {
        display: none;
    }
}

.heartbeat {
    background-image: url('https://i.imgur.com/3hZNcw5.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 50%;
    z-index: 1000;
    pointer-events: none;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.featured-collection-header {
    font-family: $type-1;
    font-size: 2em;
    color: $color-1;
    width: 100%;
    @include boxflexh;
    margin-top: 4em;
    padding-left: 0em;
}

.featured-collection-header img {
    display: inline-block;
    height: auto;
    width: auto;
    margin-left: 0em;
}

.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 20000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 20000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 20000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    @import "mobile";
}
