* {
    margin: 0;
    padding: 0;
}

html,
body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection { color: #0000ff; }
::selection { color: #0000ff; }
/* ::-webkit-scrollbar { display: none; } */

@font-face {
    font-family: caslon;
    src: url(../../assets/type/ACaslonPro-Italic.otf);
}

@font-face {
    font-family: pressura-mono;
    src: url(../../assets/type/GT-Pressura-Mono-Regular.woff) format('woff'),
        url(../../assets/type/GT-Pressura-Mono-Regular.otf)  format('opentype'),
        url(../../assets/type/GT-Pressura-Mono-Regular.ttf)  format('truetype');
}

@mixin boxflex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}

@mixin boxflexh {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: row;
}

$background-color: #fffbfb;

$color-1: #000;

$type-1: 'caslon', caslon, serif;
$type-2: 'pressura-mono', pressura-mono, Andale-Mono, AndaleMono, monospace;
$type-3: 'Work Sans', sans-serif;

$type-size-1: 0.8em;
$line-height-1: 1.2em;

a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.inline-link {
    border-bottom: $color-1 5px solid;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../../assets/waiting.svg) center no-repeat #fffbfb;
}

body {
    background-color: $background-color;
    margin: 0;
    overflow: hidden;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
}

.logo {
    position: fixed;
    top: 30px;
    left: 50%;
    width: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 300;
}

.logo a img {
    width: 120px;
    height: auto;
}

.nav {
    font-family: $type-3;
    font-weight: 500;
    font-size: 0.8em;
}

.nav-link {
    z-index: 560;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.nav-active {
    border-bottom: 0.6em solid $color-1;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.nav-art {
    position: fixed;
    top: 30px;
    left: 30px;
}

.nav-events {
    position: fixed;
    top: 30px;
    right: 30px;
}

.nav-services {
    position: fixed;
    bottom: 30px;
    left: 30px;
}

.nav-about {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 5;
}

#instructions {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    z-index: 6;
}

.instructions {
    width: 600px;
    background-color: $background-color;
    font-family: $type-2;
    font-size: 1em;
    line-height: 1.4em;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.56);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.56);
}

.controls-description {
    padding: 1em;
}

.controls-title {
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

.instructions img {
    margin-top: 1em;
}

.controls-view {
    width: 100%;
    @include boxflex;
    margin-top: 1em;
    margin-bottom: 1em;
}

.controls-start {
    width: 100%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.controls-start-button {
    border: 1px solid $color-1;
    padding: 1px 6px 2px 6px;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.controls-start-button:hover {
    border: 1px solid $color-1;
    background-color: $color-1;
    color: $background-color;
    cursor: pointer;
}

.still {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    /* background-color: rgba(240, 248, 255, 0.36); */
    z-index: 100;
    overflow-y: scroll;
    overflow-x: hidden;
}

.everything {
    width: 100%;
}

.centerfold-14 {
    font-family: $type-1;
    font-size: 2em;
    color: $color-1;
    width: 100%;
    @include boxflexh;
    margin-top: 4em;
    padding-left: 1.2em;
}

.centerfold-14 img {
    display: inline-block;
    height: 1em;
    width: auto;
    margin-left: 1em;
}

.centerfold-14 img:hover {
    cursor: pointer;
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    animation-name: pulse;
}

.event-description {
    font-family: $type-2;
    font-size: $type-size-1;
    line-height: $line-height-1;
    color: $color-1;
    width: 30%;
    margin-top: 1em;
    margin-left: 50%;
}

.results-emp {
    font-family: $type-1;
    font-size: 1.2em;
}

.results-link:hover {
    cursor: s-resize;
}

.submit {
    border-bottom: 4px solid $color-1;
}

.submit:hover {
    border-bottom: 6px solid $color-1;
    cursor: ne-resize;
}

.art {
    position: relative;
    margin-top: 16em;
}

.art:last-child {
    margin-bottom: 16em;
}

.art-art,
.art-art img {
    width: 350px;
    height: 350px;
    display: inline-block;
}

.artist-card-wrap {
    display: inline-block;
    font-family: $type-2;
    font-size: $type-size-1;
    line-height: $line-height-1;
    color: $color-1;
    position: absolute;
    top: 0;
    margin-left: 1em;
}

.art-art:hover,
.artist-card-wrap:hover {
    cursor: pointer;
}

.artist-card {
    display: none;
}

.art-title {
    display: inline-block;
    font-family: $type-1;
    line-height: $line-height-1;
    color: $color-1;
    font-size: 1em;
}

.buy-2d {
    font-family: $type-1;
}

.shadow {
    background-color: rgba(0,0,0,0.56);
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.56);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.56);
}

#art1 {
    margin-left: 30%;
}

#art2 {
    margin-left: 60%;
}

#art3 {
    margin-left: 45%;
}

#art4 {
    margin-left: 55%;
}

#art5 {
    margin-left: 15%;
}

#art6 {
    margin-left: 35%;
}

#art7 {
    margin-left: 25%;
}

#art72 {
    margin-left: 50%;
}

#art73 {
    margin-left: 35%;
}

#art8 {
    margin-left: 50%;
}

#art82 {
    margin-left: 10%;
}

#art83 {
    margin-left: 45%;
}

#art9 {
    margin-left: 30%;
}

#art10 {
    margin-left: 20%;
}

#art102 {
    margin-left: 40%;
}

#art103 {
    margin-left: 50%;
}


.buy {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $background-color;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: none;
}

.buy-flex {
    width: 100%;
    height: 100%;
    @include boxflexh;
    position: relative;
    z-index:  601;
    pointer-events: none;
}

.close {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: w-resize;
    z-index: 602;
    font-family: $type-2;
    font-size: $type-size-1;
    pointer-events: all;
}

.close-full {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 599;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: all;
}

.buy-art,
.buy-art img {
    width: 400px;
    height: 400px;
    float: left;
    pointer-events: all;
}

.buy-artist-card-wrap {
    font-family: $type-2;
    font-size: $type-size-1;
    color: $color-1;
    margin-left: 2em;
    float: right;
    pointer-events: all;
}

.buy-art-title {
    display: inline-block;
    font-family: $type-1;
    color: $color-1;
    font-size: 2em;
    pointer-events: all;
}

.buy-art-artist {
    display: inline-block;
    font-family: $type-2;
    color: $color-1;
    font-size: 2em;
    pointer-events: all;
}

.buy-art-description {
    width: 400px;
    display: inline-block;
    font-family: $type-1;
    color: $color-1;
    font-size: 1.2em;
    pointer-events: all;
}

body.zoom-overlay-open {
    cursor: -webkit-zoom-out;
    pointer-events: all;
}

.success {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    @include boxflex;
}

.thank-you {
    width: 35%;
    font-family: $type-2;
    font-size: $type-size-1;
    line-height: $line-height-1;
    color: $color-1;
}

.thank-you-title {
    display: inline-block;
    font-family: $type-1;
    color: $color-1;
    font-size: 2em;
}

.thank-you-link {
    border-bottom: $color-1 5px solid;
}

.hello {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    background-color: $background-color;
    color: $color-1;
    font-family: $type-2;
    background-image: url(../../assets/mobile-bg.png);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 1em;
    line-height: 1.4em;
    z-index: 299;
    padding: 10%;
    padding-top: 30%;
}

.hello a {
    border-bottom: $color-1 5px solid;
}

#image-1 {
    display: none;
}


/* ABOUT PAGE */

.about-description {
    font-family: $type-2;
    font-size: $type-size-1;
    line-height: 1.4em;
    color: $color-1;
    width: 30%;
    margin-top: 1em;
}

.about-description img {
    height: 2.4em;
    width: auto;
    display: inline-block;
    transform: translateY(9px);
    margin-right: 4px;
}

.about-description:nth-of-type(n+2) {
    margin-top: 8em;
}

#about-0 {
    font-family: $type-1;
    font-size: 2em;
    color: $color-1;
    margin-top: 4em;
    padding-left: 1.2em;
    margin-left: 70%;
    transform: translateY(2em);
}

#about-0 img {
    display: inline-block;
    height: 1em;
    width: auto;
    margin-left: 1em;
}

#about-0 img:hover {
    cursor: pointer;
}

#about-1 {
    margin-left: 20%;
    margin-top: 0;
}

#about-2 {
    margin-left: 40%;
}

#about-3 {
    margin-left: 30%;
}

#about-4 {
    margin-left: 50%;
}

#about-5 {
    margin-left: 35%;
}

.centerfold-header {
    font-family: $type-1;
    font-size: 2em;
    color: $color-1;
    width: 100%;
    @include boxflexh;
    margin-top: 4em;
}

.contact {

}

.contact-card:nth-of-type(odd) {
    width: 15%;
    display: inline-block;
    margin-left: 30%;
    margin-top: 2em;
}

.contact-card:nth-of-type(even) {
    width: 15%;
    display: inline-block;
    margin-left: 10%;
    margin-top: 2em;
}

.contact-card:last-of-type {
    margin-bottom: 6em;
    width: 15%;
    margin-left: 42%;
}

.contact-name {
    font-family: $type-2;
    font-size: 1.2em;
    color: $color-1;
}

.contact-title {
    font-family: $type-1;
    font-size: 0.8em;
    color: $color-1;
}

.contact-email {
    font-family: $type-2;
    font-size: 0.8em;
    color: $color-1;
}

.everything-events {
    width: 60%;
    margin-left: 20%;
}

.everything-events:first-child {
    margin-top: 8em;
}

.everything-events:last-child {
    margin-bottom: 8em;
}

.events-pc {
    margin-top: 4em;
    font-family: $type-1;
    font-size: 2em;
}

.event-card {
    margin-top: 4em;
    position: relative;
}

.event-image {
    max-width: 60%;
    height: auto;
    display: inline-block;
}

.event-card-info {
    width: 38%;
    margin-left: 0.4em;
    display: inline-block;
    position: absolute;
    top: 0;
}

.event-card-title {
    font-family: $type-2;
    font-size: 2em;
}

.event-card-description {
    font-family: $type-1;
    font-size: 1em;
    line-height: $line-height-1;
    margin-top: 16px;
    margin-bottom: 16px;
}

.event-view {
    font-family: $type-2;
    font-size: $type-size-1;
    border-bottom: 0.6em solid $color-1;
    padding-left: 3px;
    padding-right: 3px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .hello {
        display: block;
    }

    canvas {
        display: none;
    }

    #overlay {
        display: none;
    }

    .still {
        display: none;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .hello {
        display: block;
    }

    canvas {
        display: none;
    }

    #overlay {
        display: none;
    }

    .still {
        display: none;
    }
}
