.stripe-button-el {
    width: 120px;
    border-radius: 0.2em !important;
    border: 0 !important;
    background-image: none !important;
    background: #000000 !important;
    background-color: #000000 !important;
    font-weight: normal !important;
    padding: 0 !important;
}

.stripe-button-el span {
    font-family: 'authentic', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    font-weight: normal !important;
    font-size: 1em;
    border-radius: 0.2em !important;
    border: 0 !important;
    background-image: none !important;
    background: #000000 !important;
    background-color: #000000 !important;
}
