body {
    overflow: scroll;
}

.hello {
    display: none;
}

.mobile-hide {
    display: none;
}

canvas {
    display: none;
}

#overlay {
    display: none;
}

.nav-left {
    position: fixed;
    top: 50px;
    left: 0px;
    right: 0px;
    z-index: 560;
    width: 100%;
    height: 20px;
    @include boxflexh;
}

.nav-left .nav-link {
    padding: 15px;
}

.nav-art {
    display: inline-block;
    margin-right: 0px;
}

.nav-events {
    display: inline-block;
    margin-right: 0px;
}

.nav-services {
    display: inline-block;
    margin-right: 0px;
}

.nav-about {
    display: inline-block;
    margin-right: 0px;
}

.nav-right {
    display: none;
}

.nav-submit {
    position: fixed;
    bottom: 30px;
    right: 46px;
    display: none;
}

.nav-social-links {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 560;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 1em;
}

.nav-social {
    display: inline-block;
    opacity: 0.5;
}

.logo img {
    transform: translateY(-12px);
}

.still {
    }

.home {
    display: none;
}

.threed-mobile {
    display: none;
}

.centerfold-14 {
    padding-left: 0em;
    margin-top: 3em;
}

img#threed.threed-mobile {
    display: none;
}

.page-description {
    width: 80%;
    margin-left: 10%;
}

.art {
    width: 100%;
}

.art-filter-toggle {
    display: none;
}

.art-filter-box {
    display: none;
}

.art-art {
    width: 100%;
}

.art-art img,
.art-art video {
    width: 80%;
    margin-left: 10%;
}

.artist-card {
    display: block;
}

.explore-description {
    height: 100vh;
    @include boxflex;
}

.explore-box-header {
    height: 100vh;
    @include boxflex-null;
    margin-top: 4em;
}

.explore-box {
    height: 200vh;
    @include boxflex-null;
    margin-top: 2em;
}

.art-editorial {
    display: block;
    width: 100%;
    margin-top: 4em;
}

.art-editorial:last-child {
    margin-left: 0;
}

.explore-box-header .art-editorial:last-child {
    margin-left: 0;
}

.art-editorial-featured {
    width: 80%;
    margin-left: 10%;
    margin-top: 12em;
}

.art-editorial .art-art {
    width: auto;
}

.art-editorial .art-art img {
    width: 80%;
    margin-left: 10%;
}

.editorial-card-wrap {
    display: block;
    margin-left: 10%;
}

.artist-card-wrap {
    display: block;
    position: relative;
    margin-left: 10%;
}

.artists-list {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    @include type-2;
    font-size: 0.8em;
}

.artists-list-columns {
    padding-left: 0%;
    column-count: 1;
    column-width: 100%;
}

.buy {
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    display: none;
}

.buy-art img {
    width: 80%;
    margin-left: 0%;
}

.art:nth-child(16n+1),
.art:nth-child(16n+2),
.art:nth-child(16n+3),
.art:nth-child(16n+4),
.art:nth-child(16n+5),
.art:nth-child(16n+6),
.art:nth-child(16n+7),
.art:nth-child(16n+8),
.art:nth-child(16n+9),
.art:nth-child(16n+10),
.art:nth-child(16n+11),
.art:nth-child(16n+12),
.art:nth-child(16n+13),
.art:nth-child(16n+14),
.art:nth-child(16n+15),
.art:nth-child(16n+16) {
    margin-left: 0%;
}

#about-1,
#about-2,
#about-3,
#about-4,
#about-5 {
    margin-left: 10%;
}

.buy {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $background-color;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: none;
    overflow-y: scroll;
}

.buy-buy-page {
    overflow-y: scroll;
}

.buy-wrap {
    margin-top: 6em;
    margin-bottom: 3em;
}

.buy-flex {
    width: 100%;
    height: auto;
    position: relative;
    z-index:  601;
    // pointer-events: none;
}

.close {
    position: fixed;
    top: 75px;
    left: 31px;
    cursor: w-resize;
    z-index: 602;
    @include type-2;
    font-size: $type-size-1;
    pointer-events: all;
}

.close-full {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 599;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: all;
}

.buy-art {
    width: 80%;
    height: auto;
    max-height: none;
    max-width: none;
    margin-left: 10%;
    float: none;
    pointer-events: all;
}

.buy-art img {
    width: 100%;
    height: 100%;
    max-height: none;
    max-width: none;
    margin-left: none;
    float: none;
    pointer-events: all;
}

.buy-artist-card-wrap {
    @include type-2;
    font-size: $type-size-1;
    color: $color-1;
    margin-left: 10%;
    float: none;
    pointer-events: all;
}

.buy-art-title {
    display: inline-block;
    @include type-1i;
    color: $color-1;
    font-size: 2em;
    pointer-events: all;
    margin-top: 2em;

}

.buy-art-artist {
    display: inline-block;
    @include type-2;
    color: $color-1;
    font-size: 2em;
    line-height: 0.8em;
    pointer-events: all;
}

.buy-art-description {
    width: 400px;
    display: inline-block;
    @include type-1i;
    color: $color-1;
    font-size: 1.2em;
    pointer-events: all;
}

.about-img {
    width: 80%;
    height: auto;
    margin-top: 6em;
}

#about-img-1,
#about-img-2,
#about-img-3 {
    margin-left: 10%;
}

.about-description {
    width: 80%;
}

.about-press-logo-container {
    @include boxflex;
    width: 100%;
    height: auto;
    margin-top: 3em;
    margin-bottom: 8em;
}

.about-press-logo {
    display: block;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
}

.about-press-logo img {
    max-height: 100px;
    max-width: 100px;
}

.everything-events {
    width: 80%;
    margin-left: 10%;
}

.everything-events:first-child {
    margin-top: 8em;
}

.everything-events:last-child {
    margin-bottom: 8em;
}

.events-pc {
    margin-top: 4em;
    @include type-1i;
    font-size: 2em;
}

.event-card {
    margin-top: 4em;
    position: relative;
}

.event-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.event-card-info {
    width: 100%;
    margin-left: 0;
    display: block;
    position: relative;
}

.event-card-title {
    @include type-2;
    font-size: 1.2em;
}

.event-card-description {
    @include type-1i;
    font-size: 1em;
    line-height: $line-height-1;
    margin-top: 16px;
    margin-bottom: 16px;
}

.event-view {
    @include type-2;
    font-size: $type-size-1;
    border-bottom: 0.6em solid $color-1;
    padding-left: 3px;
    padding-right: 3px;
}

.dinner-event-floating {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    right: 0;
    @include boxflex;
    pointer-events: none;
    z-index: 1;
    margin-top: 2.4em;
    margin-bottom: 1em;
}

.dinner-event-floating img {
    width: 80vw;
    height: auto;
    z-index: 1;
}

.dinner-event-title {
    @include type-2;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2em;
    font-size: 3em;
    line-height: 0.9em;
    letter-spacing: auto;
    text-overflow: ellipsis;
}

.dinner-event-description {
    @include type-2;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2em;
    font-size: 2em;
}

.dinner-press-super-low {
    font-size: 1em;
    line-height: 1.2em;
    letter-spacing: 0em;
}

.dinner-art {
    margin-left: 0%;
}

.featured-collection-header-bg {
    font-size: 3em;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.featured-collection-header img {
    display: inline-block;
    width: 80vw;
    height: auto;
    margin-left: 0;
}

.faqs-cyoa {
    width: 100%;
    height: 100vh;
    margin-top: 0em;
    @include boxflex;
    @include type-2;
    font-size: 2.4em;
}

.faqs-box {
    width: 90%;
    height: 40%;
    display: block;
    @include boxflex;
    margin-bottom: 1em;
}

.faqs-box:first-of-type {
    margin-left: 5%;
    margin-right: 5%;
}

.faqs-box:last-of-type {
    margin-right: 5%;
    margin-left: 5%;
}

.faqs-toc {
    margin-left: 5%;
    width: 90%;
    margin-top: 30%;
    display: none;
}

.faqs-toc-main-header {
    @include type-2;
    font-size: 1.4em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.faqs-toc-header {
    @include type-2;
    font-size: 0.9em;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 1em;
}

.faqs-toc-question {
    @include type-2;
    font-size: 1em;
    line-height: 1.4em;
}

.faqs-container {
    margin-left: 5%;
    width: 90%;
    margin-top: 4em;
}

.faqs-main-header {
    @include type-2;
    font-size: 1.4em;
    width: 100%;
    @include boxflex;
    margin-top: 30%;
    margin-bottom: 1em;
}

.faqs-header {
    @include type-2;
    font-size: 1.4em;
    @include boxflex;
    margin-top: 1.4em;
    margin-bottom: 1em;
}

.faqs-question {
    @include type-2;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.4em;
}

.faqs-answer {
    @include type-2;
    font-size: 1em;
    margin-bottom: 1em;
    padding-left: 2em;
    opacity: 0.8;
    line-height: 1.4em;
    border-left: 0.4em solid $color-1;
}

.gs-header {
    font-size: 3em;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3em;
}

.gs-header img {
    display: inline-block;
    width: 80vw;
    height: auto;
    margin-left: 0;
}

.footer-space-buy {
    display: block;
}

.footer-space {
    height: 2em;
}

.footer {
    width: 80%;
    margin-left: 10%;
    height: auto;
    font-size: 0.8em;
    margin-bottom: 8em;
    @include boxflex-null;
}

.footer-column,
.footer-column:last-of-type {
    width: 100%;
    display: block;
    line-height: 1.4em;
}

.footer-column:first-of-type {
    height: 2em;
    overflow: hidden;
    margin-top: 4em;
    margin-bottom: 2em;
}
