.logo {
    position: fixed;
    top: 18px;
    left: 50%;
    width: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 300;
}

.logo-home {
    display: none;
}

.logo a img {
    width: 120px;
    height: auto;
}

.nav-left {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 560;
}

.nav-right {
    position: fixed;
    top: 30px;
    right: 46px;
    z-index: 560;
}

.nav-link {
    z-index: 560;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    font-family: $type-4;
    font-size: 0.6em;
    text-transform: uppercase;
}

.nav-active {
    border-bottom: 0.6em solid $color-1;
}

.nav-art {
    display: inline-block;
    margin-right: 30px;
}

.nav-events {
    display: inline-block;
    margin-right: 30px;
}

.nav-services {
    display: inline-block;
    margin-right: 30px;
}

.nav-about {
    display: inline-block;
}

.nav-3d {
    display: inline-block;
    cursor: crosshair;
}

.nav-social-links {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 560;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.nav-social {
    display: inline-block;
    opacity: 0.2;
}

.nav-social:hover {
    opacity: 1;
}

.nav-submit {
    z-index: 560;
    position: fixed;
    bottom: 30px;
    right: 46px;
    //border: 1px solid $color-1;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 0px;
    font-family: $type-4;
    font-size: 0.6em;
    cursor: e-resize;
}

// .nav-submit:hover {
//     background-color: $color-1;
//     color: $color-2;
// }
