<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Error with your Purchase</title>
        <meta charset=utf-8>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{static_url}}assets/favicon.ico">
        <link rel="stylesheet" href="../stylesheets/css/56.css">
		<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<style>#overlay{display:none}</style>
    </head>
	<body>
        {{> nav}}
		{{> 3d-overlay}}
        <div class="success">
            <div class="thank-you">
                <span class="thank-you-title">Oh no! <i class="em em-pensive"></i></span>
                <br/>
                <br/>
                <br/>
                There was an error when processing your purchase. You should receive an email in the next 6 hours to clarify what went wrong.
                <br/>
                <br/>
                If you have any questions, please don't hesitate to send us an email at <a class="thank-you-link" href="mailto:hello@centerfold.gallery?subject=Question regarding my artwork purchase">hello@centerfold.gallery</a>.
                <br/>
                <br/>
                Go back to exploring the gallery by clicking <a class="thank-you-link" href="/">here</a>.
            </div>
		</div>
    </body>
</html>
