<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣ 🚶￣￣👭￣

-->
<html lang="en">
	<head>
        {{> head }}
    </head>
	<body>
        {{> nav-no-3d }}
		{{> 3d-overlay }}
        <div class="still" id="still">
            <div class="everything" id="everything">
				<div class="featured-collection-header">
                    <img src="{{static_url}}featured-collections/FC000004-header.png">
                </div>
				<br/>
				<br/>
				<div id="about-1" class="about-description">
					Just as the media within the artworks themselves are collected from different sources, these works were created by different artists and assembled into a kind of meta-collage.
				</div>
				<div id="about-2" class="about-description">
					By definition, collage is a process by which differing forms are assembled to create a new whole.
				</div>
				<div id="about-3" class="about-description">
					<span class="t1">Parts of a Whole</span> is a collection of work that explores the collage as a medium and art-form.
				</div>
				<div id="about-4" class="about-description">
					We hope you enjoy it.
				</div>
				<div id="about-5" class="about-description">
					Unrelated media from digital or physical sources are compiled, ordered, re-ordered, and edited to create a brand new image&mdash; one that purveys a meaning not found in its individual sources.
				</div>
					<!-- <div class="threed-feat">
						<div id="threed" class="threed animated pulse infinite threed-mobile threed-button">View in 3D</div>
					</div> -->
                {{# artPageArtworks}}
					<div class="art live-a{{fields.Live?}}  mix tag-arttype-{{fields.Art Type}} tag-year-{{field.Year Created}} tag-framed-{{field.Framed}} tag-stretched-{{Streched}} {{#fields.Medium}}tag-medium-{{.}} {{/fields.Medium}} tag-width-{{fields.Width (in)}} tag-height-{{fields.Height (in)}} tag-price-{{fields.Estimated Value (CAD)}}" id="art{{fields.Unique-Artwork-ID}}">
						<a href="../../art/{{fields.Unique-Artwork-ID}}">
							<div class="art-art shadow">
								<img class="b-lazy" src="{{static_url}}art/blur/{{fields.Unique-Artwork-ID}}-large.jpg" data-src="{{static_url}}art/{{fields.Image Type}}/{{fields.Unique-Artwork-ID}}-large.{{fields.Image Type}}">
							</div>
							<div class="artist-card-wrap">
								<div class="artist-card" id="card{{fields.Unique-Artwork-ID}}">
									<span class="art-title">{{fields.Title}}</span><br/>
									<a href="/artists/{{fields.Artist ID String}}">{{fields.Artist}}</a><br/>
									<span class="art-medium">{{#fields.Medium}}<span>{{.}}</span>{{/fields.Medium}}</span><br/>
									{{fields.Width (in)}}" x {{fields.Height (in)}}"<br/>
									<div class="sold-or-not">
										<span class="sold-a{{fields.Sold}} buy-2d"><div class="sold-circle"></div> SOLD</span>
										<span class="price">${{fields.Estimated Value (CAD)}} &mdash; <span class="buy-2d">Buy</span></span>
									</div>
								</div>
							</div>
						</a>
					</div>
                {{/ artPageArtworks}}
            </div>
			<div class="footer-space"></div>
			{{> footer}}
        </div>
	</body>
	<script>
		$(".still").scroll(function () {
			var y = $(this).scrollTop();
			if (y > 700) {
				$('.logo-home').fadeIn(500);
			} else {
				$('.logo-home').fadeOut(500);
			}
		});
	</script>
    <footer>
		{{> body-end}}
		<!-- <script>
		if (window.screen.width > 780) {
			document.write(
			'<script src="{{static_url}}js/three/FC000003.js"><\/script>'
			)
		}
		</script> -->
    </footer>
</html>
