<!DOCTYPE html>
{{> ascii }}
<html lang="en">
	<head>
        {{> head }}
    </head>
	<body>
        {{> nav }}
		{{> 3d-overlay }}
        <div class="still" id="still">
            <div class="everything" id="everything">
                <div class="featured-collection-header">
                    <img src="{{static_url}}featured-collections/FC000002-header.png">
                </div>
                <div class="page-description">
					<div class="para">
						There are few things more compelling than the human face. Features that we all share vary on an individual level; each variance distinguishing ourselves from others, and in turn partially constituting our respective physical identities. The way faces (and the features that rest on them) move exude emotion and meaning. Faces characterize the things we say and the ways we feel. Each detail -every crease, every blemish, and every wrinkle- tells its own story. It is, therefore, to no epistemological difficulty as to why artists often choose the human face as their primary subject.
					</div>
					<br/>
					<div class="para">
						Our second featured collection dwells on the human face as an artistic subject, and is entitled: <span class="t1">Freckle, Blemish, Wrinkle, Scar</span>. The works, which feature photography, painting, and drawings, are curated in such a way to emphasize basal elements: The collection ‘begins’ with highly detailed photographs, and ‘ends’ with graphite scrawls of principal facial components. This abstraction contemplates the maintained artistic beauty of the human face, despite variance in detail.
					</div>
  					<br/>
					<br/>
					<div class="threed-feat">
						<div id="threed" class="threed animated pulse infinite threed-mobile threed-button">View in 3D</div>
					</div>
                </div>
                {{# artPageArtworks}}
					<div class="art live-a{{fields.Live?}} mix tag-arttype-{{fields.Art Type}} tag-year-{{field.Year Created}} tag-framed-{{field.Framed}} tag-stretched-{{Streched}} {{#fields.Medium}}tag-medium-{{.}} {{/fields.Medium}} tag-width-{{fields.Width (in)}} tag-height-{{fields.Height (in)}} tag-price-{{fields.Estimated Value (CAD)}}" id="art{{fields.Unique-Artwork-ID}}">
						<a href="../../art/{{fields.Unique-Artwork-ID}}">
							<div class="art-art shadow">
								<img class="b-lazy" src="{{static_url}}art/blur/{{fields.Unique-Artwork-ID}}-large.jpg" data-src="{{static_url}}art/{{fields.Image Type}}/{{fields.Unique-Artwork-ID}}-large.{{fields.Image Type}}">
							</div>
							<div class="artist-card-wrap">
								<div class="artist-card" id="card{{fields.Unique-Artwork-ID}}">
									<span class="art-title">{{fields.Title}}</span><br/>
									<a href="/artists/{{fields.Artist ID String}}">{{fields.Artist}}</a><br/>
									<span class="art-medium">{{#fields.Medium}}<span>{{.}}</span>{{/fields.Medium}}</span><br/>
									{{fields.Width (in)}}" x {{fields.Height (in)}}"<br/>
									<div class="sold-or-not">
										<span class="sold-a{{fields.Sold}} buy-2d"><div class="sold-circle"></div> SOLD</span>
										<span class="price">${{fields.Estimated Value (CAD)}} &mdash; <span class="buy-2d">Buy</span></span>
									</div>
								</div>
							</div>
						</a>
					</div>
                {{/ artPageArtworks}}
            </div>
			<div class="footer-space"></div>
			{{> footer}}
        </div>
	</body>
	<script>
		$(".still").scroll(function () {
			var y = $(this).scrollTop();
			if (y > 700) {
				$('.logo-home').fadeIn(500);
			} else {
				$('.logo-home').fadeOut(500);
			}
		});
	</script>
    <footer>
		{{> body-end}}
		<script>
		if (window.screen.width > 780) {
			document.write(
			'<script src="{{static_url}}js/three/FC000002.js"><\/script>'
			)
		}
		</script>
    </footer>
</html>
