<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣ 🚶￣￣👭￣

-->
<html lang="en">
	<head>
        {{> head }}
    </head>
	<body>
        {{> nav }}
        <div class="still">
            <div class="everything">
                <div class="featured-collection-header">
                    <img src="{{static_url}}featured-collections/FC000002-header.png">
                </div>
                <div class="event-description">
                    <br/>
					All The Best Artists Have A Staring Problem<br/>
					<br/>
					What is more captivating than a face? Features vary on an individual level; each quirk distinguishes one self from another. A face constitutes the majority of the physical identity and can be considered a synecdoche of humanity.<br/>
					<br/>
					The face exudes emotion and meaning, characterizes the things we say and expresses how we feel. Every idiosyncrasy - every freckle, wrinkle, blemish, scar- expresses the story of the face upon which it rests. <br/>
					<br/>
					It is not difficult to understand why artists through all of time have been fixated on and fascinated by the human face.<br/>
					<br/>
					Our second featured collection dwells on the human face as subject and object. The collection juxtaposes powerfully detailed photographs, emotive paintings, and bold graphite scrawls in a way that encapsulates the universal artistic appeal of the individual face.<br/>
					<br/>
					We encourage you to get caught staring.<br/>
  					<br/>
					<br/>
					<div class="threed-feat">
						<div id="threed" class="threed animated pulse infinite threed-mobile threed-button">View in 3D</div>
					</div>
                </div>
                {{# artPageArtworks}}
					<div class="art mix tag-arttype-{{fields.Art Type}} tag-year-{{field.Year Created}} tag-framed-{{field.Framed}} tag-stretched-{{Streched}} {{#fields.Medium}}tag-medium-{{.}} {{/fields.Medium}} tag-width-{{fields.Width (in)}} tag-height-{{fields.Height (in)}} tag-price-{{fields.Estimated Value (CAD)}}" id="art{{fields.Unique-Artwork-ID}}">
						<a href="../../art/{{fields.Unique-Artwork-ID}}">
							<div class="art-art">
								<img class="b-lazy shadow" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{static_url}}{{fields.Unique-Artwork-ID}}-large.jpg">
							</div>
							<div class="artist-card-wrap">
								<div class="artist-card" id="card{{fields.Unique-Artwork-ID}}">
									<span class="art-title">{{fields.Title}}</span><br/>
									<a href="/artists/{{fields.Artist ID String}}">{{fields.Artist}}</a><br/>
									<span class="art-medium">{{#fields.Medium}}<span>{{.}}</span>{{/fields.Medium}}</span><br/>
									{{fields.Width (in)}}" x {{fields.Height (in)}}"<br/>
									<div class="sold-or-not">
										<span class="sold-a{{fields.Sold}} buy-2d"><div class="sold-circle"></div> SOLD</span>
										<span class="price">${{fields.Estimated Value (CAD)}} &mdash; <span class="buy-2d">Buy</span></span>
									</div>
								</div>
							</div>
						</a>
					</div>
                {{/ artPageArtworks}}
            </div>
			<div class="footer-space"></div>
			{{> footer}}
        </div>
	</body>
	<script>
		$(".still").scroll(function () {
			var y = $(this).scrollTop();
			if (y > 700) {
				$('.logo-home').fadeIn(500);
			} else {
				$('.logo-home').fadeOut(500);
			}
		});
	</script>
    <footer>
		{{> body-end}}
		<script>
		if (window.screen.width > 780) {
			document.write(
			'<script src="{{static_url}}js/three/laurent-3D.js"><\/script>'
			)
		}
		</script>
    </footer>
</html>
