<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣ 🚶￣￣👭￣

-->
<html lang="en">
	<head>
        {{> head }}
    </head>
	<body>
        {{> nav }}
		{{> 3d-overlay }}
        <div class="still" id="still">
            <div class="everything" id="everything">
                <div class="centerfold-14">
                    Centerfold Gallery <div id="threed" class="threed pulse animated infinite threed-mobile threed-button">View in 3D</div>
                </div>
                <div class="event-description">
                    <br/>
					<!-- Welcome.
  					<br/>
					<br/>
					From minimalist inspections of architecture, to large, expressionist studies of the human figure; below, you can find a collection of artworks that were not curated with any overarching theme or subject in mind. More accurately, this set of work was selected on the basis of our experiences in developing the Centerfold project over the past few years, and serves to represent the visual expression of some of the lovely individuals we’ve worked with along the way.  <i class="em em-pray"></i> -->
					Welcome.
					<br/>
					<br/>
					This month we are centering women, People of Color, Indigenous peoples, and queer, trans and non-binary individuals. The curatorial process will be suspended in order to refocus and delineate our mission of supporting artists. Thank you for everything.
  					<br/>
					<br/>
					We aim to promote and further these artists and their practices and hope that people who possess these identities will be encouraged to <a class="inline-link" href="https://airtable.com/shreAnW1Ggm3fVolL" target="_blank">submit</a>.
					<br/>
					<br/>
					Thank you for everything.
  					<br/>
					<br/>
					<span class="mobile-hide">Be sure to check out our 3D functionality to view the latest collection. Go virtual by clicking on the “3D” button above 🔍.<span>
					<br/>
                </div>
				{{! filter }}
				<div class="art mix" id="artFC000003">
					<a href="/gallery/arrival-measures" class="art-art">
						<img class="shadow" src="{{static_url}}arrival-measures/arrival-measures-2-small.png">
					</a>
					<div class="artist-card-wrap">
						<div class="artist-card" id="cardFC000003">
							<span class="art-title">Arrival Measures</span><br/>
							Dinner &amp; Vernissage &mdash; <span class="buy-2d">More</span><br/>
						</div>
					</div>
				</div>
				<div class="art mix" id="artFC000002">
					<a href="featured-collections/FC000002-freckle-blemish-wrinkle-scar" class="art-art">
						<img class="shadow" src="{{static_url}}featured-collections/FC000002-header.png">
					</a>
					<div class="artist-card-wrap">
						<div class="artist-card" id="cardFC000002">
							<span class="art-title">Freckle, Blemish, Wrinkle, Scar</span><br/>
							Featured Collection &mdash; <span class="buy-2d">View</span><br/>
						</div>
					</div>
				</div>
				<!-- <div class="art mix" id="artAF000002">
					<a href="../artist-focus" class="art-art">
						<video class="shadow" loop autoplay>
							<source src="{{static_url}}laurent-3D/lp.mp4" type="video/mp4">
							<source src="{{static_url}}laurent-3D/lp.ogg" type="video/ogg">
						</video>
					</a>
					<div class="artist-card-wrap">
						<div class="artist-card" id="cardFC000001">
							<span class="art-title">Laurent Palardy</span><br/>
							Artist Feature &mdash; <span class="buy-2d">View</span><br/>
						</div>
					</div>
				</div> -->
					<div class="art mix" id="artFC000001">
						<a href="featured-collections/FC000001-moments-distorted" class="art-art">
							<video class="shadow" loop autoplay>
								<source src="{{static_url}}featured-collections/FC000001.mp4" type="video/mp4">
								<source src="{{static_url}}featured-collections/FC000001.ogg" type="video/ogg">
							</video>
						</a>
						<div class="artist-card-wrap">
							<div class="artist-card" id="cardFC000001">
								<span class="art-title">Moments,, Distorted</span><br/>
								Featured Collection &mdash; <span class="buy-2d">View</span><br/>
							</div>
						</div>
					</div>

				{{> art/art }}
				<div class="art-pagin art-pagin-bottom">
					<div class="art-pagin-container">
						{{# prev_page}}<a class="art-pagin-prev" href="{{prev_page}}">Forever Ago</a>{{/ prev_page}}<div class="art-pagin-curr">{{current_page}}</div> <a class="art-pagin-next" href="art/{{next_page}}">Thereafter</a>
					</div>
				</div>

            </div>
			{{> footer}}
        </div>
		<footer>
			{{> body-end}}
			<script>
			if (window.screen.width > 780) {
				document.write(
				'<script src="{{static_url}}js/three/laurent-3D.js"><\/script>'
				)
			}
			</script>
		    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
			<script>


		               var bLazy = new Blazy({
		                   container: ".everything",
		                   loadInvisible: true
		               });
		               $("[id^=artCF]").hover(function(){
		                   var num = this.id.slice(5);
		                   var $elemcard = $('#cardCF'+num);
		                   $elemcard.fadeIn(500);
		               },function(){
		                   var num = this.id.slice(5);
		                   var $elemcard = $('#cardCF'+num);
		                   $elemcard.fadeOut(500);
		               });
		               $("[id^=artFC]").hover(function(){
		                   var num = this.id.slice(5);
		                   var $elemcard = $('#cardFC'+num);
		                   $elemcard.fadeIn(500);
		               },function(){
		                   var num = this.id.slice(5);
		                   var $elemcard = $('#cardFC'+num);
		                   $elemcard.fadeOut(500);
		               });
		               $("[id^=artAF]").hover(function(){
		                   var num = this.id.slice(5);
		                   var $elemcard = $('#cardAF'+num);
		                   $elemcard.fadeIn(500);
		               },function(){
		                   var num = this.id.slice(5);
		                   var $elemcard = $('#cardAF'+num);
		                   $elemcard.fadeOut(500);
		               });
			           $(function () {
			               $("[id^=artcfuid]").hover(function(){
			                   var num = this.id.slice(8);
			                   var $elemcard = $('#cardcfuid'+num);
			                   $elemcard.fadeIn(500);
			               },function(){
			                   var num = this.id.slice(8);
			                   var $elemcard = $('#cardcfuid'+num);
			                   $elemcard.fadeOut(500);
			               });
			           });
					   var mixdes = mixitup('.everything').destroy();
					   var mixer = mixitup('.everything', {
						   animation: {
		                       enable: false,
		                       animateResizeContainer: false
		                   },
		                   data: {
		                       dirtyCheck: true
		                   },
		                   behavior: {
		                       liveSort: true
		                   }
		               });
			</script>
	        <script>
	            var cards = $(".art-rand");
	                for(var i = 0; i < cards.length; i++){
	                var target = Math.floor(Math.random() * cards.length -1) + 1;
	                var target2 = Math.floor(Math.random() * cards.length -1) +1;
	                cards.eq(target).before(cards.eq(target2));
	            }
	        </script>
	    </footer>
	</body>
</html>
