<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣ 🚶￣￣👭￣

-->
<html lang="en">
	<head>
        {{> head }}
    </head>
	<body>
        {{> nav }}
        <div class="still">
            <div class="everything">
                <div class="centerfold-14">
                    Centerfold Gallery <div id="threed" class="threed pulse animated infinite threed-mobile threed-button">View in 3D</div>
                </div>
                <div class="event-description">
                    <br/>
					Welcome.
  					<br/>
					<br/>
					From minimalist inspections of architechture, to large, expressionist studies of the human figure; below, you can find a collection of artworks that were not curated with any overarching theme or subject in mind. More accurately, this set of work was selected on the basis of our experiences in developing the Centerfold project over the past few years, and serves to represent the visual expression of some of the lovely individuals we’ve worked with along the way.  <i class="em em-pray"></i>
  					<br/>
					<br/>
					<span class="mobile-hide">Be sure to check out our 3D functionality to view the latest collection. Go virtual by clicking on the “3D” button above 🔍.<span>
					<br/>
                </div>
				{{> filter }}
				<div class="art mix" id="artFC000003">
					<a href="/gallery/arrival-measures" class="art-art">
						<img class="shadow" src="{{static_url}}arrival-measures/arrival-measures-2-small.png">
					</a>
					<div class="artist-card-wrap">
						<div class="artist-card" id="cardFC000003">
							<span class="art-title">Arrival Measures</span><br/>
							Dinner &amp; Vernissage &mdash; <span class="buy-2d">More</span><br/>
						</div>
					</div>
				</div>
				<div class="art mix" id="artFC000002">
					<a href="featured-collections/FC000002-freckle-blemish-wrinkle-scar" class="art-art">
						<img class="shadow" src="{{static_url}}featured-collections/FC000002-header.png">
					</a>
					<div class="artist-card-wrap">
						<div class="artist-card" id="cardFC000002">
							<span class="art-title">Freckle, Blemish, Wrinkle, Scar</span><br/>
							Featured Collection &mdash; <span class="buy-2d">View</span><br/>
						</div>
					</div>
				</div>
				<div class="art mix" id="artAF000002">
					<a href="../artist-focus" class="art-art">
						<video class="shadow" loop autoplay>
							<source src="{{static_url}}laurent-3D/lp.mp4" type="video/mp4">
							<source src="{{static_url}}laurent-3D/lp.ogg" type="video/ogg">
						</video>
					</a>
					<div class="artist-card-wrap">
						<div class="artist-card" id="cardFC000001">
							<span class="art-title">Laurent Palardy</span><br/>
							Artist Feature &mdash; <span class="buy-2d">View</span><br/>
						</div>
					</div>
				</div>
					<div class="art mix" id="artFC000001">
						<a href="featured-collections/FC000001-moments-distorted" class="art-art">
							<video class="shadow" loop autoplay>
								<source src="{{static_url}}featured-collections/FC000001.mp4" type="video/mp4">
								<source src="{{static_url}}featured-collections/FC000001.ogg" type="video/ogg">
							</video>
						</a>
						<div class="artist-card-wrap">
							<div class="artist-card" id="cardFC000001">
								<span class="art-title">Moments,, Distorted</span><br/>
								Featured Collection &mdash; <span class="buy-2d">View</span><br/>
							</div>
						</div>
					</div>
				<div class="art-gallery">
					<div class="art-wall">
	                	{{# artPageArtworks}}
	                    <div class="art art-rand mix tag-arttype-{{fields.Art Type}} tag-year-{{field.Year Created}} tag-framed-{{field.Framed}} tag-stretched-{{Streched}} {{#fields.Medium}}tag-medium-{{.}} {{/fields.Medium}} tag-width-{{fields.Width (in)}} tag-height-{{fields.Height (in)}} tag-price-{{fields.Estimated Value (CAD)}}" id="art{{fields.Unique-Artwork-ID}}">
						<a href="../art/{{fields.Unique-Artwork-ID}}">
	                        <div class="art-art">
	                            <img class="b-lazy shadow" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{static_url}}{{fields.Unique-Artwork-ID}}-large.jpg">
	                        </div>
	                        <div class="artist-card-wrap">
	                            <div class="artist-card" id="card{{fields.Unique-Artwork-ID}}">
	                                <span class="art-title">{{fields.Title}}</span><br/>
	                                <a href="/artists/{{fields.Artist ID String}}">{{fields.Artist}}</a><br/>
	                                <span class="art-medium">{{#fields.Medium}}<span>{{.}}</span>{{/fields.Medium}}</span><br/>
	                                {{fields.Width (in)}}" x {{fields.Height (in)}}"<br/>
									<div class="sold-or-not">
										<span class="sold-a{{fields.Sold}} buy-2d"><div class="sold-circle"></div> SOLD</span>
		                                <span class="price">${{fields.Estimated Value (CAD)}} &mdash; <span class="buy-2d">Buy</span></span>
									</div>
	                            </div>
	                        </div>
						</a>
	                    </div>
	                	{{/ artPageArtworks}}
						<div class="scroller-status">
						 	<div class="infinite-scroll-request"><img src="{{static_url}}assets/loading.gif"/></div>
						</div>
						<p class="pagination">
						 	<a class="pagination__next" href="/art/2"></a>
						</p>
					</div>
				</div>
            </div>
			<div class="footer-space"></div>
			{{> footer}}
        </div>
		<footer>
			{{> body-end}}

		    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
			<script>
				$('.art-gallery').infiniteScroll({
					path: '.pagination__next',
					append: '.art-wall',
					elementScroll: '.still',
					history: 'replace',
					status: '.scroller-status',
					hideNav: '.pagination',
					debug: true
				});

				$('.art-gallery').on( 'append.infiniteScroll', function( event, response, path, items ) {

		               var bLazy = new Blazy({
		                   container: ".everything",
		                   loadInvisible: true
		               });
		               $("[id^=artCF]").hover(function(){
		                   var num = this.id.slice(5);
		                   var $elemcard = $('#cardCF'+num);
		                   $elemcard.fadeIn(500);
		               },function(){
		                   var num = this.id.slice(5);
		                   var $elemcard = $('#cardCF'+num);
		                   $elemcard.fadeOut(500);
		               });
		               $("[id^=artFC]").hover(function(){
		                   var num = this.id.slice(5);
		                   var $elemcard = $('#cardFC'+num);
		                   $elemcard.fadeIn(500);
		               },function(){
		                   var num = this.id.slice(5);
		                   var $elemcard = $('#cardFC'+num);
		                   $elemcard.fadeOut(500);
		               });
		               $("[id^=artAF]").hover(function(){
		                   var num = this.id.slice(5);
		                   var $elemcard = $('#cardAF'+num);
		                   $elemcard.fadeIn(500);
		               },function(){
		                   var num = this.id.slice(5);
		                   var $elemcard = $('#cardAF'+num);
		                   $elemcard.fadeOut(500);
		               });
			           $(function () {
			               $("[id^=artcfuid]").hover(function(){
			                   var num = this.id.slice(8);
			                   var $elemcard = $('#cardcfuid'+num);
			                   $elemcard.fadeIn(500);
			               },function(){
			                   var num = this.id.slice(8);
			                   var $elemcard = $('#cardcfuid'+num);
			                   $elemcard.fadeOut(500);
			               });
			           });
					   var mixdes = mixitup('.everything').destroy();
					   var mixer = mixitup('.everything', {
						   animation: {
		                       enable: false,
		                       animateResizeContainer: false
		                   },
		                   data: {
		                       dirtyCheck: true
		                   },
		                   behavior: {
		                       liveSort: true
		                   }
		               });
					   var cards = $(".art-wall:last-of-type > .art-rand");
	   	               	   for(var i = 0; i < cards.length; i++){
	   	               	   var target = Math.floor(Math.random() * cards.length -1) + 1;
	   	               	   var target2 = Math.floor(Math.random() * cards.length -1) +1;
	   	               	   cards.eq(target).before(cards.eq(target2));
	   	               }
				});
			</script>
	        <script>
	            var cards = $(".art-rand");
	                for(var i = 0; i < cards.length; i++){
	                var target = Math.floor(Math.random() * cards.length -1) + 1;
	                var target2 = Math.floor(Math.random() * cards.length -1) +1;
	                cards.eq(target).before(cards.eq(target2));
	            }
	        </script>
			<script>
			if (window.screen.width > 780) {
				document.write(
				'<script src="{{static_url}}js/three/laurent-3D.js"><\/script>'
				)
			}
			</script>
	    </footer>
	</body>
</html>
