<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣ 🚶￣￣👭￣

-->
<html lang="en">
	<head>
        {{> head }}
    </head>
	<body>
        {{> nav }}
        <div class="still">
            <div class="everything">
				<!-- <div class="home">
					<div class="home-container-logo">
						<img src="{{static_url}}assets/centerfold.svg">
					</div>
					<div class="home-container">
						<div class="home-container-images">
                            {{# homepageArtworks}}
                                <a href="#art{{fields.Unique-Artwork-ID}}"><img class="shadow" src="{{static_url}}{{fields.Unique-Artwork-ID}}-large.jpg"></a>
                            {{/ homepageArtworks}}
						</div>
					</div>
				</div> -->
                <div class="centerfold-14">
                    Centerfold Gallery <img id="threed" class="threed-mobile animated infinite pulse" src="{{static_url}}assets/3d.png">
                </div>
                <div class="event-description">
                    <br/>
					Welcome.
  					<br/>
					<br/>
					From delicate portraits of orphans wrapped in striking floral cloth, to large, expressionist studies of the human figure; below, you can find a collection of artworks that were not curated with any overarching theme or subject in mind. More accurately, this set of work was selected on the basis of our experiences in developing the Centerfold project over the past few years, and serves to represent the visual expression of some of the lovely individuals we’ve worked with along the way.  <i class="em em-pray"></i>
  					<br/>
					<br/>
					Be sure to check out our 3D functionality, which can be accessed through clicking on the “3D” icon above.
                </div>
				{{> filter }}
					<div class="art mix" id="artFC000001">
						<a href="featured-collections/FC000001-moments-distorted" class="art-art">
							<img class="b-lazy shadow" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{static_url}}featured-collections/FC000001.jpg">
						</a>
						<div class="artist-card-wrap">
							<div class="artist-card" id="cardFC000001">
								<span class="art-title">Moments,, Distorted</span><br/>
								Featured Collection &mdash; <span class="buy-2d">View</span><br/>
							</div>
						</div>
					</div>
                {{# artPageArtworks}}
                    <div class="art mix tag-arttype-{{fields.Art Type}} tag-year-{{field.Year Created}} tag-framed-{{field.Framed}} tag-stretched-{{Streched}} {{#fields.Medium}}tag-medium-{{.}} {{/fields.Medium}} tag-width-{{fields.Width (in)}} tag-height-{{fields.Height (in)}} tag-price-{{fields.Estimated Value (CAD)}}" id="art{{fields.Unique-Artwork-ID}}">
                        <div class="art-art">
                            <img class="b-lazy shadow" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{static_url}}{{fields.Unique-Artwork-ID}}-large.jpg">
                        </div>
                        <div class="artist-card-wrap">
                            <div class="artist-card" id="card{{fields.Unique-Artwork-ID}}">
                                <span class="art-title">{{fields.Title}}</span><br/>
                                {{fields.Artist}}<br/>
                                <span class="art-medium">{{#fields.Medium}}<span>{{.}}</span>{{/fields.Medium}}</span><br/>
                                {{fields.Width (in)}}" x {{fields.Height (in)}}"<br/>
                                ${{fields.Estimated Value (CAD)}} &mdash; <span class="buy-2d">Buy</span>
                            </div>
                        </div>
                    </div>

                    <div class="buy buy{{fields.Unique-Artwork-ID}}" id="buy{{fields.Unique-Artwork-ID}}">
                        <div class="close">Back</div>
                        <div class="close-full"></div>
                        <div class="buy-flex">
                            <div class="buy-wrap">
                                <div class="buy-art shadow">
									<img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{static_url}}{{fields.Unique-Artwork-ID}}-large.jpg" data-action="zoom">
                                </div>
                                <div class="buy-artist-card-wrap">
                                    <div class="buy-artist-card">
                                        <span class="buy-art-title">{{fields.Title}}</span><br/>
                                        <span class="buy-art-artist">{{fields.Artist}}</span><br>
                                        <!-- <span class="buy-art-description">
                                            <br/>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, laboriosam, quia! Numquam ad, incidunt nisi temporibus quas animi delectus tenetur possimus aspernatur ut maxime consectetur repellat eveniet obcaecati repudiandae dolor.
                                        </span><br/> -->
										<br/>
                                        <span class="buy-art-medium">{{#fields.Medium}}<span>{{.}}</span>{{/fields.Medium}}</span><br/>
                                        {{fields.Width (in)}}" x {{fields.Height (in)}}"<br/>
                                        ${{fields.Estimated Value (CAD)}}.00<br/>
                                        <br/>
                                        <!-- {{> buy-button }} -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/ artPageArtworks}}
            </div>
			<div class="footer"></div>
        </div>
	</body>
    <footer>
        {{> footer}}
    </footer>
</html>
