<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣ 🚶￣￣👭￣

-->
<html lang="en">
	<head>
        {{> head }}
    </head>
	<body>
        {{> nav }}
        <div class="still">
            <div class="everything">
                <div class="centerfold-14">
                	{{# artPageArtworks}}<span class="artist-page-artist">{{fields.Artist}}</span>{{/ artPageArtworks}}
					<div id="threed" style="opacity:0;" class="threed animated pulse infinite threed-mobile threed-button">View in 3D</div>
                </div>
                <div class="event-description">
					<br/>
					{{# artPageArtworks}}<span class="artist-page-bio">{{{fields.Bio}}}</span>{{/ artPageArtworks}}
                </div>
				{{! filter }}
                {{# artPageArtworks}}
                    <div class="art live-a{{fields.Live?}} mix tag-arttype-{{fields.Art Type}} tag-year-{{field.Year Created}} tag-framed-{{field.Framed}} tag-stretched-{{Streched}} {{#fields.Medium}}tag-medium-{{.}} {{/fields.Medium}} tag-width-{{fields.Width (in)}} tag-height-{{fields.Height (in)}} tag-price-{{fields.Estimated Value (CAD)}}" id="art{{fields.Unique-Artwork-ID}}">
					<a href="/art/{{fields.Unique-Artwork-ID}}">
                        <div class="art-art shadow">
                            <img class="b-lazy" src="{{static_url}}art/blur/{{fields.Unique-Artwork-ID}}-large.jpg" data-src="{{static_url}}art/{{fields.Image Type}}/{{fields.Unique-Artwork-ID}}-large.{{fields.Image Type}}">
                        </div>
						<div class="artist-card-wrap">
							<div class="artist-card" id="card{{fields.Unique-Artwork-ID}}">
								<span class="art-title">{{fields.Title}}</span><br/>
								<a href="/artists/{{fields.Artist ID String}}">{{fields.Artist}}</a><br/>
								<span class="art-medium">{{#fields.Medium}}<span>{{.}}</span>{{/fields.Medium}}</span><br/>
								{{fields.Width (in)}}" x {{fields.Height (in)}}"<br/>
								<div class="sold-or-not">
									<span class="sold-a{{fields.Sold}} buy-2d"><div class="sold-circle"></div> SOLD</span>
									<span class="inquire-a{{fields.Inquire}} buy-2d"><a href="mailto:support@centerfold.gallery?subject=Inquiry about the price of {{fields.Title}} by {{fields.Artist No Artist}}">Inquire for Price</a></span>
									<span class="price">${{fields.Estimated Value (CAD)}} &mdash; <span class="buy-2d">Buy</span></span>
								</div>
							</div>
						</div>
					</a>
                    </div>
                {{/ artPageArtworks}}
            </div>
			<div class="footer-space"></div>
			{{> footer}}
        </div>
	</body>
    <footer>
		{{> body-end}}
		{{> 3d-site-wide }}
    </footer>
</html>
