<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣ 🚶￣￣👭￣

-->
<html lang="en">
	<head>
        {{> head }}
    </head>
	<body>
        {{> nav }}
        <div class="still">
            <div class="everything">
                <div class="centerfold-14">
                	Artist Directory
					<div id="threed" style="opacity:0;" class="threed animated pulse infinite threed-mobile threed-button">View in 3D</div>
                </div>
                <div class="artists-list">
					<br/>
					<br/>
					<br/>
					<br/>
					<center><i class="em em-art"></i> <i class="em em-family"></i><i class="em em-family"></i></center>
					<br/>
					<br/>
					<br/>
					<div class="artists-list-columns">
						<a href="artists/sylvie-adams" class="artists-link">Sylvie Adams</a><br/>
						<!-- <a href="artists/pascal-assaleh" class="artists-link">Pascal Assaleh</a><br/> -->
						<a href="artists/stefanie-auger-roy" class="artists-link">Stefanie Auger-Roy</a><br/>
						<!-- <a href="artists/koku-awuye" class="artists-link">Koku Awuye</a><br/> -->
						<!-- <a href="artists/addison-bale" class="artists-link">Addison Bale</a><br/> -->
						<a href="artists/laurence-belzile" class="artists-link">Laurence Belzile</a><br/>
						<a href="artists/sarah-bentivegna" class="artists-link">Sarah Bentivegna</a><br/>
						<!-- <a href="artists/jonathan-bernier" class="artists-link">Jonathan Bernier</a><br/> -->
						<a href="artists/romane-bladou" class="artists-link">Romane Bladou</a><br/>
						<a href="artists/gab-bois" class="artists-link">Gab Bois</a><br/>
						<a href="artists/zoe-boivin" class="artists-link">Zoé Boivin</a><br/>
						<!-- <a href="artists/maxime-brown" class="artists-link">Maxime Brown</a><br/> -->
						<a href="artists/heidi-cardyn" class="artists-link">Heidi Cardyn</a><br/>
						<a href="artists/nina-chabel" class="artists-link">Nina Chabel</a><br/>
						<a href="artists/madeleine-chevalier" class="artists-link">Madeleine Chevalier</a><br/>
						<a href="artists/kathryn-ciu-leci" class="artists-link">Kathryn Ciu Leci</a><br/>
						<!-- <a href="artists/emmanuel-chieze" class="artists-link">Emmanuel Chieze</a><br/> -->
						<a href="artists/nastia-cloutier-ignatiev" class="artists-link">Nastia Cloutier-Ignatiev</a><br/>
						<!-- <a href="artists/jacob-cote" class="artists-link">Jacob Côté</a><br/> -->
						<a href="artists/emma-cross" class="artists-link">Emma Cross</a><br/>
						<a href="artists/heidi-daehler" class="artists-link">Heidi Daehler</a><br/>
						<a href="artists/polina-dmitrievna-stanevskaya" class="artists-link">Polina Dmitrievna Stanevskaya</a><br/>
						<a href="artists/erzulie" class="artists-link">Erzulie</a><br/>
						<!-- <a href="artists/serge-demetrius-dube" class="artists-link">Serge Demetrius Dube</a><br/> -->
						<a href="artists/sara-leila-dumont" class="artists-link">Sara-Leila Dumont</a><br/>
						<a href="artists/ariane-fairlie" class="artists-link">Ariane Fairlie</a><br/>
						<a href="artists/catherine-fitri-prince" class="artists-link">Catherine Fitri Prince</a><br/>
						<!-- <a href="artists/nikolay-gamurar" class="artists-link">Nikolay Gamurar</a><br/> -->
						<a href="artists/jose-guillermo-garcia-sierra" class="artists-link">Jose Guillermo Garcia Sierra</a><br/>
						<a href="artists/sayeh-gold" class="artists-link">Sayeh Gold</a><br/>
						<a href="artists/victoria-gravel" class="artists-link">Victoria Gravel</a><br/>
						<a href="artists/hailey-anne-guzik" class="artists-link">Hailey Anne Guzik</a><br/>
						<!-- <a href="artists/ali-inay" class="artists-link">Ali Inay</a><br/> -->
						<a href="artists/dalia-janian" class="artists-link">Dalia Janian</a><br/>
						<a href="artists/cheyenne-jenkins" class="artists-link">Cheyenne Jenkins</a><br/>
						<a href="artists/cairo-justice" class="artists-link">Cairo Justice</a><br/>
						<!-- <a href="artists/jordan-kasarjian" class="artists-link">Jordan Kasarjian</a><br/> -->
						<a href="artists/minji-kim" class="artists-link">Minji Kim</a><br/>
						<a href="artists/madeline-kinney" class="artists-link">Madeline Kinney</a><br/>
						<a href="artists/lianna-klassen" class="artists-link">Lianna Klassen</a><br/>
						<a href="artists/kristal-kordich-crandall" class="artists-link">Kristal Kordich-Crandall</a><br/>
						<!-- <a href="artists/ryan-lebel" class="artists-link">Ryan Lebel</a><br/> -->
						<a href="artists/marie-pier-leclerc" class="artists-link">Marie-Pier Leclerc</a><br/>
						<a href="artists/alessandra-lontra" class="artists-link">Alessandra Lontra</a><br/>
						<!-- <a href="artists/dustyn-lucas" class="artists-link">Dustyn Lucas</a><br/> -->
						<a href="artists/mahnoor-malik" class="artists-link">Mahnoor Malik</a><br/>
						<!-- <a href="artists/schael-marceus" class="artists-link">Schaël Marcéus</a><br/> -->
						<!-- <a href="artists/aydin-matlabi" class="artists-link">Aydin Matlabi</a><br/> -->
						<a href="artists/alexia-mckindsey" class="artists-link">Alexia McKindsey</a><br/>
						<a href="artists/hunter-mclean" class="artists-link">Hunter McLean</a><br/>
						<a href="artists/genevieve-moreau" class="artists-link">Geneviève Moreau</a><br/>
						<a href="artists/sandra-morellato" class="artists-link">Sandra Morellato</a><br/>
						<a href="artists/stephanie-morin" class="artists-link">Stephanie Morin</a><br/>
						<!-- <a href="artists/devon-munro-menegon" class="artists-link">Devon Munro Menegon</a><br/> -->
						<a href="artists/jordann-murray" class="artists-link">Jordan Murray</a><br/>
						<a href="artists/lesya-nakoneczny" class="artists-link">Lesya Nakoneczny</a><br/>
						<!-- <a href="artists/andrew-nowacki" class="artists-link">Andrew Nowacki</a><br/> -->
						<a href="artists/maela-ohana" class="artists-link">Maela Ohana</a><br/>
						<!-- <a href="artists/laurent-palardy" class="artists-link">Laurent Palardy</a><br/> -->
						<a href="artists/grace-paraluch" class="artists-link">Grace Paraluch</a><br/>
						<a href="artists/maya-pathak" class="artists-link">Maya Pathak</a><br/>
						<!-- <a href="artists/eric-paulino" class="artists-link">Eric Paulino</a><br/> -->
						<a href="artists/marianne-pon-layus" class="artists-link">Marianne Pon-Layus</a><br/>
						<a href="artists/isobel-rae" class="artists-link">Isobel Rae</a><br/>
						<a href="artists/claudia-rynkowski" class="artists-link">Claudia Rynkowski</a><br/>
						<a href="artists/anna-sadofsky" class="artists-link">Anna Sadofsky</a><br/>
						<a href="artists/jessica-sallay-carrington" class="artists-link">Jessica Sallay-Carrington</a><br/>
						<!-- <a href="artists/emile-seguin" class="artists-link">Emile Seguin</a><br/> -->
						<a href="artists/ariel-shea" class="artists-link">Ariel Shea</a><br/>
						<a href="artists/kathryn-shriver" class="artists-link">Kathryn Shriver</a><br/>
						<a href="artists/nicole-small" class="artists-link">Nicole Small</a><br/>
						<a href="artists/celia-spenard-ko" class="artists-link">Celia Spenard-Ko</a><br/>
						<a href="artists/emily-spooner" class="artists-link">Emily Spooner</a><br/>
						<a href="artists/jackie-stendel" class="artists-link">Jackie Stendel</a><br/>
						<a href="artists/connie-sutera" class="artists-link">Connie Sutera</a><br/>
						<!-- <a href="artists/jules-tomi" class="artists-link">Jules Tomi</a><br/> -->
						<a href="artists/olivia-turchyniak" class="artists-link">Olivia Turchyniak</a><br/>
						<!-- <a href="artists/sean-vadaru" class="artists-link">Sean Vadaru</a><br/> -->
						<a href="artists/andrea-wilkin" class="artists-link">Andrea Wilkin</a><br/>
						<!-- <a href="artists/william-wilson" class="artists-link">William Wilson</a><br/> -->
						<a href="artists/jade-wulfraat" class="artists-link">Jade Wulfraat</a><br/>
						<a href="artists/florence-yee" class="artists-link">Florence Yee</a><br/>
						<a href="artists/janna-yotte" class="artists-link">Janna Yotte</a><br/>
					</div>
                </div>
            </div>
			<div class="footer-space"></div>
			{{> footer}}
        </div>
	</body>
    <footer>
		{{> body-end}}
    </footer>
</html>
