<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣🚶🚶￣￣👬￣

-->
<html lang="en">
	<head>
    {{> head}}
    </head>
	<body>
        {{> nav}}
		{{> 3d-overlay}}
        <div class="still">
            <div class="everything">
                <div id="about-0">
                    <div id="threed" class="threed animated pulse infinite threed-mobile threed-button">View in 3D</div>
                </div>
                <div id="about-1" class="about-description">
                    <span class="inline-logo"><img src="{{static_url}}assets/centerfold.svg"><img src="{{static_url}}assets/centerfold-white.svg" style="display:none"></span>is a creative agency that specializes in artistic curation, event production, and artist management. We revitalize our clients’ outreach and brand by leveraging our roster of up-and-coming talent, and as a result, establish meaningful connections to desired demographics through creative and augmented marketing strategies. We promise not only to broaden the possibilities of your company, but to cultivate valuable and meaningful engagement with current and future clientele.
                    <br/>
                    <br/>
                    Our focus:
                    <br/>
                    <br/>
                    &#9685; Art acquisition<br/>
                    &#9685; Art curation<br/>
                    &#9685; Artist management<br/>
                    &#9685; Event planning and production<br/>
                    &#9685; Marketing strategy and content creation<br/>
                </div>
				<div class="centerfold-header">
                    Contact
                </div>
                <div class="contact">
                    <div class="contact-card">
						<center>
	                        <div class="contact-name">General Inquiries</div>
	                        <a class="contact-email inline-link" href="mailto:hello@centerfold.gallery" target="_blank">hello@centerfold.gallery</a>
						</center>
                    </div>
                </div>
				<div class="centerfold-header">
                    Clients
                </div>
				<div class="about-press-logo-container">
					<div class="about-press-logo"><img src="{{static_url}}assets/pages/services/airmiles-logo.png"></div>
					<div class="about-press-logo"><img src="{{static_url}}assets/pages/services/bombay-logo.png"></div>
					<div class="about-press-logo"><img src="{{static_url}}assets/pages/services/chromatic-logo.png"></div>
					<div class="about-press-logo"><img src="{{static_url}}assets/pages/services/mural-logo.png"></div>
					<div class="about-press-logo" ><img src="{{static_url}}assets/pages/services/xo-logo.png"></div>
                </div>
				{{> footer}}
            </div>
        </div>
	</body>
    <footer>
		{{> body-end}}
		<script>
if (window.screen.width > 780) {
  document.write(
  '<script src="{{static_url}}js/three/laurent-3D.js"><\/script>'
  )
}
</script>
    </footer>
</html>
