<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2018
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣ 🚶￣￣👭￣

-->
<html lang="en">
	<head>
        {{> head }}
    </head>
	<body>
        {{> nav-series }}
		{{> 3d-overlay }}
        <div class="still" id="still">
            <div class="everything" id="everything">
				<div class="series-voting-card">
					<input type="name" id="name" size="40"><br>
					<input type="email" id="email" size="40"><br>
					<input type="vote1" id="vote1" size="40"><br>
					<input type="vote2" id="vote2" size="40"><br>
					<input type="vote3" id="vote3" size="40"><br>
					<input type="button" id="submit" value="Submit">
				</div>
                <div class="featured-collection-header">
                    <img src="{{static_url}}featured-collections/FC000001-header.png">
                </div>
                <div class="event-description">
                    <br/>
					{{# artPageArtworks}}<span class="artist-page-bio">{{{fields.Model Text}}}</span>{{/ artPageArtworks}}
  					<br/>
					<br/>
					<br/>
					<br/>
					<div class="threed-feat">
						<div id="threed" class="threed animated pulse infinite threed-mobile threed-button">View in 3D</div>
					</div>
                </div>
				{{> art/art-series }}
            </div>
			<div class="footer-space"></div>
			<div class="model-form-container">
				<script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrudrxSa36bpMzUq?backgroundColor=green" frameborder="0" onmousewheel="" width="60%" height="1037" style="background: transparent; border: 1px solid #ccc;"></iframe>
			</div>
			<div class="footer-space"></div>
			{{> footer}}
        </div>
	</body>
	<script>
		$(".still").scroll(function () {
			var y = $(this).scrollTop();
			if (y > 700) {
				$('.logo-home').fadeIn(500);
			} else {
				$('.logo-home').fadeOut(500);
			}
		});
	</script>
	<script>
		  $(document).ready(function(){
			var user,pass;
			$("#submit").click(function(){
			  name=$("#name").val();
			  email=$("#email").val();
			  vote1=$("#vote1").val();
			  vote2=$("#vote2").val();
			  vote3=$("#vote3").val();
			  $.post("http://localhost:3000/vote",{name: name, email: email, vote1: vote1, vote2: vote2, vote3: vote3}, function(data){
				if(data==='done')
				  {
					alert("Vote success");
				  }
			  });
			});
		  });
	</script>
    <footer>
		{{> body-end}}
		<!-- <script>
		if (window.screen.width > 780) {
			document.write(
			'<script src="{{static_url}}js/three/three-moments-distorted.js"><\/script>'
			)
		}
		</script> -->
    </footer>
</html>
