<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣🚶🚶￣￣👬￣

-->
<html lang="en">
	<head>
        {{> head}}
    </head>
	<body>
        {{> nav}}
		{{> 3d-overlay}}
        <div class="still">
            <div class="everything">
				<div class="faqs-header">
                    FAQs
                </div>

				<div class="faqs-cyoa">
					<a class="faqs-box shadow" style="background-image:url('')" href="faqs/series">Series</a>
					<a class="faqs-box shadow" style="background-image:url('')" href="faqs/marketplace">Marketplace</a>
				</div>

				<div class="footer-space"></div>
				{{> footer}}
            </div>
        </div>
		<footer>
			{{> body-end}}
	    </footer>
    </body>
</html>
