<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣🚶🚶￣￣👬￣

-->
<html lang="en">
	<head>
        {{> head}}
    </head>
	<body>
        {{> nav}}
		{{> 3d-overlay}}
        <div class="still">
            <div class="everything">
				<div class="centerfold-14">
                    FAQs <div id="threed" class="threed pulse animated infinite threed-mobile threed-button" style="opacity:0;">View in 3D</div>
                </div>

				<div class="faqs-cyoa">
					<a class="faqs-box shadow" href="faqs/series">Series</a><a class="faqs-box shadow" href="faqs/series">Marketplace</a>
				</div>

				<div class="footer-space"></div>
				{{> footer}}
            </div>
        </div>
		<footer>
			{{> body-end}}
	    </footer>
    </body>
</html>
