<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣🚶🚶￣￣👬￣

-->
<html lang="en">
	<head>
        {{> head}}
    </head>
	<body>
        {{> nav}}
		{{> 3d-overlay}}
        <div class="still">
            <div class="everything">
				<div class="centerfold-14">
                    FAQs <div id="threed" class="threed pulse animated infinite threed-mobile threed-button">View in 3D</div>
                </div>

				<div class="faqs-toc">
					<a class="faqs-toc-main-header" href="#series">Series</a><br/>
					<br/>
					<a class="faqs-toc-header" href="#series-general">General</a><br/>
					<a class="faqs-toc-question" href="#what-is-centerfold">What is Centerfold?</a><br/>
					<a class="faqs-toc-question" href="#what-is-centerfold-series">What is the Centerfold Series?</a><br/>
					<br/>
					<a class="faqs-toc-header" href="#series-artists">Artists</a><br/>
					<a class="faqs-toc-question" href="#im-an-artist">I'm an artist, how do I get featured in one of your Centerfold Series Exhibitions?</a><br/>
					<a class="faqs-toc-question" href="#use-centerfold-logo">Can I use Centerfold's logo to promote my artwork being a part of the exhibition?</a><br/>
					<a class="faqs-toc-question" href="#series-fees">How do fees work?</a><br/>
					<a class="faqs-toc-question" href="#taxes">Filing taxes</a><br/>
					<a class="faqs-toc-question" href="#donate-directly">Can people donate to me directly?</a><br/>
					<a class="faqs-toc-question" href="#series-artist-responsibilities">What are my responsibilities as an artist who's showing work in a Centerfold Series Exhibition?</a><br/>
					<a class="faqs-toc-question" href="#mar-im-an-artist">I'm interested in signing up for Centerfold's online marketplace to show and sell my work, how do I do that?</a><br/>
					<a class="faqs-toc-question" href="#series-sale">Can I sell my work from one of the Centerfold Series Exhibitions?</a><br/>
					<br/>
					<a class="faqs-toc-header" href="#series-payments">Receiving Payments</a><br/>
					<a class="faqs-toc-question" href="#series-paid">How do I get paid? What are my options for getting paid?</a><br/>
					<a class="faqs-toc-question" href="#series-earning-calc">How are my earning calculated?</a><br/>
					<a class="faqs-toc-question" href="#pay-out-info">How do I set up my pay-out information? How is this stored and my personal information stored?</a><br/>
					<br/>
					<a class="faqs-toc-header" href="#series-supporters">Supporters</a><br/>
					<a class="faqs-toc-question" href="#why-pay">Why do I have to pay before I can see any of the work?</a><br/>
					<a class="faqs-toc-question" href="#im-an-educator">I'm an educator and would like my class to view and vote in a Centerfold Series Exhibition, can we donate in bulk at a reduced admission cost?</a><br/>
					<a class="faqs-toc-question" href="#donate-to-cf">Can I support Centerfold directly?</a><br/>
					<a class="faqs-toc-question" href="#i-only-have-one-friend">I only want to give money to one artist? Why can't I?</a><br/>
					<a class="faqs-toc-question" href="#series-refund">Can I get a refund on my donation?</a><br/>
					<a class="faqs-toc-question" href="#series-buy">Can I buy any of the artwork? How does that work?</a><br/>
					<br/>
					<br/>

					<a class="faqs-toc-main-header" href="#marketplace">Marketplace</a><br/>
					<br/>
					<a class="faqs-toc-header" href="#faqs-marketplace-general">General</a><br/>
					<a class="faqs-toc-question" href="#mar-what-is-centerfold">What is Centerfold?</a><br/>
					<br/>
					<a class="faqs-toc-header" href="#mar-artists">Artists</a><br/>
					<a class="faqs-toc-question" href="#mar-im-an-artist">I'm interested in signing up for Centerfold's online marketplace to show and sell my work, how do I do that?</a><br/>
					<a class="faqs-toc-question" href="#mar-im-interested-in-series">I'm an artist, how do I get featured in one of your Centerfold Series Exhibitions?</a><br/>
					<a class="faqs-toc-question" href="#mar-resources">Can I use Centerfold's logo to promote my artwork being featured on the site?</a><br/>
					<a class="faqs-toc-question" href="#mar-commission">Does Centerfold charge commission on artworks sold through the Marketplace?</a><br/>
					<a class="faqs-toc-question" href="#mar-taxes">Filing taxes</a><br/>
					<a class="faqs-toc-question" href="#mar-artist-responsibilities">What are my responsibilities as an artist who's showing and selling work on the Centerfold Marketplace?</a><br/>
					<a class="faqs-toc-question" href="#mar-artist-shipping">How does shipping work?</a><br/>
					<br/>
					<a class="faqs-toc-header" href="#mar-payments">Receiving Payments</a><br/>
					<a class="faqs-toc-question" href="#mar-paid">How do I get paid? What are my options for getting paid?</a><br/>
					<a class="faqs-toc-question" href="#mar-pay-out">How do I set up my pay-out information? How is this and my personal information stored?</a><br/>
					<br/>
					<a class="faqs-toc-header" href="#mar-buyer-info">Buyers</a><br/>
					<a class="faqs-toc-question" href="#mar-buyer-expect">I just bought an artwork, what can I expect?</a><br/>
					<a class="faqs-toc-question" href="#mar-buyer-shipping-calc">How is shipping calculated?</a><br/>
					<a class="faqs-toc-question" href="#mar-no-lol">Can I negotiate the price of an artwork?</a><br/>
					<a class="faqs-toc-question" href="#mar-authenticity">How do I ensure the authenticity of an artwork?</a><br/>
					<a class="faqs-toc-question" href="#mar-reach">I am hesitant to buy an artwork without seeing it in person. Can I schedule a viewing?</a><br/>
					<a class="faqs-toc-question" href="#mar-no-again-sorry">Can I return the work if I do not feel as strongly about it when it arrives?</a><br/>
					<a class="faqs-toc-question" href="#mar-damanged">I received a damaged artwork, what do I do?</a><br/>
				</div>


				<div class="footer-space"></div>
				{{> footer}}
            </div>
        </div>
		<footer>
			{{> body-end}}
			<script>
if (window.screen.width > 780) {
  document.write(
  '<script src="{{static_url}}js/three/laurent-3D.js"><\/script>'
  )
}
</script>
	    </footer>
    </body>
</html>
