<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣🚶🚶￣￣👬￣

-->
<html lang="en">
	<head>
        {{> head}}
    </head>
	<body>
        {{> nav}}
		{{> 3d-overlay}}
        <div class="still">
            <div class="everything">

				<div class="faqs-toc">
					<a class="faqs-toc-main-header" href="#marketplace"><span class="t1">FAQs</span> &mdash; Marketplace</a><br/>
					<br/>
					<a class="faqs-toc-header" href="#faqs-marketplace-general">General</a><br/>
					<a class="faqs-toc-question" href="#mar-what-is-centerfold">What is Centerfold?</a><br/>
					<br/>
					<a class="faqs-toc-header" href="#mar-artists">Artists</a><br/>
					<a class="faqs-toc-question" href="#mar-im-an-artist">I'm interested in signing up for Centerfold's online marketplace to show and sell my work, how do I do that?</a><br/>
					<a class="faqs-toc-question" href="#mar-im-interested-in-series">I'm an artist, how do I get featured in one of your Centerfold Series Exhibitions?</a><br/>
					<a class="faqs-toc-question" href="#mar-resources">Can I use Centerfold's logo to promote my artwork being featured on the site?</a><br/>
					<a class="faqs-toc-question" href="#mar-commission">Does Centerfold charge commission on artworks sold through the Marketplace?</a><br/>
					<a class="faqs-toc-question" href="#mar-taxes">Filing taxes</a><br/>
					<a class="faqs-toc-question" href="#mar-artist-responsibilities">What are my responsibilities as an artist who's showing and selling work on the Centerfold Marketplace?</a><br/>
					<a class="faqs-toc-question" href="#mar-artist-shipping">How does shipping work?</a><br/>
					<br/>
					<a class="faqs-toc-header" href="#mar-payments">Receiving Payments</a><br/>
					<a class="faqs-toc-question" href="#mar-paid">How do I get paid? What are my options for getting paid?</a><br/>
					<a class="faqs-toc-question" href="#mar-pay-out">How do I set up my pay-out information? How is this and my personal information stored?</a><br/>
					<br/>
					<a class="faqs-toc-header" href="#mar-buyer-info">Buyers</a><br/>
					<a class="faqs-toc-question" href="#mar-buyer-expect">I just bought an artwork, what can I expect?</a><br/>
					<a class="faqs-toc-question" href="#mar-buyer-shipping-calc">How is shipping calculated?</a><br/>
					<a class="faqs-toc-question" href="#mar-no-lol">Can I negotiate the price of an artwork?</a><br/>
					<a class="faqs-toc-question" href="#mar-authenticity">How do I ensure the authenticity of an artwork?</a><br/>
					<a class="faqs-toc-question" href="#mar-reach">I am hesitant to buy an artwork without seeing it in person. Can I schedule a viewing?</a><br/>
					<a class="faqs-toc-question" href="#mar-no-again-sorry">Can I return the work if I do not feel as strongly about it when it arrives?</a><br/>
					<a class="faqs-toc-question" href="#mar-damanged">I received a damaged artwork, what do I do?</a><br/>
				</div>


				<div class="faqs-container">
					<div class="faqs-main-header" id="marketplace">
						Marketplace
					</div>
					<div class="faqs-header" id="faqs-marketplace-general">
						Marketplace &mdash; General
					</div>
					<div class="faqs-question" id="mar-what-is-centerfold">
						What is Centerfold?
					</div>
					<div class="faqs-answer">
						Centerfold is a Montreal-based organization with the aim of driving social and economic change in the art industry. Our goal is to enable artists to gain funding, visibility, and access while increasing art awareness within the community.
					</div>

					<div class="faqs-header" id="mar-artists">
						Marketplace &mdash; Artists
					</div>
					<div class="faqs-question" id="mar-im-an-artist">
						I'm interested in signing up for Centerfold's online marketplace to show and sell my work, how do I do that?
					</div>
					<div class="faqs-answer">
						We have a submission form that you can access through the website in order to submit to <a href="/art" class="inline-link">Centerfold's Marketplace</a>.<br/>
						<br/>
						You can also submit directly <a href="https://airtable.com/shrYREuYyVQkEd0gm" target="_blank" class="inline-link">here</a>.
					</div>
					<div class="faqs-question" id="mar-im-interested-in-series">
						I'm an artist, how do I get featured in one of your Centerfold Series Exhibitions?
					</div>
					<div class="faqs-answer">
						For questions related to the Centerfold Series, see <a href="../../faqs/series" class="inline-link">here</a>.
					</div>
					<div class="faqs-question" id="mar-resources">
						Can I use Centerfold's logo to promote my artwork being featured on the site?
					</div>
					<div class="faqs-answer">
						Yes! We really encourage this. Essentially, the more you promote to your friends, family, and followers, the more likely someone will buy your artwork.<br/>
						<br/>
						You can find assets to share on your different social media platforms <a href="/resources" target="_blank" class="inline-link">here</a>.
					</div>
					<div class="faqs-question" id="mar-commission">
						Does Centerfold charge commission on artworks sold through the Marketplace?
					</div>
					<div class="faqs-answer">
						We charge a 25% commission on any sale on the Centerfold Marketplace.<br/>
						<br/>
						We don't charge any commission on sales of artworks that are currently being featured in a Centerfold Series Exhibition. You can learn more happens with money from sales of Centerfold Series Exhibition artworks <a href="../../faqs/series#series-sale" class="inline-link">here</a>.
					</div>
					<div class="faqs-question" id="mar-taxes">
						Filing taxes
					</div>
					<div class="faqs-answer">
						Due to different tax laws and obligations across provinces, states, and countries, we are not able to give advice on filing taxes. We recommend that you reach out to a tax professional in your area if you have any questions regarding your potential tax obligations from any money you make from Centerfold.
					</div>
					<div class="faqs-question" id="mar-artist-responsibilities">
						What are my responsibilities as an artist who's showing and selling work on the Centerfold Marketplace?
					</div>
					<div class="faqs-answer">
						Here's a list of your responsibilities:<br/>
						<br/>
						&#x2022; Only submit work that has been created by you. We have a strict policy on stolen work. Also, just don't steal, it's not cool. We take this very seriously.<br/>
						&#x2022; Provide accurate information on the artwork (condition, dimensions, materials, etc.)<br/>
						&#x2022; Inform Centerfold of any change in the condition of the artwork (for example, if the artwork was damaged or scratched)<br/>
						&#x2022; Maintain prompt communication with us in case of a sale<br/>
						&#x2022; Promptly ship the artwork to a buyer, making sure to properly package the work before sending it.<br/>
						&#x2022; Promote not just yourself, but the other artists in the exhibition.<br/>
					</div>
					<div class="faqs-question" id="mar-artist-shipping">
						How does shipping work?
					</div>
					<div class="faqs-answer">
						Once a sale has been made, you will receive an email from us with the “Proof of Sale”. We'll also coordinate with you for shipping.<br/>
						<br/>
						If you choose to ship yourself, you will be responsible for packaging and shipping the artwork. We'll send you all the shipping details and reimburse you for the shipping costs.<br/>
						<br/>
						Once a sale is processed and the funds are transferred into our account, we will send your payment to you via Interac E-Transfer, wire transfer, or PayPal.<br/>
						<br/>
						If you'd like us to take care of shipping for you, then we'll ask you to bring the artwork to us. We'll take care of the rest. We are currently able to ship artworks ourselves from Montreal and Toronto.
					</div>

					<div class="faqs-header" id="mar-payments">
						Marketplace &mdash; Artists &mdash; Receiving Payments
					</div>
					<div class="faqs-question" id="mar-paid">
						How do I get paid? What are my options for getting paid?
					</div>
					<div class="faqs-answer">
						We will send your payment via Interac E-Transfer, wire transfer, or PayPal once the funds are transferred into our account. The funds generally take around 1 week to process. Once they have been processed, your payments will be issued. Based on the way you are getting paid, this timeline varies, but you will get out ASAP!
					</div>
					<div class="faqs-question" id="mar-pay-out">
						How do I set up my pay-out information? How is this and my personal information stored?
					</div>
					<div class="faqs-answer">
						We'll reach out to you to collect this information once one of your artworks sells.<br/>
						<br/>
						Your information will be stored offline, on a password protected folder, and will be immediately deleted once your funds have been transferred. It will never, ever, be shared with anyone because we don't roll like that. If you would like more information about privacy on Centerfold, you can read about it <a href="/privacy" class="inline-link">here</a>.
					</div>

					<div class="faqs-header" id="mar-buyer-info">
						Marketplace &mdash; Buyers
					</div>
					<div class="faqs-question" id="mar-buyer-expect">
						I just bought an artwork, what can I expect?
					</div>
					<div class="faqs-answer">
						Great! Thank you for supporting one of the artists on the platform.<br/>
						<br/>
						Once you purchase an artwork, we'll send you an email with a receipt and to notify you of the current location of the artwork and as estimated processing timeline. Once the artwork is shipped, we'll email you with the tracking number.<br/>
						<br/>
						Please allow up to 5 business days to prepare the artwork to ship. Shipping timelines vary on source and final destination, but we'll be in touch with you every step of the way.
					</div>
					<div class="faqs-question" id="mar-buyer-shipping-calc">
						How is shipping calculated?
					</div>
					<div class="faqs-answer">
						Right now shipping costs vary between $15 and $175 USD depending on the value and dimensions of the artwork. This ensures we can deliver your artwork to you safely, wherever you are in the world. We will keep the information about shipping here, and on individual artwork pages, updated based on any changes that we may have to make for extremely large (or small) works.<br/>
						<br/>
						If you have any questions about shipping please don't hesitate to get in contact with us at <a href="mailto:support@centerfold.gallery?subject=I have a question about shipping" target="_blank" class="inline-link">support@centerfold.gallery</a>.
					</div>
					<div class="faqs-question" id="mar-no-lol">
						Can I negotiate the price of an artwork?
					</div>
					<div class="faqs-answer">
						Prices listed on the website are final. If you're eyeing an artwork and it's just above your budget, you can sign up for our mailing list to be informed of any promotions or sales we might be running.<br/>
						<br/>
						You can sign up <a href="http://eepurl.com/difQiP" class="inline-link" target="_blank">here</a>
					</div>
					<div class="faqs-question" id="mar-authenticity">
						How do I ensure the authenticity of an artwork?
					</div>
					<div class="faqs-answer">
						You will receive a Certificate of Authenticity with every purchase of an artwork. You should hold on to this certificate, and store it in a safe place in case you choose to re-sell the artwork at a later date. We do not conform to archiac unspoken rules like other galleries. You are more than welcome to sell an artwork you've bought from us, without asking us. It's yours, and you can do what you want with it.
					</div>
					<div class="faqs-question" id="mar-reach">
						I am hesitant to buy an artwork without seeing it in person. Can I schedule a viewing?
					</div>
					<div class="faqs-answer">
						Seeing and experiencing an artwork in person can be a decisive step in the acquisition process. In most cases, we are happy to coordinate a visit for you to view an artwork in person, in Montreal and Toronto. In some cases (such as when the artist has elected to hold and ship the artwork themselves), we may be able to schedule a studio visit for you. Please email us as <a href="mailto:support@centerfold.gallery?subject=I would like to view an artwork in person" target="_blank" class="inline-link">support@centerfold.gallery</a> to schedule a viewing.<br/>
						<br/>
						For prospective buyers located outside of Montreal and Toronto, we would happy to provide you with hi-resolution images and/or videos of artworks under consideration in order to better visualize the piece. If you would like to send us a picture of a space you invision putting your artwork in, please let us know, and we will send you a mockup of the artwork, to scale, in your space. We are working on an AR app to better facilitate this process in the future.<br/>
						<br/>
						To request hi-resolution images, videos, or a mockup, please send us an email at <a href="mailto:support@centerfold.gallery?subject=I would like hi-res images, videos, and a mockup of an artwork in my space" target="_blank" class="inline-link">support@centerfold.gallery</a>.
					</div>
					<div class="faqs-question" id="mar-no-again-sorry">
						Can I return the work if I do not feel as strongly about it when it arrives?
					</div>
					<div class="faqs-answer">
						Unfortunately, once a sale is made, we are unable to provide a refund.
					</div>
					<div class="faqs-question" id="mar-damanged">
						I received a damaged artwork, what do I do?
					</div>
					<div class="faqs-answer">
						First of all, allow us to apologize for any damage that might have occurred while shipping.<br/>
						<br/>
						Please get in touch with us immediately at <a href="mailto:support@centerfold.gallery?subject=My artwork arrived damaged" target="_blank" class="inline-link">support@centerfold.gallery</a>.
					</div>

					<div class="faqs-header" id="mar-buyer-info">
						Bonus
					</div>
					<div class="faqs-question" id="mar-buyer-expect">
						Do you take submissions for short fiction?
					</div>
					<div class="faqs-answer">
						No. We're not interested in taking submissions for short fiction.
					</div>

				</div>

				<div class="footer-space"></div>
				{{> footer}}
            </div>
        </div>
		<footer>
			{{> body-end}}
	    </footer>
    </body>
</html>
