<!DOCTYPE html>
<!--

  ______________
 ╱|_____________╱|
| |            | |
| |   ⛲️   🌃  | |      :) © Centerfold 2017
| |           | |
|╱ ￣￣￣￣￣￣￣|╱
 ￣￣￣🚶🚶￣￣👬￣

-->
<html lang="en">
	<head>
        {{> head}}
    </head>
	<body>
        {{> nav}}
		{{> 3d-overlay}}
        <div class="still">
            <div class="everything">

				<div class="faqs-main-header">
					Privacy Policy
				</div>

				<div class="faqs-container">
					<div class="faqs-question">
						Welcome to Centerfold!
					</div>
					<div class="faqs-answer">
						Centerfold is a platform where visitors can support artists. We care about your privacy and want to help you understand how we collect, use and share your personal information. This privacy policy applies to patrons and creators, and is part of our terms of use.
					</div>
					<div class="faqs-question">
						Information You Provide
					</div>
					<div class="faqs-answer">
						This is information that you provide to us through text fields, such as your name, email, and payment information. The information we collect is different depending on if you are an artist, become a supporter by supporting an artist, become a buyer by purchasing the work of an artist, or become an artist by creating a Centerfold page.
					</div>
					<div class="faqs-question">
						All Users
					</div>
					<div class="faqs-answer">
						To access the Centerfold Series you have to provide your:<br/>
						<br/>
						1.	Email address<br/>
						2.	Full Name<br/>
						<br/>
						We use this information to provide you with a receipt for your donation to access the Series, and to prevent vote manipulation.
					</div>
					<div class="faqs-question">
						Supporters and Buyers
					</div>
					<div class="faqs-answer">
						A supporter is someone who financially supports artists through Centerfold. To become a supporter, you have to provide one of our payment processors (Stripe or PayPal) with your payment information. You can see the privacy policy for these payment processors on the PayPal and Stripe sites. They provide us with a token that represents your account, your card's expiration date, card type and the last four digits of your credit card. If you provide them with a name and email address then they also provide us with that information.<br/>
						<br/>
						As a buyer, if you purchase an artwork, then you have to provide your shipping information so we or the artist can ship you the artwork.
					</div>
					<div class="faqs-question">
						Artist
					</div>
					<div class="faqs-answer">
						An artist is someone who submits and showcases original artwork on a Centerfold page. To become an artist, you must submit artwork that is selected to be placed on Centerfold, either in the marketplace or as part of a Centerfold Series Exhibition. We collect and process this information along with any additional information you add to your profile. To receive payments you have to create an account with one of our payment partners: PayPal, Stripe. You may also provide us with an email for electronic wire transfers, or your bank account information for bank wire transfers. Depending on what type of artist account you have, you will fill out a form with some combination of your:<br/>
						<br/>
						1.	Legal name<br/>
						2.	Profile Picture<br/>
						3.	Email<br/>
						4.	Date of Birth<br/>
						5.	Biography<br/>
						6.	Artwork details (titles, materials, dimension, prices, dates created, etc.), for each of your artworks featured on Centerfold
					</div>
					<div class="faqs-question">
						Information We Collect
					</div>
					<div class="faqs-answer">
						We collect information automatically as you navigate the site or through our third party analytics providers. We may store usage information such as the type of device you use to access Centerfold, your operating system, browser type, IP address, and device ID, the pages you visit or request, links clicked, referring sites, user interactions and your search terms. We also derive your location from your IP address.
					</div>
					<div class="faqs-question">
						Do Not Track
					</div>
					<div class="faqs-answer">
						Our service does not support Do Not Track requests at this time, which means our third party analytics providers may associate your usage on Centerfold with your usage on other sites.
					</div>
					<div class="faqs-question">
						Cookies
					</div>
					<div class="faqs-answer">
						We do not use any third-party advertising cookies to present you with opportunities while on Centerfold. We also do not use retargeting cookies to present you with Centerfold advertising on other websites.<br/>
						<br/>
						We use Google Analytics Analytics cookies to see how you use Centerfold so we can improve in a variety of ways. Right now, that's limited to distinguishing users. We encourage you to read more about how Google Analytics uses cookies to help us view our web traffic here. If you prefer to not have data reported by Google Analytics, you can install a third-party ad blocker. We recommend uBlock.<br/>
						<br/>
						While we try to keep this list up to date, we often experiment with new third-party analytics providers, and this list may not be exhaustive.<br/>
						<br/>
						We believe in being a non-intrusive platform. We use first party cookies to remember user preferences. Right now that just means remembering if you like to have Night Mode on or off, and whether or not you paid to browse the Centerfold Series Exhibition. We will update these terms to reflect any changes that we may make.
					</div>
					<div class="faqs-question">
						How We Use Your Information
					</div>
					<div class="faqs-answer">
						We never sell your information to anyone. We use your information to:<br/>
						<br/>
						1.	Provide Centerfold to you.<br/>
						2.	Allow you to support artists through Centerfold.<br/>
						3.	Allow you to collect money as an artist.<br/>
						4.	Send you emails relevant to your usage, as controlled by your email preferences.<br/>
						5.	Reply to your questions.<br/>
						6.	Create better tools for artists to showcase their artwork.<br/>
						7.	Conduct research and development to improve Centerfold and develop future products that our users may be interested in by analyzing how you use it.<br/>
						8.	Prevent fraud and abuse on Centerfold.
					</div>
					<div class="faqs-question">
						Information Shared with Creators
					</div>
					<div class="faqs-answer">
						If you are a buyer, the following information is shared with the artist you purchased an artwork from:<br/>
						<br/>
						1.	Your name.<br/>
						2.	Your shipping address if they are the ones shipping the artwork to you.<br/>
						3.	All information about your purchase, including purchase amount.
					</div>
					<div class="faqs-question">
						Information Shared with Third Parties
					</div>
					<div class="faqs-answer">
						Personally Identifiable Information (PII) is data that includes a personal identifier like your name, email or address, or data that could reasonably be linked back to you. We will only share this data under the following circumstances:<br/>
						<br/>
						1.	With companies that are contractually engaged in providing us with services, such as order fulfillment, email management, analyzing data trends, credit card processing and fraud detection and prevention. These companies may have access to personal information to perform their services and are obligated by contract to safeguard any PII they receive from us.<br/>
						2.	If we believe that disclosure is reasonably necessary to comply with a law, regulation, valid legal process (e.g., subpoenas or warrants served on us), to protect the security or integrity of Centerfold, and to protect the rights, property, or safety of Centerfold, its employees, users, or others. If we are going to release your data, we will do our best to provide you with notice in advance by email, unless we are prohibited by law from doing so.<br/>
						3.	We may disclose or transfer your data in connection with the sale, merger, bankruptcy, sale of assets or reorganization of our company. We will notify you if a different company receives your PII. The promises in this privacy policy apply to any data transferred to a new entity.
					</div>
					<div class="faqs-question">
						Information Shared with the Public
					</div>
					<div class="faqs-answer">
						The following information is publicly accessible:<br/>
						<br/>
						1.	Your profile, and your social media links and location if you add that information.<br/>
						2.	Any artwork posts you make on an artist or as part of a Centerfold Series Exhibition page.<br/>
						3.	We may share aggregated or anonymized usage data in blog posts, press releases, or in other ways to share information about Centerfold's usage. Aggregated or anonymized data cannot be linked back to any individual Centerfold user.
					</div>
					<div class="faqs-header">
						Your Choices
					</div>
					<div class="faqs-question">
						Disable Account
					</div>
					<div class="faqs-answer">
						You can remove your public facing information by emailing support@centerfold.gallery to have your online presence removed from public view. When we do this, we remove all your information from the database.<br/>
						<br/>
						Even if an account is disabled, all information may be retained by our analytics providers on their own servers.
					</div>
					<div class="faqs-question">
						Emails
					</div>
					<div class="faqs-answer">
						You can unsubscribe to emails you receive from us at any time.
					</div>
					<div class="faqs-question">
						European Union Data Transfer (Transfer of Data to Canada)
					</div>
					<div class="faqs-answer">
						We are based in Canada. By using our services you consent to the transfer of your personal data to Canada, and to the processing and use of that personal data in Canada. This processing and use is limited to what is described in this privacy policy and the terms of use.<br/>
						<br/>
						You also recognize that the processing of your personal data in Canada might not provide for an equal level of data protection as is granted in countries within the European Union.
					</div>
					<div class="faqs-question">
						Marketing Activities
					</div>
					<div class="faqs-answer">
						We may use your information to offer you products and services that we think may be of interest to you, unless you have opted out of marketing communications. If you are in the European Economic Area, where required by applicable law, we will obtain your consent before sending you any marketing communications. You may object to the use of your data for direct marketing purposes at any time, free of charge, when we collect your personal information and in every marketing communication. We will never provide your information to third parties for marketing purposes without your prior consent.
					</div>
					<div class="faqs-question">
						Security
					</div>
					<div class="faqs-answer">
						The security of your personal information is important to us and we follow industry standards to protect it. Full credit card numbers are never accessed by our system, and the most sensitive data we store are encrypted to keep them secure.
					</div>
					<div class="faqs-question">
						Children
					</div>
					<div class="faqs-answer">
						Centerfold is not directed at children under the age of 13, and they may not use Centerfold.
					</div>
					<div class="faqs-question">
						Changes
					</div>
					<div class="faqs-answer">
						We may sometimes make changes to this policy. If we make material changes that adversely affect your rights under this policy, we will let you know by posting an announcement on the site or sending you an email prior to the changes coming into effect. Continuing to use Centerfold after a change to this policy means you accept the new policy.<br/>
						<br/>
						If you have any questions about our privacy policy, please let us know at <a href="mailto:support@centerfold.gallery?subject=Question about privacy" target="_blank" class="inline-link">support@centerfold.gallery</a>.
					</div>
					<div class="effective-date-copy">Effective March 29th, 2018. Last updated on March 30th, 2018</div>
					<div class="effective-date-copy">© 2018 Centerfold</div>
				</div>



				<div class="footer-space"></div>
				{{> footer}}
            </div>
        </div>
		<footer>
			{{> body-end}}
	    </footer>
    </body>
</html>
