<!DOCTYPE html>
{{> ascii }}
<html lang="en">
	<head>
        {{> head}}
    </head>
	<body>
        {{> nav}}
		{{> 3d-overlay}}
        <div class="still">
            <div class="everything">
				<div class="centerfold-14">
                    FAQs <div id="threed" class="threed pulse animated infinite threed-mobile threed-button">View in 3D</div>
                </div>

				<div class="faqs-toc">
					<a class="faqs-toc-main-header" href="#series">Series</a><br/>
					<br/>
					<a class="faqs-toc-header" href="#series-general">General</a><br/>
					<a class="faqs-toc-question" href="#what-is-centerfold">What is Centerfold?</a><br/>
					<a class="faqs-toc-question" href="#what-is-centerfold-series">What is the Centerfold Series?</a><br/>
					<br/>
					<a class="faqs-toc-header" href="#series-artists">Artists</a><br/>
					<a class="faqs-toc-question" href="#im-an-artist">I'm an artist, how do I get featured in one of your Centerfold Series Exhibitions?</a><br/>
					<a class="faqs-toc-question" href="#use-centerfold-logo">Can I use Centerfold's logo to promote my artwork being a part of the exhibition?</a><br/>
					<a class="faqs-toc-question" href="#series-fees">How do fees work?</a><br/>
					<a class="faqs-toc-question" href="#taxes">Filing taxes</a><br/>
					<a class="faqs-toc-question" href="#donate-directly">Can people donate to me directly?</a><br/>
					<a class="faqs-toc-question" href="#series-artist-responsibilities">What are my responsibilities as an artist who's showing work in a Centerfold Series Exhibition?</a><br/>
					<a class="faqs-toc-question" href="#mar-im-an-artist">I'm interested in signing up for Centerfold's online marketplace to show and sell my work, how do I do that?</a><br/>
					<a class="faqs-toc-question" href="#series-sale">Can I sell my work from one of the Centerfold Series Exhibitions?</a><br/>
					<br/>
					<a class="faqs-toc-header" href="#series-payments">Receiving Payments</a><br/>
					<a class="faqs-toc-question" href="#series-paid">How do I get paid? What are my options for getting paid?</a><br/>
					<a class="faqs-toc-question" href="#series-earning-calc">How are my earning calculated?</a><br/>
					<a class="faqs-toc-question" href="#pay-out-info">How do I set up my pay-out information? How is this stored and my personal information stored?</a><br/>
					<br/>
					<a class="faqs-toc-header" href="#series-supporters">Supporters</a><br/>
					<a class="faqs-toc-question" href="#why-pay">Why do I have to pay before I can see any of the work?</a><br/>
					<a class="faqs-toc-question" href="#im-an-educator">I'm an educator and would like my class to view and vote in a Centerfold Series Exhibition, can we donate in bulk at a reduced admission cost?</a><br/>
					<a class="faqs-toc-question" href="#donate-to-cf">Can I support Centerfold directly?</a><br/>
					<a class="faqs-toc-question" href="#i-only-have-one-friend">I only want to give money to one artist? Why can't I?</a><br/>
					<a class="faqs-toc-question" href="#series-refund">Can I get a refund on my donation?</a><br/>
					<a class="faqs-toc-question" href="#series-buy">Can I buy any of the artwork? How does that work?</a><br/>
					<br/>
				</div>

                <div class="faqs-container">
					<div class="faqs-main-header" id="series">
						Series
					</div>
					<div class="faqs-header" id="series-general">
						Series &mdash; General
					</div>
					<div class="faqs-question" id="what-is-centerfold">
						What is Centerfold?
					</div>
					<div class="faqs-answer">
						Centerfold is a Montreal-based organization with the aim of driving social and economic change in the art industry. Our goal is to enable artists to gain funding, visibility, and access while increasing art awareness within the community.
					</div>

					<div class="faqs-question" id="what-is-centerfold-series">
						What is the Centerfold Series?
					</div>
					<div class="faqs-answer">
						The Centerfold series showcases visual art under a new economic model where creators are funded through the audience's experience. To view the exhibition, visitors must pay an admission fee first. Once they have gained entry to the exhibition, they vote for their 3 favourite artworks on display. 100% of the admission fees are distributed to the artists based on the percentage of votes they receive.
					</div>

					<div class="faqs-header" id="series-artists">
						Series &mdash; Artists
					</div>
					<div class="faqs-question" id="im-an-artist">
						I'm an artist, how do I get featured in one of your Centerfold Series Exhibitions?
					</div>
					<div class="faqs-answer">
						We will be opening this process to submissions in the future.<br/>
						<br/>
						We are also currently working on a way for people to host their own Centerfold Series Exhibitions.<br/>
						If you would like to receive information on our progress, and when these features will be rolled out, please sign up <a href="http://eepurl.com/dpPpK5" target="_blank" class="inline-link">here</a>.
					</div>
					<div class="faqs-question" id="use-centerfold-logo">
						Can I use Centerfold's logo to promote my artwork being a part of the exhibition?
					</div>
					<div class="faqs-answer">
						Yes! We really encourage this. Essentially, the more you promote to your friends, family, and followers, the more votes you will get. Not only will your vote totals increase, but you'll be helping the other artists get more votes as well. Everyone wins!<br/>
						<br/>
						You can find assets to share on your different social media platforms <a href="./resources" target="_blank" class="inline-link">here</a>.
					</div>
					<div class="faqs-question" id="series-fees">
						How do fees work?
					</div>
					<div class="faqs-answer">
						No fees! 100% of the exhibition admission fees we receive are distributed amongst the participating artists.
					</div>
					<div class="faqs-question" id="taxes">
						Filing taxes
					</div>
					<div class="faqs-answer">
						Due to different tax laws and obligations across provinces, states, and countries, we are not able to give advice on filing taxes. We recommend that you reach out to a tax professional in your area if you have any questions regarding your potential tax obligations from any money you make from Centerfold.
					</div>
					<div class="faqs-question" id="donate-directly">
						Can people donate to me directly?
					</div>
					<div class="faqs-answer">
						At this point, no. Our focus at Centerfold is to support the artistic community as a whole, rather than one artist in particular. For this reason, any amount raised is distributed to all the artists that are part of your exhibition. You friends, family, and followers, can support you directly by casting a vote in your favour.
					</div>
					<div class="faqs-question" id="series-artist-responsibilities">
						What are my responsibilities as an artist who's showing work in a Centerfold Series Exhibition?
					</div>
					<div class="faqs-answer">
						Here's a list of your responsibilities:<br/>
						<br/>
						&#x2022; Only submit work that has been created by you. We have a strict policy on stolen work. Also, just don't steal, it's not cool. We take this very seriously.<br/>
						&#x2022; Provide accurate information on the artwork (condition, dimensions, materials, etc.)<br/>
						&#x2022; Inform Centerfold of any change in the condition of the artwork (for example, if the artwork was damaged or scratched)<br/>
						&#x2022; Maintain prompt communication with us in case of a sale<br/>
						&#x2022; Promptly ship the artwork to a buyer, making sure to properly package the work before sending it.<br/>
						&#x2022; Promote not just yourself, but the other artists in the exhibition.<br/>
					</div>
					<div class="faqs-question">
						I'm interested in signing up for Centerfold's online marketplace to show and sell my work, how do I do that?
					</div>
					<div class="faqs-answer">
						We have a submission form that you can access through the website in order to submit to <a href="./art" class="inline-link">Centerfold's Marketplace</a>.<br/>
						<br/>
						You can also submit directly <a href="https://airtable.com/shrYREuYyVQkEd0gm" target="_blank" class="inline-link">here</a>.
					</div>
					<div class="faqs-question" id="series-sale">
						Can I sell my work from one of the Centerfold Series Exhibitions?
					</div>
					<div class="faqs-answer">
						Yes! For artists participating in the Centerfold Series exhibitions, your work can be made available for sale. Centerfold does not take a commission on any of these sales.<br/>
						<br/>
						You will receive 95% of the funds from the sale. The other 5% will be put into the admission fee pool to be distributed amongst all the artists in your cohort (including yourself).<br/>
						<br/>
						You will be responsible for packaging and shipping the artwork, along with any other fees you might incur in the process. We'll send you all the shipping details.<br/>
						Once a sale is processed and the funds are transferred into our account, we will send your payment via e-transfer, wire transfer, or PayPal.<br/>
						If you have any questions about this, please email us at <a href="mailto:support@centerfold.gallery?subject=Question about selling my work from a Centerfold Series Exhibition" target="_blank" class="inline-link">support@centerfold.gallery</a>.<br/>
					</div>

					<div class="faqs-header" id="series-payments">
						Series &mdash; Artists &mdash; Receiving Payments
					</div>
					<div class="faqs-question" id="series-paid">
						How do I get paid? What are my options for getting paid?
					</div>
					<div class="faqs-answer">
						We will send your payment via Interac E-Transfer, wire transfer, or PayPal once the funds are transferred into our account. The funds take around 7 days to process. Once they have been processed, your payment will be issued. Based on the way you are getting paid, this timeline varies, but you'll get it as soon as possible! We will also send you a reciept.<br/>
						<br/>
						If someone purchases one of the artworks you're showing in a Centerfold Series Exhibition, we will notify you as soon as the sale goes through, and send your payment for the sale, along with the funds from the voting portion of the exhibition, along with money to ship the work to the buyer. At this time we'll also send you the shipping info, and a Certificate of Authenticy to package along with the artwork for shipping.
					</div>
					<div class="faqs-question" id="series-earning-calc">
						How are my earning calculated?
					</div>
					<div class="faqs-answer">
						We use a simple formula to calculate each artists' earnings. The exhibition entry fees we've collected throughout the week long exhibition are pooled together and then distributed to the artists based on the percentage of votes each artist receives.<br/>
						<br/>
						Here's the formula&mdash;<br/>
						(Entry fees collected + 5% of any sale) x (Votes cast for your work / All votes cast) = Your Earnings<br/>
						<br/>
						Example&mdash;<br/>
						($5000 collected + 5% of a $1000 sale) x (300 votes for you / 3000 votes cast) = $505.00 paid to you.<br/>
					</div>
					<div class="faqs-question" id="pay-out-info">
						How do I set up my pay-out information? How is this stored and my personal information stored?
					</div>
					<div class="faqs-answer">
						We'll reach out to you to collect this information before your exhibition goes live and before we start collecting donations.<br/>
						Your information will be stored offline, on a password protected folder, and will be immediately deleted once the exhibition is over and your funds have been transferred. It will never, ever, be shared with anyone because we don't roll like that. If you would like more information about privacy on Centerfold, you can read about it <a href="./privacy" class="inline-link">here</a>.
					</div>

					<div class="faqs-header" id="series-supporters">
						Series &mdash; Supporters
					</div>
					<div class="faqs-question" id="why-pay">
						Why do I have to pay before I can see any of the work?
					</div>
					<div class="faqs-answer">
						Aside from the cost of materials, artists spend countless hours creating their work. We don't think it's fair that artists have to sell an artwork to get a return on their investment. You pay to go watch a concert, and we think everyone, who is able to, should pay to go see an artwork. Your admission fee to the online exhibition directly supports these artists.<br/>
						<br/>
						100% of your payments are distributed to the artists whose work you will be appreciating.<br/>
						<br/>
						If you are unable to support the artists on Centerfold with a monetary donation, let us know at <a href="mailto:support@centerfold.gallery?subject=Thank you for keeping art accessible" target="_blank" class="inline-link">support@centerfold.gallery</a>. We think people who have the means to pay to view art should donate, but don't think art should be inaccessible. Let us know and and we will send you a specialized link where you can view the Centerfold Series Exhibition.
					</div>
					<div class="faqs-question" id="im-an-educator">
						I'm an educator and would like my class to view and vote in a Centerfold Series Exhibition, can we donate in bulk at a reduced admission cost?
					</div>
					<div class="faqs-answer">
						Yes! There are bulk donation amounts available for educators to allow their classes to access and vote in a Centerfold Series Exhibition. Please send us an email at <a href="mailto:support@centerfold.gallery?subject=I am an educator interested in bulk pricing for my students!" target="_blank" class="inline-link">support@centerfold.gallery</a> to discuss and get special links set up for your classes.
					</div>
					<div class="faqs-question" id="donate-to-cf">
						Can I support Centerfold directly?
					</div>
					<div class="faqs-answer">
						We'd love the support. There are few ways to support us:<br/>
						<br/>
						&#x2022; Buy something! If you shop for artwork on our <a href="./art" class="inline-link">Marketplace</a>, we'll receive a 25% commission on sales processed from the artists we represent. That way, not only do you support us, you support the artist, and you have a beautiful piece of art to hang at home, or the office, or wherever!<br/>
						<br/>
						&#x2022; Donate to us directly. You can donate here: [donate link]!!!!!!!!!!!!!!!!!!!!!add this link!!!!<br/>
						<br/>
						&#x2022; Sign up to support us on Patreon. You can find out more about what it means to be a Centerfold Patron on our <a href="https://www.patreon.com/centerfold" target="_blank" class="inline-link">Patreon</a>.
					</div>
					<div class="faqs-question" id="i-only-have-one-friend">
						I only want to give money to one artist? Why can't I?
					</div>
					<div class="faqs-answer">
						Our focus at Centerfold is to support the artistic community as a whole, rather than one artist in particular. For this reason, any payment we receive is distributed to all the artists that are part of the exhibition. You can support your favourite artist directly by casting a vote in their favour, or by buying one of their artworks.<br/>
						<br/>
						Use one of your 3 votes to vote for an artist you've just discovered!
					</div>
					<div class="faqs-question" id="series-refund">
						Can I get a refund on my donation?
					</div>
					<div class="faqs-answer">
						We do not issue any refunds on donations.<br/>
						<br/>
						For refunds on artworks, see <a href="#marketplace-refund" class="inline-link">here</a>.
					</div>
					<div class="faqs-question" id="series-buy">
						Can I buy any of the artwork? How does that work?
					</div>
					<div class="faqs-answer">
						You can buy any artwork in the exhibition by clicking on the “Buy Button” that appears when you hover the mouse over the image. Clicking here will bring you to a page where you can purchase that particular artwork.<br/>
						<br/>
						95% of the funds from the sale of works that are being shown in a Centerfold Series Exhibition are paid to the creator of the artwork you purchased. The other 5% is put into the donation pool to be distributed amongst all the artists in the show based on the amount of votes they received.<br/>
						<br/>
						Once your transaction has been approved, we will contact the artist. Artists are responsible for shipping and handling the artwork. Please allow up to 5 business days for the artist to prepare the artwork for shipping. Shipping timelines vary on source and final destination, but we'll be in touch with you every step of the way.<br/>
						<br/>
						For more information on buying artwork, see [link to marketplace FAQ].
					</div>

				</div>


				<div class="footer-space"></div>
				{{> footer}}
            </div>
        </div>
		<footer>
			{{> body-end}}
			<script>
if (window.screen.width > 780) {
  document.write(
  '<script src="{{static_url}}js/three/laurent-3D.js"><\/script>'
  )
}
</script>
	    </footer>
    </body>
</html>
